<!DOCTYPE html>
<html>
<head>
    <title>The Immigration Hub</title>

</head>
<body>
    <div id='toTop'>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <div class="container-fluid" style="background:#f5f5f5;">
      <ih-website-header></ih-website-header>
        <div class="row">
            <div class="blueHeader">Simple and Flexible Pricing Built for Everyone</div>

            <div class="container pricingoptions">
                <div class="row">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="picebox">
                                <span class="pricetype">Basic</span>
                                <div class="permonth">

                                    <span class="price">$75</span> / Month
                                    <p>
                                        3 Immigration Users<br>
                                        15 Clients/Month<br>
                                        30 Petitions/Month<br>
                                        250 GB of S3 Storage
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="picebox">
                                <span class="pricetype">Premium</span>
                                <div class="permonth">

                                    <span class="price">$100</span> / Month
                                    <p>
                                        3 Immigration Users<br>
                                        15 Clients/Month<br>
                                        30 Petitions/Month<br>
                                        250 GB of S3 Storage
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="picebox" style="position: relative;">
                                <div class="corner-ribbon top-left sticky voilet shadow">Popular</div>
                                <span class="pricetype">Pro</span>
                                <div class="permonth">

                                    <span class="price">$125</span> / Month
                                    <p>
                                        3 Immigration Users<br>
                                        15 Clients/Month<br>
                                        30 Petitions/Month<br>
                                        250 GB of S3 Storage
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="picebox">
                                <span class="pricetype">Enterprise</span>
                                <div class="permonth">

                                    <span class="price">$150</span> / Month
                                    <p>
                                        3 Immigration Users<br>
                                        15 Clients/Month<br>
                                        30 Petitions/Month<br>
                                        250 GB of S3 Storage
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container enjoy">
                Enjoy Flexible <span>Add-On</span> Benifits<br>
                for all plans with low prices
            </div>
        </div>
        <div class="row">
            <div class="container datatbl">
                <div class="row theads">
                    <div class="col-md-4"><span class="tblname">Users</span></div>
                    <div class="col-md-4">Immigration Users</div>
                    <div class="col-md-4">Price / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
            </div>
            <div class="container datatbl">
                <div class="row theads">
                    <div class="col-md-4"><span class="tblname">Clients</span></div>
                    <div class="col-md-4">Number of Clients</div>
                    <div class="col-md-4">Price / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
            </div>
            <div class="container datatbl">
                <div class="row theads">
                    <div class="col-md-4"><span class="tblname">Petitions</span></div>
                    <div class="col-md-4">Number of  Users</div>
                    <div class="col-md-4">Price / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
            </div>
            <div class="container datatbl">
                <div class="row theads">
                    <div class="col-md-4"><span class="tblname">Storage</span></div>
                    <div class="col-md-4">Special Space</div>
                    <div class="col-md-4">Price / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
                <div class="row dataitem">
                    <div class="col-md-4">Premium</div>
                    <div class="col-md-4">10 Users</div>
                    <div class="col-md-4">$10 / Month</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="requestademo">

            </div>
        </div>
      <ih-website-footer></ih-website-footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>

    <script type="text/javascript">
         $(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('#toTop').fadeIn();
    } else {
        $('#toTop').fadeOut();
    }
});

         $('#toTop').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
 });
    </script>
</body>
</html>
