<div class="main-content" *ngIf="getProducts">
  <!--  <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>-->
    <ul class="breadcrumb">
        <li><a href="#">Clients</a></li>
        <li><a href="#">Visas</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>Products<button type="button" class="iportal-btn pull-right no-marg-right" (click)="addProduct()">ADD</button></h2>
         <!--   <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>-->
         <table class="smarttable document-management" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td class="actions" style="width:100px;">
                        <span>Actions</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Name</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Code</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Max Users</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Max Clients/Month</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Max Petitions/Month</span> <span class="pull-right"></span>
                    </td>
                     <td>
                        <span>Max S3 Storage</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Cost</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Status</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>Created On</span> <span class="pull-right"></span>
                    </td>
                    <td>
                        <span>View Details</span> <span class="pull-right"></span>
                    </td>
                </tr>
            </thead>
            <tbody>
               
                <tr *ngFor="let productDet of products; let i=index">
                    <td class="actions">
                        <ul class="edit-delete">
                            <li *ngIf="rowEdit[i]==true"><a (click)="editQuestionnaire(i,questionnaireClient)"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                            <li *ngIf="rowEdit[i]==false"><a (click)="saveQuestionnaire(i,questionnaireClient)"><i class="fa fa-check" aria-hidden="true"></i></a></li>
                            <li *ngIf="rowEdit[i]==false"><a (click)="cancelQuestionnaire(i,questionnaireClient)"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                            <li *ngIf="rowEdit[i]==true"><a (click)="deleteConfirm(i,questionnaireClient)"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                        </ul>
                    </td>
                   <td>
                       <span>{{productDet.name}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.code}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.maxUsers}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.maxClients}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.maxPetitions}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.maxStorage}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.cost}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.status}}</span>  
                    </td>
                    <td>
                       <span>{{productDet.createdOn}}</span>  
                    </td>
                    <td>
                        <button (click)="viewDetails(productDet,i)">View</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
         
        <div class="clearfix"></div>
    </div>
</div>

<div *ngIf="viewPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">Name:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.name" class="form-control"></div>
                            <div class="col-md-4">Code:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.code" class="form-control"></div>
                            <div class="col-md-4">Description:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.description" class="form-control"></div>
                            <div class="col-md-4">Max Users:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.maxUsers" class="form-control"></div>
                            <div class="col-md-4">Max Clients/Month:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.maxClients" class="form-control"></div>
                            <div class="col-md-4">Max Petitions/Month:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.maxPetitions" class="form-control"></div>
                            <div class="col-md-4">Max S3 Storage:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.maxStorage" class="form-control"></div>
                            <div class="col-md-4">Cost:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.cost" class="form-control"></div>
                            <div class="col-md-4">Status:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.status" class="form-control"></div>
                            <div class="col-md-4">Created On:</div>
                            <div class="col-md-8"><input type="text" [disabled]="true" [(ngModel)]="product.createdOn" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--<div *ngIf="addPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                           <div class="col-md-4">Name:</div>
                           <div class="col-md-8"><input type="text" [(ngModel)]="addProduct.name" class="form-control"></div>
                           <div class="col-md-4">Code:</div>
                           <div class="col-md-8"><input type="text" [(ngModel)]="addProduct.code" class="form-control"></div>
                           <div class="col-md-4">Cost:</div>
                           <div class="col-md-8"><input type="text" [(ngModel)]="addProduct.cost" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="visaSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>-->

