<div class="main-content">

    <div class="table-data-forms">
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px!important;font-size: 18px!important;color: #4EA0F9 !important;">Petitioner Details</h2>
      <!--<div class="col-md-12 addresbox box-shadow" style="padding:0px 2px 15px 18px !important;">-->
        <div class="col-md-6 col-sm-6 col-xs-12 no-pad-left" style="margin-top: 12px !important;">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Basic Petitioner Info</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="editProfileForm()" *ngIf="isProfileEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isProfileEdit">
                  <button type="button" (click)="cancelProfileEdit()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isProfileEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;" (click)="saveOrgProfile()" *ngIf="isProfileEdit==false">Save</button>
                </div>
              </div>

            </div>
            <div class="row sfm" *ngIf="warningMessage">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-county">File Number <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [readonly]="true" [ngClass]="orgDetails.fileNumber == '' ? 'redborder': ''" [disabled]="isProfileEdit" id="wa-county" [(ngModel)]="orgDetails.fileNumber" />
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.fileNumber}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-taxid">Name</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [ngClass]="orgDetails.orgName == '' ? 'redborder': ''" [disabled]="isProfileEdit" id="wa-taxid" [(ngModel)]="orgDetails.orgName" />
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.orgName}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-taxid">Display Name<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [ngClass]="orgDetails.displayName == '' ? 'redborder': ''" [disabled]="isProfileEdit" id="wa-taxid" [(ngModel)]="orgDetails.displayName" />
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.displayName}}</span>-->
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"><label for="wa-name">Type</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isProfileEdit" id="wa-state" [readonly]="true" [(ngModel)]="orgDetails.orgType" />
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.orgType}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-door">Name on Forms <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [ngClass]="orgDetails.nameOnForms == '' ? 'redborder': ''" [disabled]="isProfileEdit" id="wa-door" [readonly]="isProfileEdit" [(ngModel)]="orgDetails.nameOnForms" />
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.nameOnForms}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-status">Status <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <select style="border-radius: 4px;" [disabled]="isProfileEdit" [ngClass]="orgDetails.status == '' ? 'redborder': ''" [(ngModel)]="orgDetails.status">
                  <option *ngFor="let orgStatus of status">{{orgStatus.name}}</option>
                </select>
                <!--<span *ngIf="isProfileEdit==true">{{orgDetails.status}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Open Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isProfileEdit" id="wa-openDate" [options]="datePikcerOptions" [(ngModel)]="orgDetails.openDate" [selDate]="openDate">
                </my-date-picker>
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.openDate}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-state">FED ID</label></div>
              <div class="col-md-8"><input style="border-radius: 4px;" type="text" [disabled]="isProfileEdit" id="wa-state" [readonly]="isProfileEdit" [(ngModel)]="orgDetails.fedId" />
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.fedId}}</span></div>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-email">Communication email <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [formControl]="email" [ngClass]="orgDetails.email == '' ? 'redborder': ''" [disabled]="isProfileEdit" id="wa-email" required [readonly]="isProfileEdit" [(ngModel)]="orgDetails.email" />
                <!--<span  style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.email}}</span>-->
              </div>
            </div>
            <div class="row sfm" *ngIf="email.touched">
              <div class="col-md-12">
                <div class="redstar" *ngIf="email.errors && email.errors.required">
                  * Email is required
                </div>
                <div class="redstar" *ngIf="email.errors && email.errors.pattern">
                  * Email is invalid
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-country">Mark for Deletion</label></div>
              <div class="col-md-8">
                <select style="border-radius: 4px;" [disabled]="isProfileEdit" [(ngModel)]="orgDetails.markForDeletion">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.markForDeletion ? 'Yes' : 'No'}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-country">Mark For Deletion details</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isProfileEdit" [readonly]=true
                       [(ngModel)]="orgDetails.markedForDeletionBy" />
                <!--<span style="border-radius: 4px;" *ngIf="isProfileEdit==true">{{orgDetails.markedForDeletionBy}}</span>-->
              </div>
            </div>
            <div class="row sfm" *ngIf="warningMessage">
              <div class="col-md-12">
                <span style="border-radius: 4px;" class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="isProfileEdit">
                  <button type="button" (click)="cancelProfileEdit()"class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;" *ngIf="isProfileEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient"style="margin-top: 4px!important;color: #008000 !important;" (click)="saveOrgProfile()" *ngIf="isProfileEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow" style="margin-top: 12px !important;">
            <div class="row">
              <div class="col-md-12">
                <h2>Signing Person Details</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="editSigninDetails()" *ngIf="isSigninEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isSigninEdit">
                  <button type="button" (click)="cancelSigninEdit()"class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isSigninEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;" (click)="saveSignInformation()" *ngIf="isSigninEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Name</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinDetails.name" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinDetails.name}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Title</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinDetails.title" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinDetails.title}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Email</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinDetails.email" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinDetails.email}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Telephone Number</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinDetails.tnNo" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinDetails.tnNo}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Fax</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinDetails.fax" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinDetails.fax}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Country</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.country" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.country}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Time Zone</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.timeZone" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.timeZone}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Street 1</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.street1" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.street1}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Street 2</label></div>
              <div class="col-md-8">
                <input type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.street2" />
                <!--<span *ngIf="isSigninEdit==true">{{signinAddress.street2}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8">
                <select style="border-radius: 4px;" [disabled]="isSigninEdit" id="ivPetitionerAdrInfApt" [(ngModel)]="signinAddress.aptType">
                  <option id="APT" value="APT">APT</option>
                  <option id="STE" value="STE">STE</option>
                  <option id="FLR" value="FLR">FLR</option>
                  <option id="DOOR" value="DOOR">DOOR</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Number</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.aptNo" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.aptNo}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">City</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.city" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.city}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">County</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.county" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.county}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">State</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.state" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.state}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Zip Code</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isSigninEdit" [readonly]="isEdit" [(ngModel)]="signinAddress.zipCode" />
                <!--<span style="border-radius: 4px;" *ngIf="isSigninEdit==true">{{signinAddress.zipCode}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tbl-head-btn" [hidden]="isSigninEdit">
                  <button type="button" (click)="cancelSigninEdit()"class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;" *ngIf="isSigninEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient"style="margin-top: 4px!important;color: #008000 !important;" (click)="saveSignInformation()" *ngIf="isSigninEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-6 col-xs-12 no-pad-left">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-md-12">
                <h2>Administrative Person Details</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="editAdminDetails()" *ngIf="isAdminEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isAdminEdit">
                  <button type="button" (click)="cancelAdminEdit()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isAdminEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;" (click)="saveAdminInformation()" *ngIf="isAdminEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Name</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeDetails.name" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Title</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeDetails.title" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Email</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeDetails.email" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Telephone Number</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeDetails.tnNo" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Fax</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeDetails.fax" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Country</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.country" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Time Zone</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.timeZone" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Street 1</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.street1" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Street 2</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.street2" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8">
                <select style="border-radius: 4px;" [disabled]="isAdminEdit" id="ivPetitionerAdrInfApt" [(ngModel)]="adminstrativeAddress.aptType">
                  <option id="APT" value="APT">APT</option>
                  <option id="STE" value="STE">STE</option>
                  <option id="FLR" value="FLR">FLR</option>
                  <option id="DOOR" value="DOOR">DOOR</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Number</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.aptNo" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">City</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.city" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">County</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.county" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">State</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.state" />
                <!--<span style="border-radius: 4px;" *ngIf="isAdminEdit==true">{{adminstrativeAddress.state}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Zip Code</label></div>
              <div class="col-md-8">
                <input style="border-radius: 4px;" type="text" [disabled]="isAdminEdit" [readonly]="isEdit" [(ngModel)]="adminstrativeAddress.zipCode" />
                <!--<span style="border-radius: 4px;" *ngIf="isAdminEdit==true">{{adminstrativeAddress.zipCode}}</span>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tbl-head-btn" [hidden]="isAdminEdit">
                  <button type="button" (click)="cancelAdminEdit()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;" *ngIf="isAdminEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient"style="margin-top: 4px!important;color: #008000 !important;" (click)="saveAdminInformation()" *ngIf="isAdminEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
</div>
