
<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
        <div class="col-md-12">
            <h2>Basic Information About the Proposed Employment and Employer</h2>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                <div class="row">
                    <div class="col-md-12">Attach the Form I-129 supplement relevant to the classification of the worker(s) you are requesting.</div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">Job Title</div>
                            <div class="col-md-6"><input type="text" /></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">LCA or ETA Case Number</div>
                            <div class="col-md-6"><input type="text" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
