<div class="main-content" *ngIf="getClientsData">
    <!--<h1>{{user.lastName}} {{user.firstName}}</h1>-->
    <ul class="breadcrumb">
        <li><a href="#">Clients</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>Clients</h2>
        <smart-table [settings]="settings" [data]="data"
                     (onAddClick)="addNewCli($event)" (onRowClick)="onUserRowClick($event)"  (onColumnFilterClick)="filterData($event)"></smart-table>
        
    </div>
</div>

<div *ngIf="addNewClient">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        
                        <div class="row">
                            <div class="col-md-4">First Name:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="newclitem.firstName" [ngClass]="newclitem.firstName == '' ? 'redborder': ''"
                                    class="form-control"></div>
                            <div class="col-md-4">Last Name:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="newclitem.lastName" [ngClass]="newclitem.lastName == '' ? 'redborder': ''"
                                    class="form-control"></div>
                            <div class="col-md-4">Email:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="newclitem.email" [ngClass]="newclitem.email == '' ? 'redborder': ''"
                                    class="form-control"></div>
                            <div class="col-md-4">Phone:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="newclitem.phone" [ngClass]="newclitem.phone == '' ? 'redborder': ''"
                                    class="form-control"></div>
                        </div>
                        <div class="row sfm" *ngIf="warningMessage">
                            <div class="col-md-12">
                                <span class="redstar">* Fields are Mandatory.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="clientSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>