
<div class="main-content">
    <ul class="breadcrumb">
        <li><a href="#">Account Invoice</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>
            <span>Account Invoice</span>
            <button type="button" class="iportal-btn pull-right no-marg-right">ADD</button>
        </h2>
        <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="onEditConfirm($event)" (create)="onCreateConfirm($event)"></ng2-smart-table>
        <div class="clearfix"></div>
    </div>
</div>