
<div class="main-content" *ngIf="getInvoice">
    <ul class="breadcrumb">
        <li><a href="#">Account Invoice</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>
            <span>Account Invoice</span>
            <button type="button" class="iportal-btn pull-right no-marg-right" (click)="addNewInvoice()">ADD</button>
        </h2>
        <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="onEditConfirm($event)"></ng2-smart-table>
        <div class="clearfix"></div>
    </div>

    <div class="table-data">
        <h2>Invoice Info</h2>
        <div class="row">   
            <div class="col-md-1"></div>      
            <div class="col-md-3">Invoice Number:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Invoice Date:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Invoice Amount:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Account Name:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Account Number:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Product Codes:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Discount Codes:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Payment Status:</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Invoice (PDF Name):</div>
            <div class="col-md-8"><input type="text" class="form-control" disabled></div>
        </div>
        <button type="button" class="iportal-btn pull-right no-marg-right">Upload Invoice</button>
           
    </div>
</div><div *ngIf="addInvoice">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">Invoice Number:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="newInvoice.invoiceNumber" class="form-control"></div>
                            <div class="col-md-4">Invoice Date:</div>
                            <div class="col-md-8">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="newInvoice.invoiceDate"
                                                [selDate]="invoiceDate"></my-date-picker>   
                            </div>
                            <div class="col-md-4">Invoice Amount:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="newInvoice.invoiceAmount" class="form-control"></div>
                            <div class="col-md-4">Payment Received:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="newInvoice.paymentReceived" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="dependentSave()">SAVE</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>