    <style>
    .myclass {
      float: right;
      margin: 20px 0px 0 0;
      border: none;
      background:darkgray;
      color: #d4d4d4 !important;
      border-radius: 5px;
      padding: 8px 15px;
    }
    </style>
<div class="main-content" *ngIf="getQuestionnaireData">

    <div class="table-data">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}}</h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>

        <div class="clearfix"></div>
        <h2>
            <span>Client</span>      
        </h2>
        <smart-table [settings]="settings" [data]="data"
                     (onAddClick)="addNewQuestionnaire($event)" (onRowClick)="editQuestionnaire($event)" (onDeleteClick)="deleteConfirm($event)" ></smart-table>
        <button [(disabled)]="sendQuestionnaire" type="submit" class="submitbtn" (click)="sendQuestionnaireClient()" [ngClass]="{'myclass':sendQuestionnaire,'submitbtn':!sendQuestionnaire}">Send Questionnaire to client </button>
        <div class="clearfix"></div>

        <h2>
            <span>Immigration Officer</span>
        </h2>
         <smart-table [settings]="settings1" [data]="officerData"
                     (onAddClick)="addNewQuestionnaire($event)" (onRowClick)="editEmpQuestionnaire($event)" (onDeleteClick)="deleteEmpQuestionnaire($event)" ></smart-table>
    </div>
</div>




<div *ngIf="showAddQuestionnairepopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5" *ngIf="addquspopup"><span class="redstar">*</span> Form Name :</div>
                            <div class="col-md-7" *ngIf="addquspopup">
                                <select [(ngModel)]="newQuestionnaireitem.formId"  class="form-control" [ngClass]="newQuestionnaireitem.formId == '' ? 'redborder': ''">
                                    <option *ngFor="let x of formsList" [ngValue]="x.applicationFormsId" [selected]="x.applicationFormsId === questionnaire.formId">{{x.formName}}</option>
                                </select>
                            </div>
                            <div class="col-md-5"><span class="redstar">*</span> Questionnaire Name :</div>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="newQuestionnaireitem.questionnaireName" class="form-control" [ngClass]="newQuestionnaireitem.questionnaireName == '' ? 'redborder': ''" />
                            </div>
                            <div class="col-md-5" *ngIf="editquspopup"><span class="redstar">*</span> Status :</div>
                            <div class="col-md-7" *ngIf="editquspopup">
                                <select [(ngModel)]="newQuestionnaireitem.clientStatus" class="form-control">
                                    <option *ngFor="let x of status">{{x.clientStatus}}</option>
                                </select>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="sfmQuestionnaire">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="questionnaireSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div *ngIf="showAddEmpQuespopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Questionnaire Name :</div>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="questionnaireEmployee.questionnaireName" class="form-control" />
                            </div>
                            <div class="col-md-5">Status :</div>
                            <div class="col-md-7">
                                <select [(ngModel)]="questionnaireEmployee.employerStatus" class="form-control">
                                    <option *ngFor="let x of employerStatus">{{x.employerStatus}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="empquestionnaireSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="empcancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

