<div class="main-content">

    <div class="table-data-forms">
        <h1>{{userList.firstName}} {{userList.lastName}}</h1>
        <ul class="breadcrumb">
            <li><a href="#">Clients</a></li>
            <li><a href="#">Visas</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Profile</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editProfileForm()" *ngIf="isUserEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isUserEdit">
                                <button type="button" (click)="cancelProfileEdit()" class="editbtn tbl-head-btn" *ngIf="isUserEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveUserProfile()" *ngIf="isUserEdit==false">Save</button>
                            </div>
                        </div>

                    </div>

                    <div class="row" *ngIf="warningMessage">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label for="wa-county">First Name<span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isUserEdit==false" id="wa-county" [(ngModel)]="userList.firstName" [ngClass]="userList.firstName == '' ? 'redborder': ''"
                            /><span *ngIf="isUserEdit==true">{{userList.firstName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="wa-zip">Last Name<span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isUserEdit==false" id="wa-zip" [(ngModel)]="userList.lastName" [ngClass]="userList.lastName == '' ? 'redborder': ''"
                            /><span *ngIf="isUserEdit==true">{{userList.lastName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="wa-city">Email<span class="redstar">*</span></label></div>
                        <div class="col-md-8">

                            <span>{{userList.emailId}}</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="wa-country">Phone Number</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isUserEdit==false" id="wa-country" [(ngModel)]="userList.phoneNumber" />
                            <span *ngIf="isUserEdit==true">{{userList.phoneNumber}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="wa-city">Role<span class="redstar">*</span></label></div>
                        <div class="col-md-8">

                            <select [(ngModel)]="userList.role" class="form-control" *ngIf="isUserEdit==false">
                                    <option value="Immigration Officer">Immigration Officer</option>
                                    <option value="Immigration Manager">Immigration Manager</option>
                                </select>
                            <span *ngIf="isUserEdit==true">{{userList.role}}</span>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Orgs Accessible:</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editOrgsAccess()" *ngIf="isAccessEdit==true">Edit</button>
                            <div class="tbl-head-btn">
                                <button type="button" (click)="cancelOrgsAccess()" class="editbtn tbl-head-btn" *ngIf="isAccess==true">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveOrgsAccess()" *ngIf="isAccess==true">Save</button>
                            </div>
                        </div>

                    </div>

                    <div class="fieldset">
                        <div class="clearfix"></div>
                        <div class="scrollpurpus">
                            <div class="chkbox" *ngFor="let x of orgsList">
                                <input #orgcheckBox type="checkbox" [checked]="x.orgAccessible" name="orgName" [disabled]="orgsAcces" [(ngModel)]="x.orgAccessible"
                                /><span>{{x.orgName}}</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
           
             
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Login History</h2>
                        </div>

                    </div>
                    <div class="table-data">
                        <smart-table  [settings]="settings" [data]="data"></smart-table>
                    </div>
               
        </div>
    </div>
</div>