

<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
    }

    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }

    html, body {
        height: 100%;
    }

</style>

<div class="dropzone">
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix"></div>
            <h2 class="headerinsections" style="font-size: 18px!important;color: #4EA0F9 !important;">Document</h2>
            <h3>Upload Files</h3>
            <div class="dropboxBg">
                <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="well my-drop-zone">
                    <input type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" multiple /> from computer. Or Drop them Here.
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <h3 *ngIf="uploader.queue.length > 0">Upload queue {{ uploader?.queue?.length }}</h3>
            <table class="table" *ngIf="uploader.queue.length > 0">
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td>{{ item?.file?.name }}</td>
                        <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3>Uploaded Files {{ getFiles.length }}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Updated On</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let pdf of getFiles" (Click)="editFileName($event)">
                        <td>{{ pdf.fileName }}</td>
                        <td>{{ pdf.updatedDate }}</td>
                        <td nowrap>
                            <button title="Download" type="button" class="btn btn-success btn-xs" (click)="onDownloadClick(pdf)">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                            <div class="fileUpload">
                                <div>
                                    <i class="fa fa-files-o" aria-hidden="true"></i>
                                </div>
                                <input type="file" #fileInput  (change)="onReplaceClick($event, pdf)" class="upload" name="file" />
                            </div>
                            <button title="Remove" type="button" class="btn btn-danger btn-xs" (click)="onDeleteClick(pdf)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="editFiles">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">File Name:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="editFileObject.fileName" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">Please Enter some file name.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="save()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
