<div class="main-content">
    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 addresbox box-shadow" style="padding:12px 15px 12px !important;">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Current Job Info</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editJobInfoForm()" id="ivClientDtlsJDtlsEdit" *ngIf="isjobdetailsEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isjobdetailsEdit">
                                <button type="button" (click)="cancelJobInfoEdit()" id="ivClientDtlsJDtlsCancel" class="editbtn tbl-head-btn" *ngIf="isjobdetailsEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" id="ivClientDtlsJDtlsSave" (click)="saveJobInformation()" *ngIf="isjobdetailsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsTitle">Job Title</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsTitle" class="disabled"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.jobTitle" style="cursor: default!important;" />
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.jobTitle}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsType">Job Type</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsType" class="disabled"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.jobType" style="cursor: default!important;" />
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.jobType}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsCode">Job Code</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsCode" class="disabled"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.jobCode" style="cursor: default!important;" />
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.jobCode}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsSal">Annual Salary</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsSal"class="disabled"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.annualSalary" style="cursor: default!important;" />
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.annualSalary}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsDuties">Duties And Responsibilites</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsDuties" class="disabled"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.dutiesAndResponsibilities"  style="cursor: default!important;"/>
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.dutiesAndResponsibilities}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsProjName">Project Name</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsProjName" class="disabled"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.projectName" style="cursor: default!important;"  />
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.projectName}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsProjCode">Project Code</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsProjCode" *ngIf="isjobdetailsEdit==false" [(ngModel)]="jobDetails.projectCode" style="cursor: default!important;"  />
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.projectCode}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsNoHrs">No Of Hours/Week</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsNoHrs" class="disabled"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.noOfHoursPerWeek" style="cursor: default!important;"  />
                            <!--<span *ngIf="isjobdetailsEdit==true">{{jobDetails.noOfHoursPerWeek}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsHireDate">Hire Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isjobdetailsEdit==false" id="ivClientDtlsJDtlsHireDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="jobDetails.hireDate" [selDate]="hireDate"></my-date-picker>
                            <span *ngIf="isjobdetailsEdit==true">{{jobDetails.hireDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsIntHireDate">International Hire Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsIntHireDate" *ngIf="isjobdetailsEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="jobDetails.internationalHireDate" [selDate]="internationalHireDate"></my-date-picker>
                            <span *ngIf="isjobdetailsEdit==true">{{jobDetails.internationalHireDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsReHireDate">Rehire Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsReHireDate" *ngIf="isjobdetailsEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="jobDetails.rehireDate" [selDate]="rehireDate"></my-date-picker>
                            <span *ngIf="isjobdetailsEdit==true">{{jobDetails.rehireDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsLastWorkDate">Last Day Worked Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsLastWorkDate" *ngIf="isjobdetailsEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="jobDetails.lastDayWorkedDate" [selDate]="lastDayWorkedDate"></my-date-picker>
                            <span *ngIf="isjobdetailsEdit==true">{{jobDetails.lastDayWorkedDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsTermDate">Termination Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsTermDate" *ngIf="isjobdetailsEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="jobDetails.terminationDate" [selDate]="terminationDate"></my-date-picker>
                            <span *ngIf="isjobdetailsEdit==true">{{jobDetails.terminationDate}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="isjobdetailsEdit">
                                <button type="button" (click)="cancelJobInfoEdit()" id="ivClientDtlsJDtlsCancel1" class="editbtn tbl-head-btn bottombtns" *ngIf="isjobdetailsEdit==false">Cancel</button>
                                <button type="submit" value="Save" id="ivClientDtlsJDtlsSave1" class="savebtn bottombtns" (click)="saveJobInformation()" *ngIf="isjobdetailsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
