<div class="main-content">

    <div class="clearfix"></div>
    <div class="table-data-forms">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Account Info</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editForm()" *ngIf="isEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isEdit">
                                <button type="button" (click)="cancelEdit()" class="editbtn tbl-head-btn" *ngIf="isEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveAccountDetails()" *ngIf="isEdit==false">Save</button>
                            </div>
                        </div>

                    </div>
                    <div class="row sfm" *ngIf="errormsg">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-name">Account Name <span class="redstar">*</span></label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ad-name" [ngClass]="accountDetails.accountName == '' ? 'redborder': ''" [(ngModel)]="accountDetails.accountName" />
                        <span *ngIf="isEdit==true">{{accountDetails.accountName}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-number">Account Number <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <input *ngIf="isEdit==false" type="text" [(ngModel)]="accountDetails.accountNumber" disabled />
                            <span *ngIf="isEdit==true">{{accountDetails.accountNumber}}</span>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-firstname">First Name <span class="redstar">*</span></label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ad-fname" [ngClass]="accountDetails.firstName == '' ? 'redborder': ''" [(ngModel)]="accountDetails.firstName" />
                        <span *ngIf="isEdit==true">{{accountDetails.firstName}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-lastname">Last Name <span class="redstar">*</span></label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ad-lname" [ngClass]="accountDetails.lastName == '' ? 'redborder': ''" [(ngModel)]="accountDetails.lastName" />
                        <span *ngIf="isEdit==true">{{accountDetails.lastName}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-email">Email <span class="redstar">*</span></label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ad-email" [ngClass]="accountDetails.email == '' ? 'redborder': ''" [(ngModel)]="accountDetails.email" />
                        <span *ngIf="isEdit==true">{{accountDetails.email}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-phone">Phone <span class="redstar">*</span></label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ad-phone" [ngClass]="accountDetails.phone == '' ? 'redborder': ''" [(ngModel)]="accountDetails.phone" />
                        <span *ngIf="isEdit==true">{{accountDetails.phone}}</span></div>
                    </div>
                    <div class="row">
                       <div class="col-md-4"><label for="accountdetails-createdon">Created On</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isEdit==false" id="ad-createdon" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="accountDetails.createdOn" [selDate]="createdOn">
                            </my-date-picker>
                            <span *ngIf="isEdit==true">{{accountDetails.createdOn}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-status">Status <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <select *ngIf="isEdit==false" [(ngModel)]="accountDetails.status" [ngClass]="accountDetails.status == '' ? 'redborder': ''" class="form-control" (change)="statuschange()">
                                <option [value]="status.value" *ngFor="let status of accountStatus()">{{status.name}}</option>
                            </select>
                        <span *ngIf="isEdit==true">{{accountDetails.status}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-lastpay">Last Payment Status</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ad-lastpay" [(ngModel)]="accountDetails.lastPaymentStatus" />
                        <span *ngIf="isEdit==true">{{accountDetails.lastPaymentStatus}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-storage">Storage Type <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <select *ngIf="isEditstorage==false" [(ngModel)]="accountDetails.storageType" [ngClass]="accountDetails.storageType == '' ? 'redborder': ''" class="form-control">
                                <option value="S3">S3</option>
                                <option value="GD">GD</option>
                            </select>
                        <span *ngIf="isEditstorage==true" >{{accountDetails.storageType}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-mark">Mark for Deletion <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <select *ngIf="isEdit==false" [(ngModel)]="accountDetails.markForDeletion" [ngClass]="accountDetails.markForDeletion == undefined ? 'redborder': ''" class="form-control">
                                <option [value]="true" [selected] = "accountDetails.markForDeletion == true">YES</option>
                                <option [value]="false" [selected] = "accountDetails.markForDeletion == false">NO</option>
                            </select>
                        <span *ngIf="isEdit==true">{{accountDetails.markForDeletion? 'YES' : 'NO'}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-byuser">Mark For Deletion details</label></div>
                        <div class="col-md-8">
                            <input *ngIf="isEdit==false" type="text" [(ngModel)]="accountDetails.mfdBy" disabled />
                            <span *ngIf="isEdit==true">{{accountDetails.mfdBy}}</span>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="accountdetails-comments">Notes/Comments</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ad-comment" [(ngModel)]="accountDetails.notes" /><span *ngIf="isEdit==true">{{accountDetails.notes}}</span></div>
                    </div>
                    <div class="row sfm" *ngIf="errormsg">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
