/*ag-grid Table Styles*/
.ag-fresh .ag-root {
  border: 1px solid #e0e0e0 !important;
  border-radius: 5px; }

.ag-fresh .ag-header {
  border-bottom: 1px solid #e0e0e0 !important; }

.ag-layout-normal .ag-header-row {
  background: #eaeaeb; }

.ag-fresh .ag-ltr .ag-header-cell {
  border-right: 1px solid #e0e0e0 !important;
  color: #2f323a !important;
  font-size: 14px !important;
  font-weight: 700;
  text-align: left;
  padding:0px 10px 0 10px; }

.ag-fresh .ag-ltr .ag-cell-no-focus, .ag-fresh .ag-ltr .ag-cell-focus {
  padding: .5em 1em;
  border-right: 1px solid #e0e0e0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
  outline: none;
  border : none;
}

.ag-fresh .ag-row-odd {
  background: #fff !important;
  cursor: pointer; }

.ag-fresh .ag-row-odd:hover {
  background: #d4e6fd !important; }

.ag-fresh .ag-row-even {
  background: #f6f9fd !important;
  cursor: pointer; }

.ag-fresh .ag-row-even:hover {
  background: #d4e6fd !important; }

.ag-layout-auto-height .ag-header-row {
  background: #eaeaeb !important; }

.customfilterinput {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 34px; }

.addremovefilter {
  width: 40px;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 20px; }
  .addremovefilter .close {
    float: right;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: red;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    cursor: pointer; }
  .addremovefilter .plus {
    float: right;
    font-size: 14px;
    font-weight: 300;
    /* line-height: 1; */
    color: #fff;
    /* text-shadow: 0 1px 0 #fff; */
    /* opacity: .8; */
    cursor: pointer;
    background: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0 0 0;

  }

.addedfilter {
  background: #5093e1 !important;
  padding: 3px 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  margin: 0px 10px 5px 0;
  float: left; }
  .addedfilter .filtretype {
    font-weight: 600;
    margin-right: 5px; }
  .addedfilter .filtrename {
    margin-right: 5px; }

.agridadd {
  margin-top: 0px;
  margin-left:12px;
}

.itemsperpage {
  float: right;
  margin:0px; }

.modal-dialog {
  margin: 15% auto 0px auto; }
  .modal-dialog .modal-content {
    background: #32353e;
    border: solid 2px #000;
    padding-bottom: 15px; }
    .modal-dialog .modal-content .modal-header {
      display: block !important; }
      .modal-dialog .modal-content .modal-header .close {
        float: right;
        color: #e9eaec !important;
        text-shadow: none !important;
        opacity: 10 !important; }
      .modal-dialog .modal-content .modal-header .modal-title {
        float: left;
        color: #e9eaec;
        font-size: 18px;
        /* border-color: rgba(255, 255, 255, 0.2); */
        font-weight: 500;
        margin-bottom: 0px !important; }
    .modal-dialog .modal-content .modal-body {
      margin: 0px 15px;
      border-radius: 5px;
      background: #fff; }
      .modal-dialog .modal-content .modal-body .btn-primary, .modal-dialog .modal-content .modal-body .btn-default {
        background: #34a853 !important;
        width: 100%;
        border-radius: 5px;
        color: #fff;
        margin: 0px !important;
        padding: 6px 0px;
        border: none; }
      .modal-dialog .modal-content .modal-body .btn-default {
        background: #ea4335 !important; }

.ag-cell span.actions span.edit-delete .fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0px;
  display: inline-block; }
  .ag-cell span.actions span.edit-delete .fileUpload i {
    font-size: 18px  !important;
    color: #2f323a !important; }
  .ag-cell span.actions span.edit-delete .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0; }

.ag-header-container, ag-header-row, .ag-body-container {
    width:100% !important;
}
.ag-layout-auto-height .ag-header-row {
    width:100% !important;
}

.agtblOptions {
    position:relative;
    .addandcount {
        position:absolute;
        bottom:0px;
        right:0px;
        z-index:999;
    }
}
.manageaccUser {
    .ag-fresh .ag-ltr .ag-header-cell[title~="Actions"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
    width:10% !important;
    left:0% !important;
}
.ag-fresh .ag-ltr .ag-header-cell[colid~="firstName"], .ag-fresh .ag-ltr .ag-cell[colid~="firstName"] {
    width:20% !important;
    left:10% !important;
}
.ag-fresh .ag-ltr .ag-header-cell[colid~="lastName"], .ag-fresh .ag-ltr .ag-cell[colid~="lastName"] {
    width:20% !important;
    left:30% !important;
}
.ag-fresh .ag-ltr .ag-header-cell[colid~="emailId"], .ag-fresh .ag-ltr .ag-cell[colid~="emailId"] {
    width:20% !important;
    left:50% !important;
}
.ag-fresh .ag-ltr .ag-header-cell[colid~="phone"], .ag-fresh .ag-ltr .ag-cell[colid~="phone"] {
    width:10% !important;
    left:70% !important;
}
.ag-fresh .ag-ltr .ag-header-cell[colid~="roleName"], .ag-fresh .ag-ltr .ag-cell[colid~="roleName"] {
    width:20% !important;
    left:80% !important;
}
}

.petitionslistTbl {
    /*.ag-fresh .ag-ltr .ag-header-cell[title~="Actions"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
    width:10% !important;
    left:0% !important;
    }*/
    .ag-fresh .ag-ltr .ag-header-cell[colid~="petitionName"], .ag-fresh .ag-ltr .ag-cell[colid~="petitionName"] {
      width:17% !important;
      left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="petitionNumber"], .ag-fresh .ag-ltr .ag-cell[colid~="petitionNumber"] {
      width:6% !important;
      left:17% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="firstName"], .ag-fresh .ag-ltr .ag-cell[colid~="firstName"] {
      width:10% !important;
      left:23% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="lastName"], .ag-fresh .ag-ltr .ag-cell[colid~="lastName"] {
      width:10% !important;
      left:33% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="petitionType"], .ag-fresh .ag-ltr .ag-cell[colid~="petitionType"] {
      width:5% !important;
      left:43% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="lastUpdate"], .ag-fresh .ag-ltr .ag-cell[colid~="lastUpdate"] {
      width:7% !important;
      left:48% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="status"], .ag-fresh .ag-ltr .ag-cell[colid~="status"] {
      width:6% !important;
      left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="finalStatus"], .ag-fresh .ag-ltr .ag-cell[colid~="finalStatus"] {
      width:8% !important;
      left:61% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="assignedToName"], .ag-fresh .ag-ltr .ag-cell[colid~="assignedToName"] {
      width:7% !important;
      left:69% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="petitionStage"], .ag-fresh .ag-ltr .ag-cell[colid~="petitionStage"] {
      width:12% !important;
      left:76% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="daysInStage"], .ag-fresh .ag-ltr .ag-cell[colid~="daysInStage"] {
      width:4% !important;
      left:88% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="tag"], .ag-fresh .ag-ltr .ag-cell[colid~="tag"] {
      width:8% !important;
      left:92% !important;
    }
}

.immiview-ques-client {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="formName"], .ag-fresh .ag-ltr .ag-cell[colid~="formName"] {
        width:15% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="1"], .ag-fresh .ag-ltr .ag-cell[colid~="1"] {
        width:10% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell[colid~="questionnaireName"] {
        width:20% !important;
        left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="clientStatus"], .ag-fresh .ag-ltr .ag-cell[colid~="clientStatus"] {
        width:10% !important;
        left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="sentToClient"], .ag-fresh .ag-ltr .ag-cell[colid~="sentToClient"] {
        width:15% !important;
        left:65% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="clientStatusDate"], .ag-fresh .ag-ltr .ag-cell[colid~="clientStatusDate"] {
        width:20% !important;
        left:80% !important;
    }

 }

.immiview-ques-emp {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell[colid~="questionnaireName"] {
        width:40% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="formName"], .ag-fresh .ag-ltr .ag-cell[colid~="formName"] {
        width:20% !important;
        left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="employerStatus"], .ag-fresh .ag-ltr .ag-cell[colid~="employerStatus"] {
        width:15% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="employerStatusDate"], .ag-fresh .ag-ltr .ag-cell[colid~="employerStatusDate"] {
        width:15% !important;
        left:85% !important;
    }
 }
.immiview-formstbl {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="formName"], .ag-fresh .ag-ltr .ag-cell[colid~="formName"] {
    width:15% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell[colid~="questionnaireName"] {
        width:30% !important;
        left:15% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
        width:12% !important;
        left:45% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="fileName"], .ag-fresh .ag-ltr .ag-cell[colid~="fileName"] {
        width:20% !important;
        left:57% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="fileCreationDate"], .ag-fresh .ag-ltr .ag-cell[colid~="fileCreationDate"] {
        width:11% !important;
        left:77% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="1"], .ag-fresh .ag-ltr .ag-cell[colid~="1"] {
        width:12% !important;
        left:88% !important;
    }
 }

.immiview-petition-docrepo, .clientViewDocRepo {
    .edit-delete {
        i {
            margin:0px 5px !important;
        }
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="orderNo"], .ag-fresh .ag-ltr .ag-cell[colid~="orderNo"] {
        width:10% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="fileName"], .ag-fresh .ag-ltr .ag-cell[colid~="fileName"] {
        width:60% !important;
        left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="updatedDate"], .ag-fresh .ag-ltr .ag-cell[colid~="updatedDate"] {
        width:20% !important;
        left:80% !important;
    }
 }
.immiviewClientsTable {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="firstName"], .ag-fresh .ag-ltr .ag-cell[colid~="firstName"] {
    width:20% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="lastName"], .ag-fresh .ag-ltr .ag-cell[colid~="lastName"] {
        width:25% !important;
        left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="email"], .ag-fresh .ag-ltr .ag-cell[colid~="email"] {
        width:25% !important;
        left:45% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="phone"], .ag-fresh .ag-ltr .ag-cell[colid~="phone"] {
        width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="status"], .ag-fresh .ag-ltr .ag-cell[colid~="status"] {
        width:10% !important;
        left:80% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[colid~="openPetitions"], .ag-fresh .ag-ltr .ag-cell[colid~="openPetitions"] {
        width:10% !important;
        left:90% !important;
    }
 }

.clientViewPetitions {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="petitionName"], .ag-fresh .ag-ltr .ag-cell[colid~="petitionName"] {
    width:15% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="petitionType"], .ag-fresh .ag-ltr .ag-cell[colid~="petitionType"] {
        width:10% !important;
        left:15% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="organization"], .ag-fresh .ag-ltr .ag-cell[colid~="organization"] {
        width:15% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="status"], .ag-fresh .ag-ltr .ag-cell[colid~="status"] {
        width:10% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="stage"], .ag-fresh .ag-ltr .ag-cell[colid~="stage"] {
        width:10% !important;
        left:50% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[colid~="startDate"], .ag-fresh .ag-ltr .ag-cell[colid~="startDate"] {
        width:10% !important;
        left:60% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[colid~="lastUpdated"], .ag-fresh .ag-ltr .ag-cell[colid~="lastUpdated"] {
        width:10% !important;
        left:70% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[colid~="recieptNumber"], .ag-fresh .ag-ltr .ag-cell[colid~="recieptNumber"] {
        width:10% !important;
        left:80% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
        width:10% !important;
        left:90% !important;
    }
 }

.clientViewQuestionnnaires {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="formName"], .ag-fresh .ag-ltr .ag-cell[colid~="formName"] {
    width:25% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell[colid~="questionnaireName"] {
        width:25% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="orgName"], .ag-fresh .ag-ltr .ag-cell[colid~="orgName"] {
        width:25% !important;
        left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="clientStatus"], .ag-fresh .ag-ltr .ag-cell[colid~="clientStatus"] {
        width:13% !important;
        left:75% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="clientStatusDate"], .ag-fresh .ag-ltr .ag-cell[colid~="clientStatusDate"] {
        width:12% !important;
        left:88% !important;
    }
 }
.clientViewRequests {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="id"], .ag-fresh .ag-ltr .ag-cell[colid~="id"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="requestType"], .ag-fresh .ag-ltr .ag-cell[colid~="requestType"] {
        width:20% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="message"], .ag-fresh .ag-ltr .ag-cell[colid~="message"] {
        width:50% !important;
        left:30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
        width:20% !important;
        left:80% !important;
    }
 }
.superUserViewAccounts {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="accountName"], .ag-fresh .ag-ltr .ag-cell[colid~="accountName"] {
    width:8% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="accountNumber"], .ag-fresh .ag-ltr .ag-cell[colid~="accountNumber"] {
    width:8% !important;
    left:8% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="firstName"], .ag-fresh .ag-ltr .ag-cell[colid~="firstName"] {
    width:8% !important;
    left:16% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="lastName"], .ag-fresh .ag-ltr .ag-cell[colid~="lastName"] {
    width:8% !important;
    left:24% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="email"], .ag-fresh .ag-ltr .ag-cell[colid~="email"] {
    width:12% !important;
    left:32% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="phone"], .ag-fresh .ag-ltr .ag-cell[colid~="phone"] {
    width:8% !important;
    left:44% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="status"], .ag-fresh .ag-ltr .ag-cell[colid~="status"] {
    width:8% !important;
    left:52% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="clients"], .ag-fresh .ag-ltr .ag-cell[colid~="clients"] {
    width:8% !important;
    left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="petitions"], .ag-fresh .ag-ltr .ag-cell[colid~="petitions"] {
    width:8% !important;
    left:68% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="createdOn"], .ag-fresh .ag-ltr .ag-cell[colid~="createdOn"] {
    width:8% !important;
    left:76% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="lastPaymentStatus"], .ag-fresh .ag-ltr .ag-cell[colid~="lastPaymentStatus"] {
    width:8% !important;
    left:84% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="storageType"], .ag-fresh .ag-ltr .ag-cell[colid~="storageType"] {
    width:8% !important;
    left:92% !important;
    }
 }
.superUserViewAccountManagers {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="firstName"], .ag-fresh .ag-ltr .ag-cell[colid~="firstName"] {
        width:25% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="lastName"], .ag-fresh .ag-ltr .ag-cell[colid~="lastName"] {
        width:25% !important;
        left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="emailId"], .ag-fresh .ag-ltr .ag-cell[colid~="emailId"] {
        width:20% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="roleName"], .ag-fresh .ag-ltr .ag-cell[colid~="roleName"] {
        width:20% !important;
        left:80% !important;
    }
 }
.superUserViewaccprefProducts {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="name"], .ag-fresh .ag-ltr .ag-cell[colid~="name"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[colid~="code"], .ag-fresh .ag-ltr .ag-cell[colid~="code"] {
        width:10% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="description"], .ag-fresh .ag-ltr .ag-cell[colid~="description"] {
       width:10% !important;
        left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="startDate"], .ag-fresh .ag-ltr .ag-cell[colid~="startDate"] {
        width:10% !important;
        left:30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="endDate"], .ag-fresh .ag-ltr .ag-cell[colid~="endDate"] {
      width:10% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxUsers"], .ag-fresh .ag-ltr .ag-cell[colid~="maxUsers"] {
       width:10% !important;
        left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxClientsPerMonth"], .ag-fresh .ag-ltr .ag-cell[colid~="maxClientsPerMonth"] {
        width:10% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxPetitionsPerMonth"], .ag-fresh .ag-ltr .ag-cell[colid~="maxPetitionsPerMonth"] {
        width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxS3Storage"], .ag-fresh .ag-ltr .ag-cell[colid~="maxS3Storage"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="cost"], .ag-fresh .ag-ltr .ag-cell[colid~="cost"] {
        width:10% !important;
        left:90% !important;
    }
 }


.superUserViewaccprefDiscounts {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="discountName"], .ag-fresh .ag-ltr .ag-cell[colid~="discountName"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="discountCode"], .ag-fresh .ag-ltr .ag-cell[colid~="discountCode"] {
        width:10% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="description"], .ag-fresh .ag-ltr .ag-cell[colid~="description"] {
       width:25% !important;
        left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="startDate"], .ag-fresh .ag-ltr .ag-cell[colid~="startDate"] {
        width:10% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="endDate"], .ag-fresh .ag-ltr .ag-cell[colid~="endDate"] {
      width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="cost"], .ag-fresh .ag-ltr .ag-cell[colid~="cost"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="percentage"], .ag-fresh .ag-ltr .ag-cell[colid~="percentage"] {
        width:10% !important;
        left:90% !important;
    }
 }


.superUserViewaccPayments {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentId"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentId"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceNumber"] {
        width:10% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceDate"] {
       width:10% !important;
        left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceAmount"] {
        width:10% !important;
        left:45% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="transactionId"], .ag-fresh .ag-ltr .ag-cell[colid~="transactionId"] {
      width:10% !important;
        left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentDate"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentDate"] {
        width:10% !important;
        left:65% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentAmount"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentAmount"] {
        width:10% !important;
        left:75% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentStatus"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentStatus"] {
        width:15% !important;
        left:85% !important;
    }

 }

.superUserViewaccInvoices {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceNumber"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceDate"] {
        width:15% !important;
        left:25% !important;
    }
    
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceAmount"] {
        width:15% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentRecieved"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentRecieved"] {
      width:10% !important;
        left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="fileName"], .ag-fresh .ag-ltr .ag-cell[colid~="fileName"] {
        width:25% !important;
        left:65% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="0"], .ag-fresh .ag-ltr .ag-cell[colid~="0"] {
        width:10% !important;
        left:90% !important;
    }
 }
.acctabprodcatProducts {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="name"], .ag-fresh .ag-ltr .ag-cell[colid~="name"] {
        width:12% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="code"], .ag-fresh .ag-ltr .ag-cell[colid~="code"] {
        width:8% !important;
        left:12% !important;
    }
    
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxUsers"], .ag-fresh .ag-ltr .ag-cell[colid~="maxUsers"] {
        width:8% !important;
        left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxClientsPerMonth"], .ag-fresh .ag-ltr .ag-cell[colid~="maxClientsPerMonth"] {
      width:14% !important;
        left:28% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxPetitionsPerMonth"], .ag-fresh .ag-ltr .ag-cell[colid~="maxPetitionsPerMonth"] {
        width:14% !important;
        left:42% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="maxS3Storage"], .ag-fresh .ag-ltr .ag-cell[colid~="maxS3Storage"] {
        width:10% !important;
        left:56% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="cost"], .ag-fresh .ag-ltr .ag-cell[colid~="cost"] {
        width:8% !important;
        left:66% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="productType"], .ag-fresh .ag-ltr .ag-cell[colid~="productType"] {
        width:8% !important;
        left:74% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="status"], .ag-fresh .ag-ltr .ag-cell[colid~="status"] {
        width:8% !important;
        left:82% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="startDate"], .ag-fresh .ag-ltr .ag-cell[colid~="startDate"] {
        width:10% !important;
        left:90% !important;
    }
 }


.superuserViewPaymentstab {
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentId"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentId"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="accountName"], .ag-fresh .ag-ltr .ag-cell[colid~="accountName"] {
        width:15% !important;
        left:25% !important;
    }
    
    .ag-fresh .ag-ltr .ag-header-cell[colid~="accountNumber"], .ag-fresh .ag-ltr .ag-cell[colid~="accountNumber"] {
        width:10% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceNumber"] {
      width:10% !important;
        left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceDate"] {
        width:10% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell[colid~="invoiceAmount"] {
        width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentStatus"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentStatus"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[colid~="paymentDate"], .ag-fresh .ag-ltr .ag-cell[colid~="paymentDate"] {
        width:10% !important;
        left:90% !important;
    }
 }




.myclass {
    border: none;
    background: darkgray;
    color: #d4d4d4 !important;
    border-radius: 5px;
    padding: 8px 15px;

    }

