
<button *ngIf="isAddButtonEnable" type="button" class="iportal-btn pull-right no-marg-right agridadd" (click)="addRecord()">ADD</button>
<div *ngIf="filterWholeArray">
<div class="addedfilter"*ngFor="let x of filterWholeArray let i=index">
            <span class="filtretype">{{x.headerName}} :</span><span class="filtrename">{{x.filterValue}}</span>
            <div (click)="delete(i,x)">&times;</div>
</div>
</div>
<div class="agtblOptions">
    <ag-grid-angular id="grid" #grid style="width: 100%;" class="ag-fresh" [gridOptions]="gridOptions" (cellClicked)="onCellClick($event)">
</ag-grid-angular>
    <div class="addandcount">
        
        <div *ngIf="paginationTemplate" class="itemsperpage">
            Page Size:
            <select #pages (change)="onPageSizeChanged(pages.value)">
                <option value="10" [selected]>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>
    </div>
    </div>



