<div class="main-content" *ngIf="getacntpref">
 
    <ul class="breadcrumb">
        <li><a href="#">Account Preferences</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>
            Products
        </h2>
        <smart-table class="superUserViewaccprefProducts" [settings]="settings" [data]="data" (onAddClick)="addProducts($event)" (onRowClick)="editProducts($event)">
        </smart-table>
     
        <h2 style="margin-top: 50px;">
            Discounts
        </h2>
        <smart-table class="superUserViewaccprefDiscounts" [settings]="discountSettings" [data]="discountData" (onAddClick)="addDiscounts($event)" (onRowClick)="editDiscounts($event)">
        </smart-table>
</div>

</div>
<div *ngIf="adddprdctPref">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
               
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">Code:</div>
                                <div class="col-md-8"><input type="text" class="form-control" [disabled]="editprdct" [(ngModel)]="addproduct.code"></div>
                                <div class="col-md-4">Start Date:</div>
                                <div class="col-md-8">
                                    <my-date-picker [options]="myDatePickerOptions"
                                                    [(ngModel)]="addproduct.startDate"
                                                    [selDate]="startDate"></my-date-picker>
                                </div>
                                <div class="col-md-4">End Date:</div>
                                <div class="col-md-8">
                                    <my-date-picker [options]="myDatePickerOptions"
                                                   [(ngModel)]="addproduct.endDate"
                                                    [selDate]="endDate"></my-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="productSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="adddiscntPref">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">Code:</div>
                            <div class="col-md-8"><input type="text" class="form-control" [disabled]="editdscnt" [(ngModel)]="discounts.discountCode"></div>
                            <div class="col-md-4">Start Date:</div>
                            <div class="col-md-8">
                                <my-date-picker [options]="myDatePickerOptions"
                                                [(ngModel)]="discounts.startDate"
                                                [selDate]="startDate"></my-date-picker>
                            </div>
                            <div class="col-md-4">End Date:</div>
                            <div class="col-md-8">
                                <my-date-picker [options]="myDatePickerOptions"
                                                 [(ngModel)]="discounts.endDate"
                                                [selDate]="endDate"></my-date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="discountSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>