
<style>
    .table-data {
        color: #585155;
    }

        .table-data th {
            text-align: center;
        }

        .table-data tr {
            text-align: center;
        }
        tr.i129htblRow input {
            margin:5px 0px !important;
            height: 34px !important;
        }

</style>

<div class="main-content">
    <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <h1 style="float:right;">{{appService.petitionDetails}}</h1>
    <div class="clearfix"></div>
    <div class="table-data">
        <div class="row">
            <div class="col-md-12">
                    <h2 style="color:#2d2d2d !important;">Questionnaire Name:{{appService.QuestionnaireName}}, Form Type:{{appService.formname}}</h2>
                <div class="col-sm-12">
                    <div class="tbl-head-btn">
                        <button class="editbtn" (click)="editQuestinnairei129Form()" *ngIf="isquestionnairei129hEdit==true" style="float: left;margin-right: 10px;">Edit</button>
                        <button class="editbtn  no-marg-right" *ngIf="isquestionnairei129hEdit==true" style="float:right;">Repopulate</button>
                    </div>
                    <div class="tbl-head-btn" [hidden]="isquestionnairei129hEdit">
                        <button type="button" (click)="cancelQuestinnairei129Edit()" class="editbtn tbl-head-btn" *ngIf="isquestionnairei129hEdit==false">Cancel</button>
                        <button type="submit" value="Save" class="savebtn" (click)="savequestionnairei129Information()" *ngIf="isquestionnairei129hEdit==false">Save</button>
                    </div>
                </div>
                <h2>Name of the Petitioner</h2>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-md-4"><label for="">Name of the Petitioner</label></div>
                        <div class="col-md-8">
                            <input type="text" id="" value="" *ngIf="isquestionnairei129hEdit==false" [(ngModel)]="questionnairei129h.petitionerName" />
                            <span *ngIf="isquestionnairei129hEdit==true">{{questionnairei129h.petitionerName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="">Name of the Beneficiary</label></div>
                        <div class="col-md-8">
                            <input type="text" id="" value="" *ngIf="isquestionnairei129hEdit==false" [(ngModel)]="questionnairei129h.beneficiaryname" />
                            <span *ngIf="isquestionnairei129hEdit==true">{{questionnairei129h.beneficiaryname}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-12"><label for="">List each beneficiary's prior periods of stay in H or L classification in the United States for the last six years (beneficiaries requesting H-2A or H-2B classification need only list the last three years). Be sure to only list those periods in which each beneficiary was actually in the United States in an H or L classification. Do not include periods in which the beneficiary was in a dependent status, for example, H-4 or L-2 status. </label></div>

                    </div>
                    <button type="submit" (click)="addStayPeriodListItem()" class="iportal-btn pull-right no-marg-right" *ngIf="isquestionnairei129hEdit==false" style="margin-bottom:15px;">ADD</button>
                    <table class="table-data" border="1" border-color="#e0e0e0" cellpadding="0" cellspacing="0">
                        <tr style="background: #eaeaeb;">
                            <th width="40%">Beneficiary's Name</th>
                            <th width="60%">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td>Period of Stay(MM-DD-YYYY)</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <table width="100%" border="1" border-color="#585155" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td width="50%">From</td>
                                                    <td width="50%">To</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                        
                        <tr *ngFor="let x of questionnairei129hstayPeriodList; let i=index" class="i129htblRow">
                            <td width="40%">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="20%">
                                            <ul class="edit-delete">

                                                <li *ngIf="isquestionnairei129hEdit==false"><a (click)="deletePeriodList(i,x)"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </td>
                                        <td width="70%">
                                            <input type="text" id="" value="" *ngIf="isquestionnairei129hEdit==false" [(ngModel)]="x.subjectName" />
                                            <span *ngIf="isquestionnairei129hEdit==true">{{x.subjectName}}</span>
                                        </td>
                                        <td width="10%"></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="60%">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="10%"></td>
                                        <td width="35%">
                                            <my-date-picker *ngIf="isquestionnairei129hEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="x.from" [selDate]="from[i]"></my-date-picker>
                                            <span *ngIf="isquestionnairei129hEdit==true">{{x.from}}</span>
                                        </td>
                                        <td width="10%"></td>
                                        <td width="35%">
                                            <my-date-picker *ngIf="isquestionnairei129hEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="x.to" [selDate]="to[i]"></my-date-picker>
                                            <span *ngIf="isquestionnairei129hEdit==true">{{x.to}}</span>
                                        </td>
                                        <td width="10%"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>

            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">

                    <div class="row">
                        <div class="col-sm-12 tbl-head">
                            <h2 class="no-pad-left">Describe the proposed duties </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="">Describe the proposed duties </label></div>
                        <div class="col-md-8">
                            <input type="text" id="" value="" *ngIf="isquestionnairei129hEdit==false" [(ngModel)]="questionnairei129h.proposedDuties" />
                            <span *ngIf="isquestionnairei129hEdit==true">{{questionnairei129h.proposedDuties}}</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="">Describe the beneficiary's present occupation and summary of prior work experience </label></div>
                        <div class="col-md-8">
                            <input type="text" id="" value="" *ngIf="isquestionnairei129hEdit==false" [(ngModel)]="questionnairei129h.priorWorkExp" />
                            <span *ngIf="isquestionnairei129hEdit==true">{{questionnairei129h.priorWorkExp}}</span>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="table-data">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="col-md-12 addresbox box-shadow">

                        <div class="row">
                            <div class="col-sm-12 tbl-head">
                                <h2 class="no-pad-left">Signature </h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label for="">Name of Petitioner</label></div>
                            <div class="col-md-8">
                                <input type="text" id="" value="" *ngIf="isquestionnairei129hEdit==false" [(ngModel)]="questionnairei129hsignature.petitionerName" />
                                <span *ngIf="isquestionnairei129hEdit==true">{{questionnairei129hsignature.petitionerName}}</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="">Name of Authorized Official of Employer</label></div>
                            <div class="col-md-8">
                                <input type="text" id="" value="" *ngIf="isquestionnairei129hEdit==false" [(ngModel)]="questionnairei129hsignature.authorisedofficialOfEmployer" />
                                <span *ngIf="isquestionnairei129hEdit==true">{{questionnairei129hsignature.authorisedofficialOfEmployer}}</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
