<header>
	<div class="container-fluid">
		<div class="col-md-4 pull-left no-pad">
			<div class="logo">
				<a
					(click)="appService.moveToPage('petitions'); highlightTab('petitions');">
					<img src="assets/images/logo.png" />
				</a>
			</div>
		</div>
		<div class="col-md-4 text-center pull-left">
			<div class="datails-holder-name"
				*ngIf="applicationViewMode=='Immigration'">
				<div class="pull-left">
					<h4>{{headerService.selectedOrg.displayName}}</h4>
				</div>
				<div class="pull-left">
					<a class="ico-edit" (click)="editorgname(orgSelect)"></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 pull-left">
			<div class="profile-container pull-right">
				<div class="profile">
					<div class="profile-name">
						<h4>{{user.firstName}} {{user.lastName}}</h4>
						<h6>{{user.roleName}}</h6>
					</div>

					<div ngbDropdown class="d-inline-block float-right">
						<button class="btn" id="dropdownMenu1" ngbDropdownToggle>
							<div class="profile-pic">
								<img src="assets/images/user_icon.png" alt="profile-img">
							</div>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<button class="dropdown-item" (click)="logOut()">Logout</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<!--Mani Menu Start-->
		<div class="row">
			<div class="mainmenu">
				<div *ngIf="appService.isBurgerMenuVisible" class="burger-menu">
					<input type="checkbox" (click)="slideMenu()" /><label></label>
				</div>
				<ul *ngIf="applicationViewMode=='Immigration'">
					<li
						*ngIf="applicationViewMode=='Immigration'||headerService.isDelegatedOrg()"><a
						(click)="appService.moveToPage('petitions'); highlightTab('petitions');"
						[ngClass]="[checkForCurrentTab('petitions') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Petitions"></span>
							<div class="clearfix"></div> Petitions
							<div class="arrow-up"></div>
					</a></li>
					<li *ngIf="!headerService.isDelegatedOrg()"
						style="margin-right: 37px;"><a
						(click)="appService.moveToPage('clients'); highlightTab('clients');"
						[ngClass]="[checkForCurrentTab('clients') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Clients"></span>
							<div class="clearfix"></div> Clients
							<div class="arrow-up"></div>
					</a></li>
					<li *ngIf="!headerService.isDelegatedOrg()"
						style="margin-right: 10px;"><a
						(click)="appService.moveToPage('organization'); highlightTab('organization');highlightSBLink('Org Details');"
						[ngClass]="[checkForCurrentTab('organization') ? 'active' : '']"
						routerLinkActive="active"> <span class="maintab-Organization"></span>
							<div class="clearfix"></div> Organization
							<div class="arrow-up"></div>
					</a></li>
					<!--<li><a (click)="appService.moveToPage('reports'); highlightTab('reports'); "     [ngClass]="[checkForCurrentTab('reports') ? 'active' : '']"   routerLinkActive="active">Reports</a></li>-->
					<li style="margin-right: 22px;"
						*ngIf="immigrationManager=='Immigration Manager'&& !headerService.isDelegatedOrg()"><a
						(click)="appService.moveToPage('manageaccount-user');highlightTab('manageaccount-user');highlightSBLink('User');"
						[ngClass]="[checkForCurrentTab('manageaccount-user') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Manageaccount"></span>
							<div class="clearfix"></div> Manage Account
							<div class="arrow-up"></div>
					</a></li>
					<li *ngIf="!headerService.isDelegatedOrg()"><a
						(click)="appService.moveToPage('immiview-petitionreports'); highlightTab('immiview-petitionreports');highlightSBLink('immiview-petitionreports');"
						[ngClass]="[checkForCurrentTab('immiview-petitionreports') ? 'active' : '']"
						routerLinkActive="active"> <span class="maintab-Reports"></span>
							<div class="clearfix"></div> Reports
							<div class="arrow-up"></div>
					</a></li>
					<li *ngIf="!headerService.isDelegatedOrg()"><a
						(click)="appService.moveToPage('immiview-profileuser'); highlightTab('immiview-profileuser');highlightSBLink('immiview-profileuser');"
						[ngClass]="[checkForCurrentTab('immiview-profileuser') ? 'active' : '']"
						routerLinkActive="active"> <span class="maintab-Reports"></span>
							<div class="clearfix"></div> Profile
							<div class="arrow-up"></div>
					</a></li>
				</ul>
				<ul *ngIf="applicationViewMode=='Client'">
					<li style="margin-right: 30px;"><a
						(click)="appService.moveToPage('clientview-petitions'); highlightTab('clientview-petitions');"
						[ngClass]="[checkForCurrentTab('clientview-petitions') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Petitions"></span>
							<div class="clearfix"></div> Petitions
							<div class="arrow-up"></div>
					</a></li>
					<li style="margin-right: 20px;"><a
						(click)="appService.moveToPage('clientview-client-details'); highlightTab('clientview-client-details');highlightSBLink('ClientDetails');"
						[ngClass]="[checkForCurrentTab('clientview-client-details') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Clients"></span>
							<div class="clearfix"></div> Client Details
							<div class="arrow-up"></div>
					</a></li>
					<li style="margin-right: 15px;"><a
						(click)="appService.moveToPageWithParams('clientview-documents',''); highlightTab('clientview-documents');"
						[ngClass]="[checkForCurrentTab('clientview-documents') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Organization"></span>
							<div class="clearfix"></div> Documents
							<div class="arrow-up"></div>
					</a></li>
					<li style="margin-right: 20px;"><a
						(click)="appService.moveToPage('clientview-Questionnaries'); highlightTab('clientview-Questionnaries');highlightSBLink('Questionnaires');"
						[ngClass]="[checkForCurrentTab('clientview-Questionnaries') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Manageaccount"></span>
							<div class="clearfix"></div> Questionnaires
							<div class="arrow-up"></div>
					</a></li>
					<li><a
						(click)="appService.moveToPage('clientview-Requests'); highlightTab('clientview-Requests');"
						[ngClass]="[checkForCurrentTab('clientview-Requests') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Reports"></span>
							<div class="clearfix"></div> Requests
							<div class="arrow-up"></div>
					</a></li>
                    <li>
                        <a (click)="appService.moveToPage('immiview-profileuser'); highlightTab('immiview-profileuser');highlightSBLink('immiview-profileuser');"
                           [ngClass]="[checkForCurrentTab('immiview-profileuser') ? 'active' : '']"
                           routerLinkActive="active">
                            <span class="maintab-Reports"></span>
                            <div class="clearfix"></div> Profile
                            <div class="arrow-up"></div>
                        </a>
                    </li>
					<!--<li>
                        <a (click)="appService.moveToPage('immiview-profileuser'); highlightTab('immiview-profileuser');highlightSBLink('immiview-profileuser');" [ngClass]="[checkForCurrentTab('immiview-profileuser') ? 'active' : '']" routerLinkActive="active">
                            <span class="maintab-Reports"></span>
                            <div class="clearfix"></div>
                            Profile
                            <div class="arrow-up"></div>
                        </a>
                    </li>-->

				</ul>
				<ul *ngIf="applicationViewMode=='Superuser'">
					<li style="margin-right: 20px;"><a
						(click)="appService.moveToPage('superuser-accounts'); highlightTab('accounts');"
						[ngClass]="[checkForCurrentTab('accounts') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Petitions"></span>
							<div class="clearfix"></div> Accounts
							<div class="arrow-up"></div>
					</a></li>
					<li style="margin-right: 20px;"><a
						(click)="appService.moveToPage('superuserview-productcatalog'); highlightTab('ProductCatalog');"
						[ngClass]="[checkForCurrentTab('ProductCatalog') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Clients"></span>
							<div class="clearfix"></div> Product Catalog
							<div class="arrow-up"></div>
					</a></li>
					<li style="margin-right: 40px;"><a
						(click)="appService.moveToPage('invoices'); highlightTab('invoices');"
						[ngClass]="[checkForCurrentTab('invoices') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Organization"></span>
							<div class="clearfix"></div> Invoices
							<div class="arrow-up"></div>
					</a></li>
					<li style="margin-right: 30px;"><a
						(click)="appService.moveToPage('payments'); highlightTab('payments');"
						[ngClass]="[checkForCurrentTab('payments') ? 'active': '']"
						routerLinkActive="active"> <span class="maintab-Manageaccount"></span>
							<div class="clearfix"></div> Payments
							<div class="arrow-up"></div>
					</a></li>
					<li style="margin-right: 35px;"><a
						(click)="appService.moveToPage('dashboards'); highlightTab('dashboards');highlightSBLink('Org Details');"
						[ngClass]="[checkForCurrentTab('dashboards') ? 'active' : '']"
						routerLinkActive="active"> <span class="maintab-Reports"></span>
							<div class="clearfix"></div> Dashboards
							<div class="arrow-up"></div>
					</a></li>
					<li><a
						(click)="appService.moveToPage('superuser-statsaccounts'); highlightTab('superuser-statsaccounts');highlightSBLink('superuser-statsaccounts');"
						[ngClass]="[checkForCurrentTab('superuser-statsaccounts') ? 'active' : '']"
						routerLinkActive="active"> <span class="maintab-Reports"></span>
							<div class="clearfix"></div> Reports
							<div class="arrow-up"></div>
					</a></li>
                    <li>
                        <a (click)="appService.moveToPage('immiview-profileuser'); highlightTab('immiview-profileuser');highlightSBLink('immiview-profileuser');"
                           [ngClass]="[checkForCurrentTab('immiview-profileuser') ? 'active' : '']"
                           routerLinkActive="active">
                            <span class="maintab-Reports"></span>
                            <div class="clearfix"></div> Profile
                            <div class="arrow-up"></div>
                        </a>
                    </li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</header>
<div class="clearfix"></div>
