<div class="main-content">

    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>

        <div class="clearfix"></div>
      
        <div class="col-md-6 col-sm-6 col-xs-12 addresbox box-shadow" style="padding:12px 15px 12px !important;">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Passport</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="editForm()" id="ivClientDtlsPInfoEdit" *ngIf="isEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isEdit">
                  <button type="button" (click)="cancelEdit()" id="ivClientDtlsPInfoCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isEdit==false">Cancel</button>
                  <button type="submit" value="Save" id="ivClientDtlsPInfoSave" class="editbtn tbl-head-btn iportal-btnIMclient" (click)="saveClientPassport()" *ngIf="isEdit==false">Save</button>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="warningMessage">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoPNo">Passport No.<span class="redstar">*</span></label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoPNo" [(ngModel)]="passport.passportNumber" [ngClass]="passport.passportNumber == '' ? 'redborder': ''" /><span *ngIf="isEdit==true">{{passport.passportNumber}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoPlace">Issuance Place</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoPlace" [(ngModel)]="passport.issuancePlace" /><span *ngIf="isEdit==true">{{passport.issuancePlace}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoState">Issuance State</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoState" [(ngModel)]="passport.issuanceState" /><span *ngIf="isEdit==true">{{passport.issuanceState}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoIssuanceCountry">Issuance Country</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoIssuanceCountry" [(ngModel)]="passport.issuanceCountry" /><span *ngIf="isEdit==true">{{passport.issuanceCountry}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoIssuingCountry">Issuing Country<span class="redstar">*</span></label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoIssuingCountry" [(ngModel)]="passport.issuingCountry" [ngClass]="passport.issuingCountry == '' ? 'redborder': ''" /><span *ngIf="isEdit==true">{{passport.issuingCountry}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoIssuingDate">Issuance Date<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <my-date-picker *ngIf="isEdit==false" id="ivClientDtlsPInfoIssuingDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="passport.isuanceDate" [selDate]="isuanceDate" [ngClass]="passport.isuanceDate == '' ? 'redborder': ''">
                </my-date-picker>
                <span *ngIf="isEdit==true">{{passport.isuanceDate}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoExpDate">Expiration Date<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <my-date-picker *ngIf="isEdit==false" id="ivClientDtlsPInfoExpDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [ngClass]="passport.expirationDate == '' ? 'redborder': ''" [(ngModel)]="passport.expirationDate" [selDate]="expirationDate">
                </my-date-picker>
                <span *ngIf="isEdit==true">{{passport.expirationDate}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoDob">Date of Birth<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <my-date-picker *ngIf="isEdit==false" id="ivClientDtlsPInfoDob" [options]="myDatePickerOptions" [ngClass]="passport.dateOfBirth == '' ? 'redborder': ''" (dateChanged)="onDateChanged($event)" [(ngModel)]="passport.dateOfBirth" [selDate]="dateOfBirth">
                </my-date-picker>
                <span *ngIf="isEdit==true">{{passport.dateOfBirth}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoCob">City/Town/Village Of Birth</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoCob" [(ngModel)]="passport.cityOfBirth" /><span *ngIf="isEdit==true">{{passport.cityOfBirth}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoSob">State of Birth</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoSob" [(ngModel)]="passport.stateOfBirth" /><span *ngIf="isEdit==true">{{passport.stateOfBirth}}</span></div>
              {{countryofbirth}}
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoCob">Country of Birth<span class="redstar">*</span></label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoCob" [(ngModel)]="passport.countryOfBirth" /><span *ngIf="isEdit==true">{{passport.countryOfBirth}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoNationality">Nationality</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoNationality" [(ngModel)]="passport.nationality" /><span *ngIf="isEdit==true">{{passport.nationality}}</span></div>
            </div>

            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoMarks">Identification Marks</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoMarks" [(ngModel)]="passport.identificationMarks" /><span *ngIf="isEdit==true">{{passport.identificationMarks}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoLostPassport">Have you ever lost a passport?</label></div>
              <div class="col-md-8">
                <span *ngIf="isEdit==true&&passport.everLostPassport==true">YES</span>
                <span *ngIf="isEdit==true&&passport.everLostPassport==false">NO</span>
                <select *ngIf="isEdit==false" [(ngModel)]="passport.everLostPassport" class="form-control">
                  <option value="true" id="ivClientDtlsPInfoLostPassportYes">YES</option>
                  <option value="false" id="ivClientDtlsPInfoLostPassportNo">NO</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoTDoc">Travel Document#</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoTDoc" [(ngModel)]="passport.travelDocumentNumber" /><span *ngIf="isEdit==true">{{passport.travelDocumentNumber}}</span></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoComments">Comments</label></div>
              <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="ivClientDtlsPInfoComments" [(ngModel)]="passport.comments" /><span *ngIf="isEdit==true">{{passport.comments}}</span></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="isEdit">
                  <button type="button" (click)="cancelEdit()" id="ivClientDtlsPInfoCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;"*ngIf="isEdit==false">Cancel</button>
                  <button type="submit" value="Save" id="ivClientDtlsPInfoSave1" class="editbtn tbl-head-btn iportal-btnIMclient" style="    margin-top: 4px!important;" (click)="saveClientPassport()" *ngIf="isEdit==false">Save</button>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="warningMessage">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
