<div class="main-content" *ngIf="getCVDependentData">

    <div class="table-data">
        <h1>{{appService.firstName}} {{appService.lastName}}</h1>
        <ul class="breadcrumb">
            <li><a href="#">Dependents</a></li>
        </ul>
        <div class="clearfix"></div>
        <h2>Dependents</h2>
        <smart-table class="clientview-clientdetailtab-dependents" [settings]="settings" [data]="data"
                     (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></smart-table>
         <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="showAddCVdependentpopup">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5"><span class="redstar">*</span>First Name :</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="newCVdependentitem.firstName" (blur)="capitalizeName(newCVdependentitem)" class="form-control"></div>
                            <div class="col-md-5">Middle Name :</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="newCVdependentitem.middleName" class="form-control"></div>
                            <div class="col-md-5"><span class="redstar">*</span>Last Name :</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="newCVdependentitem.lastName" (blur)="capitalizeName(newCVdependentitem)" class="form-control"></div>
                            <div class="col-md-5"><span class="redstar">*</span>Relation :</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="newCVdependentitem.relation" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="dependentSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>
