<!DOCTYPE html>
<html>
<head>
    <title>The Immigration Hub</title>
    
</head>
<body>
    <div id='toTop'>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <div class="container-fluid" *ngIf="getloginpage">
        <div class="row">
            <div class="top-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 no-pad"><img src="../../../../../assets/images/web/logo.png" class="logo img-responsive"><a (click)="loginPopup()" class="login">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="contact">
                    <a href="mailto:info@immigrationhub.com" class="email"><img src="../../../../../assets/images/web/mail@2x.png"> Info@immigrationhub.com</a>
                    <a href="#" class="phone"><img src="../../../../../assets/images/web/phone-call@2x.png"> +1-203-444-0170</a>
                    <nav class="navbar navbar-inverse navbar-static-top main-nav" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navitems">
                                <li><a (click)="appService.moveToPage('login')">Home</a></li>
                                <li><a (click)="appService.moveToPage('web-immigration-services')">Immigration Services</a></li>
                                <li><a (click)="appService.moveToPage('web-pricing')">Pricing</a></li>
                                <li><a (click)="appService.moveToPage('web-aboutus')" class="active">About Us</a></li>
                                <li><a (click)="appService.moveToPage('web-features')">Features</a></li>
                                <li><a (click)="appService.moveToPage('web-getintouch')">Get In Touch</a></li>
                                <li><a href="#" class="req-demo">Request Demo</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blueHeader" style="margin-bottom: 0px;">Faqs</div>
            <div id="exTab1">
                <ul class="nav nav-pills">
                    <li class="faqtab active"><a href="#1a" data-toggle="tab">1-9 Forms <div class="arrow-up"></div></a></li>
                    <li class="faqtab"><a href="#2a" data-toggle="tab">Immigration services <div class="arrow-up"></div></a></li>
                    <li class="faqtab"><a href="#3a" data-toggle="tab">H1 and B1 <div class="arrow-up"></div></a></li>
                    <li class="faqtab"><a href="#4a" data-toggle="tab">B1 and B2 Services <div class="arrow-up"></div></a></li>
                    <li class="faqtab"><a href="#5a" data-toggle="tab">Visa Complaints <div class="arrow-up"></div></a></li>
                </ul>
                <div class="container">
                    <div class="row">

                    </div>
                    <div class="row tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            <h1 class="iph">1-9 Forms</h1>
                            <p class="question">What is Lorem Ipsum?</p>
                            <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="tab-pane" id="2a">
                            <h1 class="iph">Immigration Services</h1>
                            <p class="question">What is Lorem Ipsum?</p>
                            <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="tab-pane" id="3a">
                            <h1 class="iph">H1 and B1</h1>
                            <p class="question">What is Lorem Ipsum?</p>
                            <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="tab-pane" id="4a">
                            <h1 class="iph">B1 and B2 Services</h1>
                            <p class="question">What is Lorem Ipsum?</p>
                            <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>

                        <div class="tab-pane" id="5a">
                            <h1 class="iph">Visa Complainte</h1>
                            <p class="question">What is Lorem Ipsum?</p>
                            <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="row">
            <div class="footer-links">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h1>Immigration Hub</h1>
                            <a href="mailto:info@immigrationhub.com" class="email"><img src="../../../../../assets/images/web/mail@2x.png"> Info@immigrationhub.com</a>
                            <a href="#" class="phone" style="margin: 0px;"><img src="../../../../../assets/images/web/phone-call@2x.png"> +1-203-444-0170</a><br>
                            610 Overlook Circle Suite 323<br>
                            Kalamazoo, MI 49009
                        </div>
                        <div class="col-md-4">
                            <h4>Explore</h4>
                            <ul class="flinks">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Immigration Services</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                            <ul class="flinks">
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Get In Touch</a></li>
                                <li><a href="#">Doc Storage</a></li>
                                <li><a href="#">Saas Application</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>Social</h4>
                            <ul class="slinks">
                                <li><a href="#" class="fb"></a></li>
                                <li><a href="#" class="twitter"></a></li>
                                <li><a href="#" class="insta"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            CopyRights @ Immigration Hub
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
         $(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
    </script>
    <script type="text/javascript">
         $(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('#toTop').fadeIn();
    } else {
        $('#toTop').fadeOut();
    }
});

         $('#toTop').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
 });
    </script>
</body>
</html>
