<div class="main-content" *ngIf="getClientviewPetitionData">
    <h1>Immigration Hub</h1>

    <div class="clearfix"></div>
    <div class="table-data">
        <h2>Petitions</h2>
        <table class="smarttable document-management" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td><span>Petition Name</span> <span class="pull-right"></span></td>
                    <td><span>Petition Type</span> <span class="pull-right"></span></td>
                    <td><span>Organization</span> <span class="pull-right"></span></td>
                    <td><span>Status</span> <span class="pull-right"></span></td>
                    <td><span>Stage</span> <span class="pull-right"></span></td>
                    <td><span>Start Date</span> <span class="pull-right"></span></td>
                    <td><span>Last Updated</span> <span class="pull-right"></span></td>
                    <td><span>Receipt Number</span> <span class="pull-right"></span></td>
                    <td><span>More Details</span> <span class="pull-right"></span></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of clientviewpetitionList; let i=index">
                    <td>{{x.petitionName}}</td>
                    <td>{{x.petitionType}}</td>
                    <td>{{x.organization}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.petitionStage}}</td>
                    <td>{{x.petitionStage}}</td>
                    <td>{{x.startDate}}</td>
                    <td>{{x.lastUpdated}}</td>
                    <td><a (click)="viewAllColumns(i, x)" class="more">More Details</a></td>
                </tr>
                </tbody>
            </table>
</div>
</div>



<div *ngIf="showclientviewPetitionpopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">Petition Name:</div><div class="col-md-8"><span>{{cvpedit.petitionName}}</span></div>
                            <div class="col-md-4">Petition Type:</div><div class="col-md-8"><span>{{cvpedit.petitionType}}</span></div>
                            <div class="col-md-4">Organization:</div><div class="col-md-8"><span>{{cvpedit.organization}}</span></div>
                            <div class="col-md-4">Status:</div><div class="col-md-8"><span>{{cvpedit.status}}</span></div>
                            <div class="col-md-4">Stage:</div><div class="col-md-8"><span>{{cvpedit.petitionStage}}</span></div>
                            <div class="col-md-4">Start Date:</div><div class="col-md-8"><span>{{cvpedit.startDate}}</span></div>
                            <div class="col-md-4">Last Updated:</div><div class="col-md-8"><span>{{cvpedit.lastUpdated}}</span></div>
                            <div class="col-md-4">Receipt Number:</div><div class="col-md-8"><span>{{cvpedit.recieptNumber}}</span></div>
                            <div class="col-md-4">Shipping Carrier:</div><div class="col-md-8"><span>{{cvpedit.shippingCarrier}}</span></div>
                            <div class="col-md-4">Tracking Number:</div><div class="col-md-8"><span>{{cvpedit.trackingNumber}}</span></div>
                           
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" (click)="questionnaireSave()">Save</button>-->
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
