<div class="main-content" *ngIf="viewDetails">

    <ul class="breadcrumb">
        <li><a href="#">Clients</a></li>
        <li><a href="#">Visas</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>Discounts</h2>
            <smart-table class="acctabprodcatDiscounts" [settings]="settings" [data]="data" (onAddClick)="addDiscounts($event)" (onRowClick)="viewDiscountDetails($event)"></smart-table>
            <div class="clearfix"></div>
    </div>
</div>
<div class="table-data-forms" *ngIf="viewDiscountPopup">
    <div class="modal-dialog" style="margin-top:7% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 addresbox box-shadow">
                                <div class="row">
                                    <div class="col-md-5">Name:</div>
                                    <div class="col-md-7">
                                        <input type="text" [disabled]="true" *ngIf="isEditDiscount==false" [(ngModel)]="discount.discountName" class="form-control">
                                        <span *ngIf="isEditDiscount==true">{{discount.discountName}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Code:</div>
                                    <div class="col-md-7">
                                        <input type="text" *ngIf="isEditDiscount==false" [disabled]="true" [(ngModel)]="discount.discountCode" class="form-control">
                                        <span *ngIf="isEditDiscount==true">{{discount.discountCode}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Description:</div>
                                    <div class="col-md-7">
                                        <input type="text" *ngIf="isEditDiscount==false" [(ngModel)]="discount.description" class="form-control">
                                        <span *ngIf="isEditDiscount==true">{{discount.description}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Cost:</div>
                                    <div class="col-md-7">
                                        <input type="text" *ngIf="isEditDiscount==false" [(ngModel)]="discount.cost" class="form-control">
                                        <span *ngIf="isEditDiscount==true">{{discount.cost}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Percentage:</div>
                                    <div class="col-md-7">
                                        <input type="text" *ngIf="isEditDiscount==false" [(ngModel)]="discount.percentage" class="form-control">
                                        <span *ngIf="isEditDiscount==true">{{discount.percentage}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Status:</div>
                                    <div class="col-md-7">
                                        <select [(ngModel)]="discount.status" class="form-control" *ngIf="isEditDiscount==false">
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>
                                        <span *ngIf="isEditDiscount==true">{{discount.status}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Created On:</div>
                                    <div class="col-md-7">
                                        <input type="text" *ngIf="isEditDiscount==false" [disabled]="true" [(ngModel)]="discount.createdOn" class="form-control">
                                        <span *ngIf="isEditDiscount==true">{{discount.createdOn}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row sfm" *ngIf="warningMessage">
                                            <div class="col-md-12">
                                                <span class="redstar">* Fields are Mandatory.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!--<button type="button" class="btn btn-primary" (click)="clientSave(emailId.errors)">Save</button>-->
                                                <button type="submit" class="btn btn-primary" (click)="editDiscountInfo()" *ngIf="isEditDiscount==true">Edit</button>

                                                <!--<button type="button" (click)="cancelProductInfo()" class="editinpopup" *ngIf="isEditProducts==false">Cancel</button>-->
                                                <button type="submit" value="Save" class="btn btn-primary" (click)="saveDiscountInfo()" *ngIf="isEditDiscount==false">Save</button>

                                            </div>
                                            <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="addDiscountPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Name:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addDiscount.discountName" class="form-control"></div>
                            <div class="col-md-5">Code:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addDiscount.discountCode" class="form-control"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="row sfm" *ngIf="warningMessage">
                            <div class="col-md-12">
                                <span class="redstar">* Fields are Mandatory.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="saveDiscounts()">Save</button></div>
                            <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>