<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
        <div class="row">
            <div class="col-md-12">
                <h2>I 129 H Page6</h2>
         </div>
            <div class="col-md-12">
                <p>If you are an individual filing this petition, complete Item Number 1.  If you are a company or an organization filing this petition, complete Item Number 2.</p>
                        <div class="col-md-12 addresbox box-shadow clientview-ques129h">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fieldsetheading">Legal Name of Individual Petitioner</p>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">Family Name (Last Name)</div>
                                        <div class="col-md-8"><input type="text"  /></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">Family Name (Last Name)</div>
                                        <div class="col-md-8"><input type="text"  /></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">Middle Name</div>
                                        <div class="col-md-8"><input type="text"  /></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">Company or Organizatio Name</div>
                                        <div class="col-md-8"><input type="text"  /></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fieldsetheading">Mailing Address of Individual, Company or Organization</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">In Care Of Name</div>
                                        <div class="col-md-8"><input type="text"  /></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">Street Number and Name</div>
                                        <div class="col-md-8"><input type="text"  /></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-4">Apt.<input type="checkbox" name="" value=""></div>
                                                <div class="col-md-4">Stc.<input type="checkbox" name="" value=""></div>
                                                <div class="col-md-4">Flr.<input type="checkbox" name="" value=""></div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">Number </div>
                                        <div class="col-md-8"><input type="text"  /></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">City or Town</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">State</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">ZIP Code</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Province</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Postal Code</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Country</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fieldsetheading">Contact Information</p>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Daytime Telephone Number</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Mobile Telephone Number</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Email (if any)</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fieldsetheading">Other Information</p>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Federal Employer Identification Number (FEIN)</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">Individual IRS Tax Number </div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">U.S. Social Security Number (if any)</div>
                                                <div class="col-md-8"><input type="text"  /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
