

<div class="main-content" *ngIf="getClientsData">
    <div class="pagetitleandfilters">
        <div class="mainContainer">
            <h2>Clients</h2>
            <div class="clearfix"></div>
            <div class="filters">
                <div class="styled-select">
                    <select>
                        <option value="Status">Status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <span>More Filters</span>
                    <a (click)="filteradd()" class="addfilter"></a>
                    <button type="button" class="iportal-btn pull-right no-marg-right agridadd" (click)="addRecord()">ADD</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mainContainer">
        <div class="table-data">
            <smart-table class="immiviewClientsTable"
                         [settings]="settings"
                         [data]="data"
                         [paginationData]="paginationData"
                         (onAddClick)="addNewCli($event)"
                         (onRowClick)="onUserRowClick($event)"
                         (dataWithQueryParams)="dataWithParameters($event)"></smart-table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div *ngIf="addMorefilters">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Apply Filters</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="user_title">First Name</label>
                            <input class="form-control" id="user_title" name="user[title]" size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="user_firstname">Last Name</label>
                            <input class="form-control" id="user_firstname" name="user[firstname]"size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="user_lastname">Email Address</label>
                            <input class="form-control" id="user_lastname" name="user[lastname]"  size="30" type="text" />
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="user_title">Phone Number</label>
                            <input class="form-control" id="user_title" name="user[title]" size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="user_firstname">Status</label>
                            <input class="form-control" id="user_firstname" name="user[firstname]" size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="user_lastname">Open Petitions</label>
                            <input class="form-control" id="user_lastname" name="user[lastname]" size="30" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-4'></div>
                    <div class='col-sm-4'><button type="button" style="width: 100%;" class="btn btn-info">Apply Filters</button></div>
                    <div class='col-sm-4'></div>
                </div>
            </div>
        </div>
    </div>
</div>






<div *ngIf="addNewClient">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">First Name:<span class="redstar">*</span></div>
                            <div class="col-md-5">
                                <input type="text" [(ngModel)]="newclitem.firstName" (blur)="capitialize(newclitem)" [ngClass]="newclitem.firstName == '' ? 'redborder': ''"
                                       class="form-control">
                            </div>
                            <div class="col-md-5">Last Name:<span class="redstar">*</span></div>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="newclitem.lastName" (blur)="capitialize(newclitem)" [ngClass]="newclitem.lastName == '' ? 'redborder': ''"
                                       class="form-control">
                            </div>
                            <div class="col-md-5">Email:<span class="redstar">*</span></div>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="newclitem.email" [ngClass]="newclitem.email == '' ? 'redborder': ''"
                                       class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailId="ngModel">
                            </div>
                            <div class="col-md-5">Phone:<span class="redstar">*</span></div>
                            <div class="col-md-7">
                                <input type="tel" [(ngModel)]="newclitem.phone" required #phone="ngModel" pattern="[\+]?[0-9]*[\-]?[(]?[0-9]{3}[)]?[-]?[0-9]{3}[-]?[0-9]{4,6}" [ngClass]="newclitem.phone == '' ? 'redborder': ''"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                                <div class="row sfm" [hidden]="emailId.valid || emailId.untouched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.required">
                                            * Email is required
                                        </div>
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.pattern">

                                            * Email is invalid
                                        </div>
                                    </div>
                                </div>
                                <div class="row sfm" [hidden]="phone.valid || phone.untouched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="phone.errors && phone.errors.required">
                                            * Phone is required
                                        </div>
                                        <div class="redstar" *ngIf="phone.errors && phone.errors.pattern">
                                            * Phone field can contain numbers, '+' , '(' , ')'
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="clientSave(emailId.errors,phone.errors)">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>