<div class="main-content" *ngIf="getAccountsData">
    <!--<h1>{{user.lastName}} {{user.firstName}}</h1>-->
    <ul class="breadcrumb">
        <li><a href="#">Accounts</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>Accounts</h2>
        <smart-table class="superUserViewAccounts" [settings]="settings" [data]="data" (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onColumnFilterClick)="filterData($event)">
        </smart-table>
    </div>
</div>

<div *ngIf="addAccounts">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><span class="redstar">*</span> Account Name:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="accountDetails.accountName" class="form-control" [ngClass]="accountDetails.accountName == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> First Name:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="accountDetails.firstName" class="form-control" [ngClass]="accountDetails.firstName == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> Last Name:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="accountDetails.lastName" class="form-control" [ngClass]="accountDetails.lastName == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> Email:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="accountDetails.email" class="form-control" [ngClass]="accountDetails.email == '' ? 'redborder': ''" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailId="ngModel" /></div>
                            <div class="col-md-4"><span class="redstar">*</span> Phone:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="accountDetails.phone" class="form-control" [ngClass]="accountDetails.phone == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> Storage Type::</div>
                            <div class="col-md-8">
                            <select [(ngModel)]="accountDetails.objectStore" class="form-control" [ngClass]="accountDetails.objectStore == '' ? 'redborder': ''">
                                <option value="S3">S3</option>
                                <option value="GD">GD</option>
                            </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                                <div class="row sfm" [hidden]="emailId.valid || emailId.untouched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.required">
                                            * Email is required
                                        </div>
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.pattern">

                                            * Email is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="accountSave(emailId.errors)">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

