<div class="filters-container">
  <div class="filters">
    <div class="styled-select">
      <div *ngIf="quickFilters != null && quickFilters.length > 0">
        <select *ngFor="let quickFilter of quickFilters" (change)="onChange($event)" id="{{quickFilter['field']}}">
          <option value="{{quickFilter['field']}}">{{quickFilter['headerName']}}</option>
          <option *ngFor="let values of quickFilter['values']" value="{{values['value']}}">{{values['alias']}}</option>
        </select>
      </div>
      <span>More Filters</span>
      <a (click)="moreFilters()" class="addfilter"></a>
      <button type="button" class="iportal-btn pull-right no-marg-right agridadd" (click)="addRecord()">ADD</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div *ngIf="addMorefilters">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Apply Filters</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="filter_firstName">First Name</label>
                            <input class="form-control" id="filter_firstName" name="filter[firstname]" [(ngModel)]="firstName" size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="filter_lastname">Last Name</label>
                            <input class="form-control" id="filter_lastname" name="filter[lastname]" [(ngModel)]="lastName" size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="filter_email">Email Address</label>
                            <input class="form-control" id="filter_email" name="filter[email]" [(ngModel)]="email" size="30" type="text" />
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="filter_phoneNumber">Phone Number</label>
                            <input class="form-control" id="filter_phoneNumber" name="filter[phonenumber]" [(ngModel)]="phoneNumber" size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="filter_status">Status</label>
                            <input class="form-control" id="filter_status" name="filter[status]" [(ngModel)]="status" size="30" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="filter_openPetitions">Open Petitions</label>
                            <input class="form-control" id="filter_openPetitions" name="filter[openpetitions]" [(ngModel)]="openPetitions" size="30" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm-4'></div>
                    <div class='col-sm-4'><button type="button" style="width: 100%;" class="btn btn-info" (click)="onApplyFiltersClick()">Apply Filters</button></div>
                    <div class='col-sm-4'></div>
                </div>
            </div>
        </div>
    </div>
</div>
