
<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="gotoPrev()" class="prevbtn">Back</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 6 of 36</div>
                    <div class="col-md-4">
                        <a (click)="gotoNext()" class="nextbtn">Save & Continue</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h2>Declaration, Signature, and Contact Information of Petitioner or Authorized Signatory <span>(Read the information on penalties in the instructions before completing this section.)</span></h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copies of any documents submitted are exact photocopies of unaltered, original documents, and I understand that, as the petitioner, I may be required to submit original documents to U.S. Citizenship and Immigration Services (USCIS) at a later date. </p>
                            <p>I authorize the release of any information from my records, or from the petitioning organization's records that USCIS needs to determine eligibility for the immigration benefit sought.  I recognize the authority of USCIS to conduct audits of this petition using publicly available open source information.  I also recognize that any supporting evidence submitted in support of this petition may be verified by USCIS through any means determined appropriate by USCIS, including but not limited to, on-site compliance reviews.</p>
                            <p>If filing this petition on behalf of an organization, I certify that I am authorized to do so by the organization.</p>
                            <p>I certify, under penalty of perjury, that I have reviewed this petition and that all of the information contained in the petition, including all responses to specific questions, and in the supporting documents, is complete, true, and correct. </p>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Name and Title of Authorized Signatory</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Family Name (Last Name)</div>
                                <div class="col-md-7"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.familyName"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.familyName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Given Name (First Name)</div>
                                <div class="col-md-7"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.givenName"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.givenName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Title</div>
                                <div class="col-md-7"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.title"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.title}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Signature and Date</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">Signature of Authorized Signatory</div>
                                <div class="col-md-7"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.signature"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.signature}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Date of Signature</div>
                                <div class="col-md-4">

                                    <my-date-picker *ngIf="isquestionnaireEdit==false" [options]="myDatePickerOptions"
                                                    (dateChanged)="onDateChanged($event)"
                                                    [(ngModel)]="page6.dateOfSignature"
                                                    [selDate]="dateOfSignature"></my-date-picker>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.dateOfSignature}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                           <p class="fieldsetheading">Signatory's Contact Information</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Daytime Telephone Number</div>
                                <div class="col-md-8"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.telephoneNumber"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.telephoneNumber}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Email Address (if any)</div>
                                <div class="col-md-8"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.email"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.email}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p><b>NOTE:</b> If you do not fully complete this form or fail to submit the required documents listed in the instructions, a final decision on your petition may be delayed or the petition may be denied.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h2>Declaration, Signature, and Contact Information of Person Preparing Form, If Other Than Petitioner</h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Provide the following information concerning the preparer:</p>
                        </div>
                        <div class="col-md-12">
                          <p class="fieldsetheading">Name of Preparer</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Family Name (Last Name)</div>
                                <div class="col-md-8"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.preparerFamilyName"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.preparerFamilyName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Given Name (First Name)</div>
                                <div class="col-md-8"><input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.preparerGivenName"/>
                                  <span *ngIf="isquestionnaireEdit==true">{{page6.preparerGivenName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            Preparer's Business or Organization Name (if any)
                        </div>
                        <div class="col-md-12">
                            (If applicable, provide the name of your accredited organization recognized by the Board of Immigration Appeals (BIA).)
                        </div>
                        <div class="col-md-12">
                            <input type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page6.preparerOrgName"/>
                              <span *ngIf="isquestionnaireEdit==true">{{page6.preparerOrgName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
