<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a *ngIf="appService.isImmigrationView()" (click)="gotoPrev()" class="prevbtn">Back</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 2 of 36</div>
                    <div class="col-md-4">
                        <a (click)="gotoNext()" class="nextbtn">Save & Continue</a>
                    </div>
                </div>
            </div>
            <div *ngIf="appService.isImmigrationView()">
                <div class="col-md-12" style="border: 2px solid;background-color: #E0E0E0;margin-top: 5px;margin-bottom: 5px;">
                    <h2 style="margin-top: 7px!important;"> 2. Information About This Petition <span>(See instructions for fee information)</span></h2>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                            <div class="col-md-12" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-7" style="margin-left: -18px;"><p class="fieldsetheading">1. Requested Nonimmigrant Classification (Write classification symbol):</p>
                                        </div>
                                        <div class="col-md-5" style="margin-left: -35px;">
                                            <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.nonImmigrantClassification"
                                            />
                                            <span *ngIf="isquestionnaireEdit==true">{{page2.nonImmigrantClassification}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="fieldsetheading">2. Basis for Classification (select only one box): </p>
                                        <div class="col-md-12" *ngFor="let x of basicClassification">
                                            <input type="radio" name="basicClassification" [value]="x.value" [(disabled)]="isquestionnaireEdit" [(ngModel)]="page2.basicClassification">{{x.display}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="fieldsetheading">3. Provide the most recent petition/application receipt number for the beneficiary.
                                            If none exists, indicate "None."</p>
                                        <div class="col-md-6">
                                          <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.recentPetitionReceiptNo" />
                                                <span *ngIf="isquestionnaireEdit==true">{{page2.recentPetitionReceiptNo}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="fieldsetheading">4. Requested Action (select only one box):</p>
                                <div class="col-md-12" *ngFor="let x of requestedAction">
                                    <input type="radio" name="requestedAction" [value]="x.value" [(disabled)]="isquestionnaireEdit" [(ngModel)]="page2.requestedAction">{{x.display}}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-7">
                                            <p class="fieldsetheading"> 5. Total number of workers included in this petition. (See instructions relating to when more than one worker can be included.)</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.totalNumberOfWorkers" />
                                            <span *ngIf="isquestionnaireEdit==true">{{page2.totalNumberOfWorkers}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="border: 2px solid;background-color: #E0E0E0;margin-top: 5px;margin-bottom: 5px;">
                <h2 style="margin-top: 7px!important;">3.&nbsp;Beneficiary Information <span>(Information about the beneficiary/beneficiaries you are filing for.  Complete the blocks below.  Use the Attachment-1 sheet to name each beneficiary included in this petition.)</span></h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fieldsetheading">1. If an Entertainment Group, Provide the Group Name</p>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.groupName" />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.groupName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">2. Provide Name of Beneficiary</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="familyNameLastname">Family Name (Last Name)</label>
                                    <input id="familyNameLastname" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.lastName"
                                    />
                                    <span *ngIf="isquestionnaireEdit==true">{{page2.lastName}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="givenNameFirstname">Given Name (First Name)</label>
                                    <input id="givenNameFirstname" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.firstName"
                                    />
                                    <span *ngIf="isquestionnaireEdit==true">{{page2.firstName}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="middleName">Middle Name </label>
                                    <input id="middleName" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.middleName"
                                    />
                                    <span *ngIf="isquestionnaireEdit==true">{{page2.middleName}}</span>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <p class="fieldsetheading">3. Provide all other names the beneficiary has used. Include nicknames, aliases, maiden name,
                                and names from all previous marriages </p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="familynameLastname">Family Name (Last Name)</label>
                                    <div>
                                        <input id="familynameLastname" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherLastName1"
                                        />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherLastName1}}</span>
                                    </div>
                                    <div>
                                        <input id="familynameLastname" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherLastName2"
                                        />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherLastName2}}</span>
                                    </div>
                                    <div>
                                        <input id="familynameLastname" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherLastName3"
                                        />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherLastName3}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="givenNameFirstname">Given Name (First Name)</label>
                                    <div>
                                        <input id="givenNameFirstname" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherFirstName1"
                                        />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherFirstName1}}</span>
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherFirstName2" />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherFirstName2}}</span>
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherFirstName3" />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherFirstName3}}</span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MiddleName">Middle Name </label>
                                    <div>
                                        <input id="MiddleName" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherMiddleName1"
                                        />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherMiddleName1}}</span>
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherMiddleName2" />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherMiddleName2}}</span>
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.otherMiddleName3" />
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.otherMiddleName3}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p class="fieldsetheading">4. Other Information</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DOB">Date of birth (mm-dd-yyyy)</label>
                                    <div>
                                        <my-date-picker id="DOB" *ngIf="isquestionnaireEdit==false" [options]="myDatePickerOptions" [(ngModel)]="page2.dateOfBirth"
                                            [selDate]="dateOfBirth"></my-date-picker>
                                        <span *ngIf="isquestionnaireEdit==true">{{page2.dateOfBirth}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="label">Gender </label>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let x of gender">
                                                <input id="label" type="radio" name="gender" [value]="x.value" [(disabled)]="isquestionnaireEdit" [(ngModel)]="page2.gender">{{x.display}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="USSSN">U.S.Social Security Number (if any)</label>
                                    <div>
                                        <input id="USSSN" class="form-control" type="text" *ngIf="isquestionnaireEdit==false" [(ngModel)]="page2.ssn" />
                                            <span *ngIf="isquestionnaireEdit==true">{{page2.ssn}}</span>
</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
</div>
