<div class="main-content">
  <div class="table-data-forms">
    <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <div>
      <button type="submit" class="sendinvite no-marg-right" [ngClass]="{'disableClass':disableSendInvite,'sendinvite no-marg-right':!disableSendInvite}"
        [disabled]="disableSendInvite" (click)="sendInvite($event)">Send Invite</button>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-pad-left">
        <div class="col-md-12 addresbox box-shadow">
          <div class="row">
            <div class="col-sm-12">
              <h2>Profile</h2>
              <button type="submit" class="editbtn  no-marg-right" id="ivClientDtlsEdit"(click)="editProfileForm()" *ngIf="isProfileEdit==true">Edit
              </button>
              <div class="tbl-head-btn" [hidden]="isProfileEdit">
                <button type="button" (click)="cancelProfileEdit()" class="editbtn tbl-head-btn" id="ivClientDtlsCancel" *ngIf="isProfileEdit==false">Cancel
                </button>
                <button type="submit" value="Save" id="ivClientDtlsSave" [ngClass]="isProfileSaveButtonEnabled() ? 'savebtn': 'savebtn btndisabled'" (click)="saveClientProfile()"
                  [disabled]="!isProfileSaveButtonEnabled()" *ngIf="isProfileEdit==false">Save
                </button>
              </div>
            </div>

          </div>
          <div class="row" *ngIf="warningMessage">
            <div class="col-md-12">
              <span class="redstar">* Fields are Mandatory.</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsFileNo">File Number<span class="redstar">*</span></label></div>
            <div class="col-md-8"><input type="text" *ngIf="isProfileEdit==false" id="ivClientDtlsFileNo"  [readonly]="true" [(ngModel)]="clientProfile.fileNumber"
                [ngClass]="clientProfile.fileNumber == '' ? 'redborder': ''" /><span *ngIf="isProfileEdit==true">{{clientProfile.fileNumber}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsStatus">Status<span class="redstar">*</span></label></div>
            <div class="col-md-8">
              <select *ngIf="isProfileEdit==false" [(ngModel)]="client.clientStatus" [ngClass]="client.clientStatus == '' ? 'redborder': ''">
                <option *ngFor="let clientstatus of status" id="{{clientstatus.name}}">{{clientstatus.name}}</option>
              </select>
              <span *ngIf="isProfileEdit==true">{{client.clientStatus}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsEmail">Email<span class="redstar">*</span></label></div>
            <div class="col-md-8">
              <input type="text" id="ivClientDtlsEmail" *ngIf="isProfileEdit==false" [readonly]=true [(ngModel)]="clientProfile.email" [ngClass]="clientProfile.email == '' ? 'redborder': ''"
              />
              <span *ngIf="isProfileEdit==true">{{clientProfile.email}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsFName">First Name<span class="redstar">*</span></label></div>
            <div class="col-md-8"><input type="text" *ngIf="isProfileEdit==false" id="ivClientDtlsFName" [(ngModel)]="clientProfile.firstName" [ngClass]="clientProfile.firstName == '' ? 'redborder': ''"
              /><span *ngIf="isProfileEdit==true">{{clientProfile.firstName}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="wa-state">Middle Name</label></div>
            <div class="col-md-8"><input type="text" *ngIf="isProfileEdit==false" id="wa-state" [(ngModel)]="clientProfile.middleName" />
              <span *ngIf="isProfileEdit==true">{{clientProfile.middleName}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsLName">Last Name<span class="redstar">*</span></label></div>
            <div class="col-md-8"><input type="text" *ngIf="isProfileEdit==false" id="ivClientDtlsLName" [(ngModel)]="clientProfile.lastName" [ngClass]="clientProfile.lastName == '' ? 'redborder': ''"
              /><span *ngIf="isProfileEdit==true">{{clientProfile.lastName}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPhone">Phone Number<span class="redstar">*</span>  </label></div>
            <div class="col-md-8"><input type="text" *ngIf="isProfileEdit==false" id="ivClientDtlsPhone" [formControl]="phoneNumber" [(ngModel)]="clientProfile.phoneNumber"
                [ngClass]="clientProfile.phoneNumber == '' ? 'redborder': ''" /><span *ngIf="isProfileEdit==true">{{clientProfile.phoneNumber}}</span>
            </div>
          </div>
          <div class="row sfm" *ngIf="isProfileEdit==false && phoneNumber != null && phoneNumber.errors">
            <div class="col-md-12">
              <div class="redstar" *ngIf="phoneNumber.errors != null && phoneNumber.errors.required">
                * Phone Number is required
              </div>
              <div class="redstar" *ngIf="phoneNumber.errors != null && phoneNumber.errors.pattern">
                * Invalid Phone Number
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsCreatedBy">Created By</label></div>
            <div class="col-md-8">
              <input type="text" id="ivClientDtlsCreatedBy" *ngIf="isProfileEdit==false" [readonly]=true [(ngModel)]="clientProfile.createdByUserOn" />
              <span *ngIf="isProfileEdit==true">{{clientProfile.createdByUserOn}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsupdatedBy">Last Updated By</label></div>
            <div class="col-md-8">
              <input type="text" *ngIf="isProfileEdit==false" id="ivClientDtlsupdatedBy" [readonly]=true [(ngModel)]="clientProfile.lastUpdatedByUserOn" />
              <span *ngIf="isProfileEdit==true">{{clientProfile.lastUpdatedByUserOn}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsForDelete">Mark for Deletion</label></div>
            <div class="col-md-8">
              <select *ngIf="isProfileEdit==false" [(ngModel)]="clientProfile.markForDeletion">
                <option value="true" id="ivClientDtlsForDeleteYes">Yes</option>
                <option value="false" id="ivClientDtlsForDeleteNo">No</option>
              </select>
              <span *ngIf="isProfileEdit==true">{{clientProfile.markForDeletion ? 'Yes' : 'No'}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsForDeleteBy">Marked For Deletion By</label></div>
            <div class="col-md-8">
              <input type="text" id="ivClientDtlsForDeleteBy" *ngIf="isProfileEdit==false" [readonly]=true [(ngModel)]="clientProfile.deletedByUserOn" />
              <span *ngIf="isProfileEdit==true">{{clientProfile.deletedByUserOn}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="tbl-head-btn" [hidden]="isProfileEdit">
                <button type="button" (click)="cancelProfileEdit()" id="ivClientDtlsCancel1" class="editbtn tbl-head-btn bottombtns" *ngIf="isProfileEdit==false">
                            Cancel
                        </button>
                <button type="submit" id="ivClientDtlsSave1" value="Save" [ngClass]="isProfileSaveButtonEnabled() ? 'savebtn bottombtns': 'savebtn bottombtns btndisabled'"
                  [disabled]="!isProfileSaveButtonEnabled()" (click)="saveClientProfile()" *ngIf="isProfileEdit==false">
                            Save
                        </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-md-12 addresbox box-shadow">
          <div class="row">
            <div class="col-sm-12">
              <h2>Personal Info</h2>
              <button type="submit" id="ivClientDtlsPinfoEdit" class="editbtn  no-marg-right" (click)="editPersonalInfoForm()" *ngIf="isPersonalInfoEdit==true">Edit
              </button>
              <div class="tbl-head-btn" [hidden]="isPersonalInfoEdit">
                <button type="button" (click)="cancelPersonalInfoEdit()" id="ivClientDtlsCancel2" class="editbtn tbl-head-btn" *ngIf="isPersonalInfoEdit==false">Cancel
                </button>
                <button type="submit" value="Save" class="savebtn" id="ivClientDtlsSave2" (click)="saveClientPersonalInfo()" *ngIf="isPersonalInfoEdit==false">Save
                </button>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPinfoGender">Gender</label></div>
            <div class="col-md-8">
              <select *ngIf="isPersonalInfoEdit==false" [(ngModel)]="clientPersonalInfo.gender">
                <option *ngFor="let genderTypes of gender" id="{{genderTypes.name}}">{{genderTypes.name}}</option>
              </select>
              <span *ngIf="isPersonalInfoEdit==true">{{clientPersonalInfo.gender}}</span>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPinfoDob">Date Of Birth</label></div>
            <div class="col-md-8">
              <my-date-picker *ngIf="isPersonalInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="clientPersonalInfo.dateOfBirth"
                [selDate]="dateOfBirth" id="ivClientDtlsPinfoDob"></my-date-picker>
              <span *ngIf="isPersonalInfoEdit==true">{{clientPersonalInfo.dateOfBirth}}</span>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPinfoSsn">U.S. Social Security Number (if any)</label></div>
            <div class="col-md-8"><input type="text" *ngIf="isPersonalInfoEdit==false" id="ivClientDtlsPinfoSsn" [formControl]="ssn" [(ngModel)]="clientPersonalInfo.ssn"
              />
              <span *ngIf="isPersonalInfoEdit==true">{{clientPersonalInfo.ssn}}</span>
            </div>
          </div>
          <div class="row sfm" *ngIf="isPersonalInfoEdit==false && ssn != null && ssn.errors">
            <div class="col-md-12">

              <div class="redstar" *ngIf="ssn.errors.pattern">
                * Invalid SSN Number(Can contain only digits and -)
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPinfoAlienRegNo">Alien Registration Number</label></div>
            <div class="col-md-8"><input type="text" *ngIf="isPersonalInfoEdit==false" id="ivClientDtlsPinfoAlienRegNo" [(ngModel)]="clientPersonalInfo.aleinRegistrationNumber"
              /><span *ngIf="isPersonalInfoEdit==true">{{clientPersonalInfo.aleinRegistrationNumber}}</span></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPinfoCOB">Country of Birth</label></div>
            <div class="col-md-8"><input type="text" *ngIf="isPersonalInfoEdit==false" id="ivClientDtlsPinfoCOB" [(ngModel)]="clientPersonalInfo.countryOfBirth"
              /><span *ngIf="isPersonalInfoEdit==true">{{clientPersonalInfo.countryOfBirth}}</span></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPinfoSOB">State/Province of Birth</label></div>
            <div class="col-md-8"><input type="text" *ngIf="isPersonalInfoEdit==false" id="ivClientDtlsPinfoSOB" [(ngModel)]="clientPersonalInfo.stateOfBirth"
              /><span *ngIf="isPersonalInfoEdit==true">{{clientPersonalInfo.stateOfBirth}}</span></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="ivClientDtlsPinfoCitizen">Country of Citizenship or Nationality</label></div>
            <div class="col-md-8"><input type="text" *ngIf="isPersonalInfoEdit==false" id="ivClientDtlsPinfoCitizen" [(ngModel)]="clientPersonalInfo.citizenship"
              /><span *ngIf="isPersonalInfoEdit==true">{{clientPersonalInfo.citizenship}}</span></div>
          </div>




          <div class="row">
            <div class="col-sm-12">
              <div class="tbl-head-btn" [hidden]="isPersonalInfoEdit">
                <button type="button" (click)="cancelPersonalInfoEdit()" ivClientDtlsPinfoCancel2 class="editbtn tbl-head-btn bottombtns" *ngIf="isPersonalInfoEdit==false">
                            Cancel
                        </button>
                <button type="submit" value="Save" id="ivClientDtlsPinfoSave2" class="savebtn bottombtns" (click)="saveClientPersonalInfo()" *ngIf="isPersonalInfoEdit==false">
                            Save
                        </button>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>
