<div class="modal-dialog" ngDraggable>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row" *ngFor="let item of headerNamesArray;let i=index">
            <div class="col-md-5">{{item.headerName}}</div>
            <div class="col-md-7">

              <div *ngIf="!item.typeFlag"><input type="text" class="form-control" [(ngModel)]="item.fieldValue"></div>
              <div *ngIf="item.typeFlag && item.type == 'datePicker'">
                <my-date-picker [options]="datePickerOptions" [(ngModel)]="item.fieldValue" [selDate]="datePickerValue[i]"></my-date-picker>
              </div>
              <div *ngIf="item.typeFlag && item.type == 'dropDown'">
                <select class="form-control" [(ngModel)]="item.fieldValue">
                <option *ngFor="let x of data[i]">{{x.display}}</option>
                </select>

              </div>

            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="onApplyFilterClick()">Apply Filters</button></div>
              <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Close</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
