    <div class="main-content" *ngIf="getCleintVisa">

        <div class="table-data">
            <h1>{{appService.firstName}} {{appService.lastName}}</h1>
            <ul class="breadcrumb">
                <li><a href="#">Clients</a></li>
                <li><a href="#">Visas</a></li>
            </ul>
            <div class="clearfix"></div>
            <h2>
                <span>Visas</span>
            </h2>
            <smart-table [settings]="settings" [data]="data"
                         (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></smart-table>   
                <div class="clearfix"></div>
</div>
    </div>
<div *ngIf="addCleintVisa">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Country:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewVisa.country" class="form-control"></div>
                            <div class="col-md-5">Petition Number:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewVisa.petitionNumber" class="form-control"></div>
                            <div class="col-md-5">Visa Number:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewVisa.visaNumber" class="form-control"></div>
                            <div class="col-md-5">Visa Type:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewVisa.visaType" class="form-control"></div>
                            <div class="col-md-5">Issued On:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewVisa.issuedOn"
                                                [selDate]="issuedOn"></my-date-picker>
                            </div>
                            <div class="col-md-5">Expires On:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewVisa.expiresOn"
                                                [selDate]="expiresOn"></my-date-picker>                         
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
              
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="clientVisaSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
