<div class="main-content">
    <div class="clearfix"></div>
    <div class="table-data">
        <div class="row">
            <div class="todos">

                <div>
                    <form (submit)="addTodo($event)">
                        <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
                        <button type="submit" [disabled]="newTodo===''">Add Todo</button>
                    </form>
                </div>
                <ul>
                    <li *ngFor="let todo of todos; let i=index">
                        <input type="checkbox" class="checkbox" />
                        <span>{{ todo.todoText }}</span>
                        <span (click)="deleteTodo(i)" class="delete-icon pull-right"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                    </li>
                </ul>

                <div class="mtop20">
                    <button (click)="deleteSelectedTodos()">Delete Selected</button>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
     .box1 {
    border: solid 1px #006699;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 5px;
  }

  .todos input.textfield {
    width: 480px;
    height: 36px;
    margin-right: 20px;
    font-size: 1.4em;
    vertical-align: top;
  }

  .todos input.checkbox {
    width: 20px;
    height: 20px;
  }

  .todos .checked {
    text-decoration: line-through;
  }

  .todos button {
    height: 36px;
    font-size: 1.1em;
    vertical-align: top;
    border: solid 1px #999;
    border-radius: 2px;
  }

  .todos .delete-icon {
    display: inline-block;
    cursor: pointer;
  }
<!--</style>-->