<div class="main-content">
    <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>

    <div class="clearfix"></div>
    <div class="table-data-forms">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="no-pad-left">Account Info</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editForm()" *ngIf="isEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isEdit">
                                <button type="button" (click)="cancelEdit()" class="editbtn tbl-head-btn" *ngIf="isEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveClientPassport()" *ngIf="isEdit==false">Save</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-Passport">Account Name </label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="wa-name" [(ngModel)]="passport.passportNumber" /><span *ngIf="isEdit==true">{{passport.passportNumber}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-issuance-place">Account Number</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="wa-taxid" [(ngModel)]="passport.issuancePlace" disabled /><span *ngIf="isEdit==true">{{passport.issuancePlace}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-issuance-state">First Name</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="wa-door" [(ngModel)]="passport.issuanceState" /><span *ngIf="isEdit==true">{{passport.issuanceState}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-issuance-country">Last Name</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="pInfo-issuance-country" [(ngModel)]="passport.issuanceCountry" /><span *ngIf="isEdit==true">{{passport.issuanceCountry}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-issuing-country">Email</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="wa-city" [(ngModel)]="passport.issuingCountry" /><span *ngIf="isEdit==true">{{passport.issuingCountry}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-issuing-country">Phone</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="wa-city" [(ngModel)]="passport.issuingCountry" /><span *ngIf="isEdit==true">{{passport.issuingCountry}}</span></div>
                    </div>
                    <div class="row">
                       <div class="col-md-4"><label for="pInfo-issuance-date">Created On</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isEdit==false" id="wa-door" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="passport.isuanceDate" [selDate]="isuanceDate">
                            </my-date-picker>
                            <span *ngIf="isEdit==true">{{passport.isuanceDate}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-comments">Status </label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="pInfo-comments" [(ngModel)]="passport.comments" /><span *ngIf="isEdit==true">{{passport.comments}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-comments">Last Payment Status</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="pInfo-comments" [(ngModel)]="passport.comments" /><span *ngIf="isEdit==true">{{passport.comments}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-comments">Storage Type</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="pInfo-comments" [(ngModel)]="passport.comments" /><span *ngIf="isEdit==true">{{passport.comments}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-comments">Mark for Deletion</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="pInfo-comments" [(ngModel)]="passport.comments" /><span *ngIf="isEdit==true">{{passport.comments}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-comments">Mark For Deletion details # By User on MM/DD/YYYY</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="pInfo-comments" [(ngModel)]="passport.comments" /><span *ngIf="isEdit==true">{{passport.comments}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pInfo-comments">Notes/Comments</label></div>
                        <div class="col-md-8"><input *ngIf="isEdit==false" type="text" id="pInfo-comments" [(ngModel)]="passport.comments" /><span *ngIf="isEdit==true">{{passport.comments}}</span></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="isEdit">
                                <button type="button" (click)="cancelEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveClientPassport()" *ngIf="isEdit==false">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
