
<div class="main-content" *ngIf="getInvoice">
    <ul class="breadcrumb">
        <li><a href="#">Account Invoice</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>
            <span>Invoices</span>
            <!--<button type="button" class="iportal-btn pull-right no-marg-right" (click)="addNewInvoice()">ADD</button>-->
        </h2>
        <!--<ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="onEditConfirm($event)"></ng2-smart-table>-->
        <table class="smarttable" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <td>
                <span>Invoice Number</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
            </td>
            <td>
                <span>Invoice Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
            </td>
            <td>
                <span>Invoice Amount</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
            </td>
            <td>
                <span>Payment Received</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
            </td>
            <td>
                <span>PDF Uploaded</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
            </td>
            <td>
                <span>Download Button</span><span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
            </td> 
            <td>
                <span>View Details</span>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="" /></td>
            <td><input type="text" name="" /></td>
            <td><input type="text" name="" /></td>
            <td><input type="text" name="" /></td>
            <td><input type="text" name="" /></td>
            <td><input type="text" name="" /></td>
            <td></td>
        </tr>
        <tr *ngFor="let invoice of AccountInvoices">
            <td>{{invoice.invoiceNumber}}</td>
            <td>{{invoice.invoiceDate}}</td>
            <td>{{invoice.invoiceAmount}}</td>
            <td>{{invoice.paymentRecieved}}</td>           
            <td>{{invoice.fileName}}</td>          
            <td><button type="button" class="btn btn-primary" (click)="downloadInvoice(invoice)">Download</button></td>
            <td><a (click)="getInvoiceInfo(invoice)"><i class="fa fa-eye"></i></a></td>
        </tr>
    </tbody>
</table>
        <div class="clearfix"></div>
    </div>

</div>
<div *ngIf="viewPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12 col-sm-offset-3">
                        <div class="col-md-12 addresbox box-shadow">
                            <div class="row">
                                <div class="col-md-4">Invoice Number:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [disabled]="true" [(ngModel)]="invoice.invoiceNumber"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.invoiceNumber}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Invoice Date:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [disabled]="true" [(ngModel)]="invoice.invoiceDate"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.invoiceDate}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Invoice Amount:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [(ngModel)]="invoice.invoiceAmount"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.invoiceAmount}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Account Name:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [(ngModel)]="invoice.accountName"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.accountName}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Account Number:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [(ngModel)]="invoice.accountNumber"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.accountNumber}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">invoice Codes:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [(ngModel)]="invoice.invoiceCodes"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.invoiceCodes}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Discount Codes:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [(ngModel)]="invoice.discountCodes"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.discountCodes}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Payment Status:</div>
                                <div class="col-md-8"><input type="text" *ngIf="isEditInvoice==false" [(ngModel)]="invoice.paymentStatus"
                                        class="form-control">
                                    <span *ngIf="isEditInvoice==true">{{invoice.paymentStatus}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Downdload:</div>
                                <div class="col-md-8">
                                    <button type="button" class="btn btn-primary" (click)="downloadInvoice(invoice)">Download</button>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<div class="row">
                    <button type="submit" class="editinpopup" (click)="editinvoiceInfo()" *ngIf="isEditInvoice==true">Edit</button>
                    <div class="tbl-head-btn" [hidden]="isEditInvoice">
                        <button type="button" (click)="cancelinvoiceInfo()" class="editinpopup" *ngIf="isEditInvoice==false">Cancel</button>
                        <button type="submit" value="Save" class="savebtn" (click)="saveinvoiceInfo()" *ngIf="isEditInvoice==false">Save</button>
                    </div>
                </div>-->
                <button type="button" class="btn btn-default" (click)="cancel()">Close</button>
            </div>
        </div>
    </div>
</div>
<!--<div *ngIf="addInvoice">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{title}}</h4>
                            <button type="button" class="close" (click)="close()">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-4">Invoice Number:</div>
                                        <div class="col-md-8"><input type="text" [(ngModel)]="newInvoice.invoiceNumber" class="form-control"></div>
                                        <div class="col-md-4">Invoice Date:</div>
                                        <div class="col-md-8">
                                            <my-date-picker [options]="myDatePickerOptions"
                                                            (dateChanged)="onDateChanged($event)"
                                                            [selDate]="invoiceDate"></my-date-picker>
                                        </div>
                                        <div class="col-md-4">Invoice Amount:</div>
                                        <div class="col-md-8"><input type="text" [(ngModel)]="newInvoice.invoiceAmount" class="form-control"></div>
                                        <div class="col-md-4">Payment Received:</div>
                                        <div class="col-md-8"><input type="text" [(ngModel)]="newInvoice.paymentReceived" class="form-control"></div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="dependentSave()">Save</button>
                            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>-->
