<div class="main-content">
    <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <ul class="breadcrumb">
        <li><a href="#">Clients</a></li>
        <li><a href="#">I-797 History</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>I-797 History</h2>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
        <div class="clearfix"></div>
    </div>


</div>
