<style>
    .highlightColor rag-element{
        color:red;
    }
</style>
<div class="main-content">
    <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <ul class="breadcrumb">
        <li><a href="#">Clients</a></li>
        <li><a href="#">I-797 History</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>I-797 History</h2>
        <!--<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>-->
        <div>
            <div style="display:inline" *ngFor="let x of filterWholeArray let i=index">
                <span style="margin-left:10px;">{{x.headingName}}</span>:<span>{{x.filterValue}}</span><span style="position:absolute;top: 118px;" class="close" (click)="delete(i,x)">&times;</span>
            </div>
            
        </div>
        <div style="width:100%;">
            <ag-grid-angular #agGrid style="width: 100%; height:500px;" class="ag-fresh"
                             [gridOptions]="gridOptions" >
            </ag-grid-angular>
        </div>
        <div class="clearfix"></div>
    </div>


</div>
