<div class="main-content" *ngIf="getI797History">

    <div class="table-data">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>

        <div class="clearfix"></div>
        <h2>
            <span>I-797 History</span><button type="button" class="iportal-btn pull-right no-marg-right" (click)="addNewI797History()">ADD</button>
        </h2>
        <!--<ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>-->
         <smart-table [settings]="settings" [data]="data"
                     (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></smart-table>
        <div class="clearfix"></div>
    </div>


</div>
<div *ngIf="addI797His">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Receipt Number:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewI797.receiptNumber" class="form-control"></div>
                            <div class="col-md-5">Receipt Date:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewI797.receiptDate"
                                                [selDate]="receiptDate"></my-date-picker>
                            </div>
                            <div class="col-md-5">Status On I-797:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewI797.status" class="form-control"></div>
                            <div class="col-md-5">Approved on:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewI797.approvedOn"
                                                [selDate]="approvedOn"></my-date-picker>                            
                            </div>
                            <div class="col-md-5">Valid From:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewI797.validFrom"
                                                [selDate]="validFrom"></my-date-picker> 
                            </div>
                            <div class="col-md-5">valid Till:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewI797.validTill"
                                                [selDate]="validTill"></my-date-picker>
                            </div>                          
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <!--<div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="I797HistorySave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>