<div class="main-content">
    <div class="table-data">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="gotoPrev()" class="prevbtn">Back</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 14 of 36</div>
                    <div class="col-md-4">
                        <a (click)="gotoNext()" class="nextbtn">Save</a>
                    </div>
                </div>
            </div>
          <div *ngIf="appService.applicationViewMode == 'Immigration'">
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">Explanation</div>
                                <div class="col-md-12"> <textarea style="height:120px" [(ngModel)]="I129Hpage2.explanation"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h2>Complete This Section If Filing for H-1B Classification</h2>
            </div>
          </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">Describe the proposed duties</div>
                                <div class="col-md-12"> <textarea style="height:120px" [(ngModel)]="I129Hpage2.proposedDutiess"></textarea></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">Describe the beneficiary's present occupation and summary of prior work experience.</div>
                                <div class="col-md-12"> <textarea style="height:120px" [(ngModel)]="I129Hpage2.summaryOfWorkExp"></textarea></div>
                            </div>
                        </div>

                      <div *ngIf="appService.applicationViewMode == 'Immigration'">
                        <div class="col-md-12">
                            <p class="fieldsetheading">Statement for H-1B Specialty Occupations and H-1B1 Chile and Singapore</p>
                            <p>By filing this petition, I agree to, and will abide by, the terms of the labor condition application (LCA) for the duration of the beneficiary's authorized period of stay for H-1B employment.  I certify that I will maintain a valid employer-employee relationship with the beneficiary at all times.  If the beneficiary is assigned to a position in a new location, I will obtain and post an LCA for that site prior to reassignment.</p>
                            <p>I further understand that I cannot charge the beneficiary the ACWIA fee, and that any other required reimbursement will be considered an offset against wages and benefits paid relative to the LCA. </p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Signature of Petitioner</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Name of Petitioner</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage2.petitonerName"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Date (mm/dd/yyyy)</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage2.petitionerDateOfSignature"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Statement for H-1B Specialty Occupations and U.S. Department of Defense (DOD) Projects</p>
                            <p>As an authorized official of the employer, I certify that the employer will be liable for the reasonable costs of return transportation of the alien abroad if the beneficiary is dismissed from employment by the employer before the end of the period of authorized stay.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Signature of Authorized Official of Employer</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Name of Authorized Official of Employer</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage2.authorizedOfficial" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Date (mm/dd/yyyy)</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage2.officialDateOfSignature"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Statement for H-1B U.S. Department of Defense Projects Only</p>
                            <p>I certify that the beneficiary will be working on a cooperative research and development project or a co-production project under a reciprocal government-to-government agreement administered by the U.S. Department of Defense.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Signature of DOD Project Manager</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Name of DOD Project Manager</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage2.projectManager"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Date (mm/dd/yyyy)</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage2.projectManagerDateOfSignature"/></div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          <div *ngIf="appService.applicationViewMode == 'Immigration'">
            <div class="col-md-12">
                <h2>Complete This Section If Filing for H-2A or H-2B Classification</h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">Employment is:  (select only one box)</div>
                        <div class="col-md-3"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage2.employment"> Seasonal</div>
                        <div class="col-md-3"><input type="checkbox" name="" value=""> Peak load</div>
                        <div class="col-md-3"><input type="checkbox" name="" value=""> Intermittent</div>
                        <div class="col-md-3"><input type="checkbox" name="" value=""> One-time occurrence</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">Temporary need is:  (select only one box)</div>
                        <div class="col-md-3"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage2.temporaryNeed"> Unpredictable</div>
                        <div class="col-md-3"><input type="checkbox" name="" value=""> Periodic</div>
                        <div class="col-md-3"><input type="checkbox" name="" value=""> Recurrent annually</div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
