<div class="main-content">
    <ul class="breadcrumb">
        <li><a href="#">Account Preferences</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>
            Products
        </h2>
        <smart-table class="immiview-managAcctab-accprefproducts" [settings]="settings" [data]="data"></smart-table>
        <h2 style="margin-top: 50px;">
            Discounts
        </h2>
        <smart-table class="immiview-managAcctab-accprefdiscounts" [settings]="settings1" [data]="data1"></smart-table>
    </div>
</div>
