    <div class="main-content" *ngIf="arrDepInfo">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>

        <div class="clearfix"></div>
        <div class="table-data">
            <h2><span>Arrival/Departure Info</span><button type="button" class="iportal-btn pull-right no-marg-right" (click)="addNewArrDep()">ADD</button></h2>
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm) = "onDeleteConfirm($event)" (editConfirm) = "onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
            <div class="clearfix"></div>
        </div>
    </div>
<div *ngIf="addArrDep">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">Departure date:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addArrDeparture.departureDate" class="form-control"></div>
                            <div class="col-md-4">Departure Country:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addArrDeparture.departureCountry" class="form-control"></div>
                            <div class="col-md-4">Arrival date:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addArrDeparture.arrivalDate" class="form-control"></div>
                            <div class="col-md-4">Arrival Country:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addArrDeparture.arrivalCountry" class="form-control"></div>
                            <div class="col-md-4">Visa Type:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addArrDeparture.visaType" class="form-control"></div>
                            <div class="col-md-4">I-94:</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addArrDeparture.i94" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="arrDepSave()">SAVE</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>