<div class="main-content">
    <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <h1 style="float:right;">{{appService.petitionDetails}}</h1>
    <div class="clearfix"></div>
    <div class="table-data">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tbl-head-btn">
                            <button type="submit" class="editbtn  no-marg-right" (click)="editQuestionnaireDC()" *ngIf="isQuestionnaireDCEdit==true" style="float: left;margin-right: 10px; margin-top:0px; margin-bottom:15px;">Edit</button>
                            <button class="editbtn  no-marg-right" (click)="repopulateQuestionnaireDC()" *ngIf="isQuestionnaireDCEdit==true" style="float:right; margin-top:0px; margin-bottom:15px;">Repopulate</button>
                        </div>
                        <div class="tbl-head-btn" [hidden]="isQuestionnaireDCEdit">
                            <button type="button" (click)="cancelQuestionnaireDC()" class="editbtn tbl-head-btn" *ngIf="isQuestionnaireDCEdit==false" style="margin-top:0px; margin-bottom:15px;">Cancel</button>
                            <button type="submit" value="Save" class="savebtn" (click)="saveQuestionnaireDC()" *ngIf="isQuestionnaireDCEdit==false" style="margin-top:0px; margin-bottom:15px;">Save</button>
                        </div>
                    </div>
                </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Questionnaire Name:
                                </div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="appService.QuestionnaireName" disabled class="qnameftype" /></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Form Type:
                                </div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="appService.formname" disabled class="qnameftype" /></div>
                            </div>
                        </div>
                    </div>


                    <h2>Basic Information</h2>

                    <div class="col-md-12 addresbox box-shadow">
                        <div class="row">
                            <div class="col-md-4"><label for="">Name of the Petitioner</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isQuestionnaireDCEdit==false" [(ngModel)]="questionnaireDC.petitionerName" />
                                <span *ngIf="isQuestionnaireDCEdit==true">{{questionnaireDC.petitionerName}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="">Name of the Beneficiary</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isQuestionnaireDCEdit==false" [(ngModel)]="questionnaireDC.beneficiaryname" />
                                <span *ngIf="isQuestionnaireDCEdit==true">{{questionnaireDC.beneficiaryname}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 tbl-head">
                                <h2 class="no-pad-left">Employer Information</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"><label for="">Is the Petitioner an H-1B dependent employer?</label></div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isDepedentEmployers" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="employerInfo.isDepedentEmployers" />
                                    {{x.display}}
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-10"><label for="">Has the Petitioner ever been found to be willful violator?</label></div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isWillfulViolator" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="employerInfo.isWillfulViolator" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"><label for="">Is the beneficiary an H-1B nonimmigrant exempt from the Department of Labor attestation requirements?</label></div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isNonimmigrantExempt" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="employerInfo.isNonimmigrantExempt" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"><label for="" style="margin-left:30px;">If yes, Is it because the beneficiary's annual rate of pay is equal to at least $60,000?</label></div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isAnnualRateEq60K" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="employerInfo.isAnnualRateEq60K" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"><label for="" style="margin-left:30px;">Or Is it because the beneficiary has a master's degree or higher degree in a specialty related to the employment?</label></div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isSpecialMasterDegree" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="employerInfo.isSpecialMasterDegree" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"><label for="">Does the petitioner employ 50 or more individuals in the United States?</label></div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isEmployeesSizeMoreThan50" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="employerInfo.isEmployeesSizeMoreThan50" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"><label for="" style="margin-left:30px;">If yes, Are more than 50 percent of those employees in H-1B, L-1A, or L-1B nonimmigrant status</label></div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isNonimmigrantStatus_HB_LA_LB" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="employerInfo.isNonimmigrantStatus_HB_LA_LB" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label for="">Beneficiary's Highest Level of Education</label></div>
                            <div class="col-md-8">
                                <select *ngIf="isQuestionnaireDCEdit==false" [(ngModel)]="generalInfo.higherEducation">
                                    <option *ngFor="let x of higherEducation" [value]="x.value">{{x.display}}</option>
                                </select>
                                <span *ngIf="isQuestionnaireDCEdit==true">{{generalInfo.higherEducation}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label for="">Major/Primary Field of Study</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isQuestionnaireDCEdit==false" [(ngModel)]="generalInfo.primaryStudy" />
                                <span *ngIf="isQuestionnaireDCEdit==true">{{generalInfo.primaryStudy}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 tbl-head">
                                <h2 class="no-pad-left">Fee Exemption and/or Determination</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Are You An Institution of higher education as defince in section 1011(a)of the Higher Education Act of 1965,20 U.S.C.(1001)(a)? </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isHigherEducationAct20USC" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isHigherEducationAct20USC" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Are You a non profit organization or entity related to or affliated with an institution of higher education,as defined in 8 CFR 214.2(h)(19)(iii)(B)? </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isOrgOrEntityDefinedIn8CFR19B" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isOrgOrEntityDefinedIn8CFR19B" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Are You a non profit research organization of goveranment research organization, As defined in 8 CFR 214.2(h)(19)(iii)(C)? </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isOrgOrEntityDefinedIn8CFR19C" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isOrgOrEntityDefinedIn8CFR19C" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Is this the second subsequent request for an extention of stay that this petioner as filed for this alien?</label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isSecondExtnRequest" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isSecondExtnRequest" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Is this an emended petition that does not contaion any requst for extentions of stay? </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isAmendNotExtn" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isAmendNotExtn" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Are you filing this petition to correct a USCIS error?  </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isToCorrectUSCISError" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isToCorrectUSCISError" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Is the petitioner a primary or secondary  education institution? </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isPrimaryEducInstutition" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isPrimaryEducInstutition" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Is the petitioner nonprofit entity that engages in an established curriculum-related clinical training of student registered at such an institution? </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isNonProfitEntity" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isNonProfitEntity" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Do you currently employ a total of 25 or fewer full-time equivalent employees in the United States,including all affliates or subsadiaries of this company or organization? </label>
                            </div>
                            <div style="padding:5px" *ngFor="let x of questions">
                                <label for="">
                                    <input type="radio" name="isEmployeesFullTime" [(disabled)]="isQuestionnaireDCEdit" [value]="x.value" [(ngModel)]="determinationInfo.isEmployeesFullTime" />
                                    {{x.display}}
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
        </div>
    </div>
       
</div>