<div class="main-content" *ngIf="getUsers">
      <!--  <h1>{{user.lastName}} {{user.firstName}}</h1>-->
        <ul class="breadcrumb">
            <li><a href="#">Account Managers</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="table-data">
            <h2>
                <span>Account Managers</span>
                <button type="button" class="iportal-btn pull-right no-marg-right" (click)="addNewUser()">ADD</button>
            </h2>
                <ng2-smart-table [settings]="settings" [source]="source" (delete) = "onDeleteConfirm($event)" (edit) = "onEditConfirm($event)" (create)="onCreateConfirm($event)" ></ng2-smart-table>
            <div class="clearfix"></div>
        </div>
    </div>
 <div *ngIf="addPopups">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <form novalidate>
                            <div class="col-md-4">First Name:</div>
                            <div class="col-md-8"><input type="text" required [(ngModel)]="addUsers.firstName" class="form-control"></div>
                            <div class="col-md-4">Last Name:</div>
                            <div class="col-md-8"><input type="text" required [(ngModel)]="addUsers.lastName" class="form-control"></div>
                            <div class="col-md-4">Email</div>
                            <div class="col-md-8"><input type="text" required [(ngModel)]="addUsers.emailId" class="form-control"></div>
                            <div class="col-md-4">Phone:</div>
                            <div class="col-md-8"><input type="text" required [(ngModel)]="addUsers.phone" class="form-control"></div>
                            <div class="col-md-4">Role:</div>
                            <div class="col-md-8">
                                <select [(ngModel)]="addUsers.role" class="form-control">
                                    <option value="IMMIGRATION OFFICER">IMMIGRATION OFFICER</option>
                                    <option value="IMMIGRATION MANAGER">IMMIGRATION MANAGER</option>
                                </select>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="manageUserSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--<h1 style="color:red">Hiiiiiiiiiiiii</h1>-->