<div class="main-content" *ngIf="getCvi797Data">
   
    <div class="table-data">
        <h1>{{appService.firstName}} {{appService.lastName}}</h1>
        <ul class="breadcrumb">
            <li><a href="#">Clients</a></li>
            <li><a href="#">I-797 History</a></li>
        </ul>
        <div class="clearfix"></div>
        <h2>I-797 History</h2>
        <smart-table [settings]="settings" [data]="data"
                     (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></smart-table>
           <!-- <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="onEditConfirm($event)" (create)="onCreateConfirm($event)"></ng2-smart-table>-->
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="showAddi797popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Receipt Number :</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="newi797item.receiptNumber" class="form-control"></div>
                            <div class="col-md-5">Receipt Date :</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="newi797item.receiptDate"
                                                [selDate]="receiptDate"></my-date-picker>
                            </div>
                            <div class="col-md-5">Status On I-797 :</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="newi797item.status" class="form-control"></div>
                            <div class="col-md-5">Approved on :</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="newi797item.approvedOn"
                                                [selDate]="approvedOn"></my-date-picker>
                            </div>
                            <div class="col-md-5">Valid From :</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="newi797item.validFrom"
                                                [selDate]="validFrom"></my-date-picker>
                            </div>
                            <div class="col-md-5">Valid Till:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="newi797item.validTill"
                                                [selDate]="validTill"></my-date-picker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <!--<div class="row sfm" *ngIf="warningMessage">
                <div class="col-md-12">
                    <span class="redstar">* Fields are Mandatory.</span>
                </div>
            </div>-->
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="i797Save()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>

