<div class="main-content">
    <div class="clearfix"></div>
    <div class="table-data-forms">
        <div class="row">
            <div _ngcontent-c4="" class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 _ngcontent-c4="">Change Password</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="fname">Current password</label></div>
                        <div class="col-md-8">
                            <input type="password" placeholder="current password" [(ngModel)]="profilechange.currentpwd" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="fname">New password</label></div>
                        <div class="col-md-8">
                            <input type="password" placeholder="New password" [(ngModel)]="profilechange.newpwd" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="fname">Retype New password</label></div>
                        <div class="col-md-8">
                            <input type="password" placeholder="Retype New password" [(ngModel)]="profilechange.retypenewpwd" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8" style="text-align:right;">
                            <button class="savebtn bottombtns" style="float:right;" (click)="changepwd()">Submit</button>
                        </div>
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
