    <div class="main-content" *ngIf="getForms">
        <div class="table-data">
            <h2 class="clickname" style="width:60%;float:left;" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}}</h2>
            <h2 style="float:right;width:40%; text-align:right;">{{appService.petitionDetails}}</h2>
            <div class="clearfix"></div>
            <div class="row sfm" *ngIf="errorMessage">
                <div class="col-md-12">
                    <span class="redstar">PDF is not Generated please fill the form in Questionnaire</span>
                </div>
            </div>
        <ih-smart-table class="immiview-formstbl" [settings]="settings" [data]="data" (onRowClick)="editFormsData($event)"></ih-smart-table>

                <div class="clearfix"></div>
</div>


    </div>
   <div *ngIf="editForms">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Form Name:</div>
                            <div class="col-md-7"><input type="text" [disabled]='true' [(ngModel)]="formsList.formName" class="form-control"></div>

                            <div class="col-md-5">Questionniare Name:</div>
                            <div class="col-md-7">
                              <input type="text" [disabled]='true' [(ngModel)]="formsList.questionnaireName" class="form-control">
                            </div>
                            <div class="col-md-5">Save Form As:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="formsList.fileName" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="fileNameSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <div *ngIf="generateFormsPopup">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Do  you want to generate the form as</div>
                            <div class="col-md-7"><input type="text"  [(ngModel)]="generateFormData.formName" class="form-control"></div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="generateFormSave()">Ok</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="generateFormCancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

