    <div class="main-content">
        <!--<h1>{{user.lastName}} {{user.firstName}}</h1>-->
        <ul class="breadcrumb">
            <li><a href="#">Account Preferences</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="table-data">
            <h2>
                Products<!--<button type="submit" value="Edit" class="iportal-btn pull-right no-marg-right">Add</button>-->
            </h2>
            <smart-table [settings]="settings" [data]="data"></smart-table>
            <!--<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowClick($event);" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>-->

            <!-- <table class="smarttable" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td><span>Name</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span></td>
                        <td>
                            <span>Code</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Description</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Start Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>End Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max Users</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max Clients/Month</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max Petitions/Month</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max S3 Storage</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Cost</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                    </tr>
                    
                    <tr *ngFor="let product of products">
                  
                    <td>{{product.name}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.startDate}}</td>
                    <td>{{product.endDate}}</td>
                    <td>{{product.maxUsers}}</td>
                    <td>{{product.maxClientsPerMonth}}</td>
                    <td>{{product.maxPetitionsPerMonth}}</td>
                    <td>{{product.maxS3Storage}}</td>
                    <td>{{product.cost}}</td>
                </tr> 
                   
                </tbody>
            </table> -->

            <h2 style="margin-top: 50px;">Discounts<!--<button type="submit" value="Edit" class="iportal-btn pull-right no-marg-right">Add</button>-->
            </h2>
            <smart-table [settings]="settings1" [data]="data1"
                         (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></smart-table>
            <!--<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowClick($event);" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>-->

            <!-- <table class="smarttable" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td><span>Name</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span></td>
                        <td>
                            <span>Code</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Description</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Start Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>End Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Cost</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Percentage</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                    </tr>
                   <tr *ngFor="let discount of discounts">
                    
                    <td>{{discount.discountName}}</td>
                    <td>{{discount.discountCode}}</td>
                    <td>{{discount.description}}</td>
                    <td>{{discount.startDate}}</td>
                    <td>{{discount.endDate}}</td>
                    <td>{{discount.cost}}</td>
                    <td>{{discount.percentage}}</td>
                </tr>
                </tbody>
            </table> -->
        </div>


    </div>
<!--    <div *ngIf="adddprdctPref">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
               
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">Code:</div>
                                <div class="col-md-8"><input type="text" class="form-control" [disabled]="editprdct" [(ngModel)]="productcode"></div>
                                <div class="col-md-4">Start Date:</div>
                                <div class="col-md-8">
                                    <my-date-picker [options]="myDatePickerOptions"
                                                    (dateChanged)="onDateChanged($event)" [(ngModel)]="productstartDate"
                                                    [selDate]="startDate"></my-date-picker>
                                </div>
                                <div class="col-md-4">End Date:</div>
                                <div class="col-md-8">
                                    <my-date-picker [options]="myDatePickerOptions"
                                                    (dateChanged)="onDateChanged($event)" [(ngModel)]="productendDate"
                                                    [selDate]="endDate"></my-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="productSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="adddiscntPref">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">Code:</div>
                            <div class="col-md-8"><input type="text" class="form-control" [disabled]="editdscnt" [(ngModel)]="disconutcode"></div>
                            <div class="col-md-4">Start Date:</div>
                            <div class="col-md-8">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="discountstartDate"
                                                [selDate]="startDtae"></my-date-picker>
                            </div>
                            <div class="col-md-4">End Date:</div>
                            <div class="col-md-8">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="discountendDate"
                                                [selDate]="endDate"></my-date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="discountSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>-->