    <div class="main-content">
        <!--<h1>{{user.lastName}} {{user.firstName}}</h1>-->
        <ul class="breadcrumb">
            <li><a href="#">Account Preferences</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="table-data">
            <h2>
                Products<!--<button type="submit" value="Edit" class="iportal-btn pull-right no-marg-right">Add</button>-->
            </h2>
            <!--<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowClick($event);" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>-->

            <table class="smarttable" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td><span>Name</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span></td>
                        <td>
                            <span>Code</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Description</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Start Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>End Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max Users</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max Clients/Month</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max Petitions/Month</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Max S3 Storage</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Cost</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                    </tr>
                    <tr>
                        <td>NPS Tier 1 </td>
                        <td>17-01-2017</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>

            <h2 style="margin-top: 50px;">Discounts<!--<button type="submit" value="Edit" class="iportal-btn pull-right no-marg-right">Add</button>-->
            </h2>
            <!--<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowClick($event);" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>-->

            <table class="smarttable" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td><span>Name</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span></td>
                        <td>
                            <span>Code</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Description</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Start Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>End Date</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Cost</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span>Percentage</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                    </tr>
                    <tr>
                        <td>NPS Tier 1 </td>
                        <td>17-01-2017</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>