<div class="main-content">
   <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}}</h1>
    
     <h1 style="float:right;">{{petitionInformation.name}}</h1>
 
    <div class="clearfix"></div>
    <div class="table-data-forms">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="no-pad-left">Petition Information</h2>
                                <button type="submit" class="editbtn  no-marg-right" (click)="editPetitionInfoForm()" *ngIf="isPetitionInformationEdit==true">Edit</button>
                                <div class="tbl-head-btn" [hidden]="isPetitionInformationEdit">
                                    <button type="button" (click)="cancelPetitionInfoEdit()" class="editbtn tbl-head-btn" *ngIf="isPetitionInformationEdit==false">Cancel</button>
                                    <button type="submit" value="Save" class="savebtn" (click)="savePetitionInformation()" *ngIf="isPetitionInformationEdit==false">Save</button>
                                </div>
                            </div>
                        </div>
                    <div class="row sfm" *ngIf="sfmpi">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Name <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isPetitionInformationEdit==false" [readonly]="isEdit" [(ngModel)]="petitionInformation.name" [ngClass]="petitionInformation.name == '' ? 'redborder': ''" />
                            <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.name}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Petition Type </label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.petitiontype" disabled />
                            <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.petitiontype}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Petition Sub Type</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.petitionSubType" disabled/>
                            <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.petitionSubType}}</span>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-petitiondescription">Description</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isPetitionInformationEdit==false" [readonly]="isEdit" [(ngModel)]="petitionInformation.description" />
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.description}}</span>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">File Number</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.fileNumber" disabled />
                            <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.fileNumber}}</span>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-petitionstatus">Status <span class="redstar">*</span></label></div>
                            <div class="col-md-8">

                                <select *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.status"  [ngClass]="petitionInformation.status == '' ? 'redborder': ''">
                                    <option *ngFor="let clientstatus of status">{{clientstatus.name}}</option>
                                </select>
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.status}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-petitioncurrentstage">Tag</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isPetitionInformationEdit==false" [readonly]="isEdit" [(ngModel)]="petitionInformation.tag" />
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.tag}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-petitiondenieddate">Current Stage <span class="redstar">*</span></label></div>
                            <div class="col-md-8">
                                <select *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.currentStage" [ngClass]="petitionInformation.currentStage == '' ? 'redborder': ''">
                                    <option *ngFor="let petitionStage of petitionStages;" [value]="petitionStage.stageId">{{petitionStage.name}}</option>
                                    <!--<option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>-->
                                </select>
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.currentStageId}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-petitionwithdrawndate">Days in Current Stage</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.daysInCurrentStage" disabled />
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.daysInCurrentStage}}</span>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-createdby">Next Stage</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.nextStage" disabled />
                            <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.nextStage}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-createdby">Final Action</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.nextStage" />
                            <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.nextStage}}</span>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-lastupdatedby">Denied Date</label></div>
                            <div class="col-md-8">
                                <my-date-picker *ngIf="isPetitionInformationEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="petitionInformation.deniedDate" [selDate]="selDate1"></my-date-picker>
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.deniedDate}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-lastupdatedby">Withdrawn Date</label></div>
                            <div class="col-md-8">
                                <!--<input type="text" *ngIf="isPetitionInformationEdit==false" [readonly]="isEdit" [(ngModel)]="petitionInformation.withdrawDate" />-->
                                <my-date-picker *ngIf="isPetitionInformationEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="petitionInformation.withdrawDate" [selDate]="selDate2"></my-date-picker>
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.withdrawDate}}</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-lastupdatedby">Assigned To <span class="redstar">*</span></label></div>
                            <div class="col-md-8">
                                <!--<select *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.assignedTo" [ngClass]="petitionInformation.currentStage == '' ? 'redborder': ''">
                                    <option *ngFor="let user of users" [ngValue]="user.emailId">{{user.firstName}}, {{user.lastName}}</option>
                                </select>-->
                                <input type="text" *ngIf="isPetitionInformationEdit==false" [readonly]="isEdit" [(ngModel)]="petitionInformation.assignedTo" [ngClass]="petitionInformation.assignedTo == '' ? 'redborder': ''" />
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.assignedTo}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-lastupdatedby">Created # User on MM/DD/YYYY</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.createdBy" disabled />
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.createdBy}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-lastupdatedby">Last Updated # User on MM/DD/YYYY</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.lastUpdatedBy" disabled />
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.lastUpdatedBy}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-markfordeletion">Mark for Deletion <span class="redstar">*</span></label></div>
                            <div class="col-md-8">
                                <select *ngIf="isPetitionInformationEdit==false" [(ngModel)]="petitionInformation.markForDeletion">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.markForDeletion ? 'Yes' : 'No'}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="pi-markfordeletiondetailsbyuser">Mark For Deletion details # By User on MM/DD/YYYY</label></div>
                            <div class="col-md-8">
                                <input type="text" *ngIf="isPetitionInformationEdit==false" [readonly]=true [(ngModel)]="petitionInformation.deletedOn" disabled />
                                <span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.deletedOn}}</span>
                            </div>
                        </div>
                    <div class="row sfm" *ngIf="sfmpi">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span> 
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tbl-head-btn" [hidden]="isPetitionInformationEdit">
                                    <button type="button" (click)="cancelPetitionInfoEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isPetitionInformationEdit==false">Cancel</button>
                                    <button type="submit" value="Save" class="savebtn bottombtns" (click)="savePetitionInformation()" *ngIf="isPetitionInformationEdit==false">Save</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>









            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="no-pad-left">Receipt Information</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editReceiptInfoForm()" *ngIf="isReceiptInfoEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isReceiptInfoEdit">
                                <button type="button" (click)="cancelReceiptInfoEdit()" class="editbtn tbl-head-btn" *ngIf="isReceiptInfoEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveReceiptInformation()" *ngIf="isReceiptInfoEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row sfm" *ngIf="sfmRI">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Receipt Number</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isReceiptInfoEdit==false" [readonly]="isEdit" [(ngModel)]="receiptInfo.receiptNumber" />
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.receiptNumber}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Receipt Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.receiptDate" [selDate]="receiptDate"></my-date-picker>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.receiptDate}}</span>
                            <!--<my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.receiptDate"></my-date-picker>-->
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Receipt Notice Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.receiptNoticeDate" [selDate]="receiptNoticeDate"></my-date-picker>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.receiptNoticeDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Class ??</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isReceiptInfoEdit==false" [readonly]="isEdit" [(ngModel)]="receiptInfo.clazz" />
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.clazz}}</span>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Approved On</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.approvedOn" [selDate]="approvedOn"></my-date-picker>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.approvedOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Valid From</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.validFrom" [selDate]="validFrom"></my-date-picker>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.validFrom}}</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Expires On</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.expiresOn" [selDate]="expiresOn"></my-date-picker>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.expiresOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Sent to Gov. Agency On</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.approvalReceivedOn" [selDate]="approvalReceivedOn"></my-date-picker>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.approvalReceivedOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Comments</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isReceiptInfoEdit==false" [readonly]="isEdit" [(ngModel)]="receiptInfo.comments" />
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.comments}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Approval Recieved On</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isReceiptInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.sentToGovAgencyOn" [selDate]="sentToGovAgencyOn"></my-date-picker>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.sentToGovAgencyOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Show Reciept Number to Client <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <select *ngIf="isReceiptInfoEdit==false" [(ngModel)]="receiptInfo.showReceiptNumberToClient" [ngClass]="receiptInfo.showReceiptNumberToClient == '' ? 'redborder': ''">
                                <!-- <option value="1">Yes</option>
                                 <option value="0">No</option> -->
                                <option *ngFor="let receiptnumber of receiptNumber;" [value]="receiptnumber.value">{{receiptnumber.name}}</option>

                            </select>
                            <span *ngIf="isReceiptInfoEdit==true">{{receiptInfo.showReceiptNumberToClient==1 ? 'Yes' : 'No'}}</span>
                            <!--<span *ngIf="!isReceiptInfoEdit">{{defaultSelected}}</span>-->


                        </div>
                    </div>
                    <div class="row sfm" *ngIf="sfmRI">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tbl-head-btn" [hidden]="isReceiptInfoEdit">
                                <button type="button" (click)="cancelReceiptInfoEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isReceiptInfoEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveReceiptInformation()" *ngIf="isReceiptInfoEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="no-pad-left">Additional Details</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editAdditionalDetailsForm()" *ngIf="isAdditionalDetailsEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isNotesEdit">
                                <button type="button" (click)="cancelAdditionalDetailsEdit()" class="editbtn tbl-head-btn" *ngIf="isAdditionalDetailsEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveAdditionalDetails()" *ngIf="isAdditionalDetailsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Shipping Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isAdditionalDetailsEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="receiptInfo.sentToGovAgencyOn" [selDate]="sentToGovAgencyOn"></my-date-picker>
                            <span *ngIf="isAdditionalDetailsEdit==true">{{receiptInfo.sentToGovAgencyOn}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label>Shipping Carrier</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isAdditionalDetailsEdit==false" [(ngModel)]="receiptInfo.comments" />
                            <span *ngIf="isAdditionalDetailsEdit==true">{{receiptInfo.sentToGovAgencyOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Tracking Number</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isAdditionalDetailsEdit==false" [(ngModel)]="receiptInfo.comments" />
                            <span *ngIf="isAdditionalDetailsEdit==true">{{receiptInfo.sentToGovAgencyOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Check Number</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isAdditionalDetailsEdit==false" [(ngModel)]="receiptInfo.comments" />
                            <span *ngIf="isAdditionalDetailsEdit==true">{{receiptInfo.sentToGovAgencyOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tbl-head-btn" [hidden]="isNotesEdit">
                                <button type="button" (click)="cancelAdditionalDetailsEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isAdditionalDetailsEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveAdditionalDetails()" *ngIf="isAdditionalDetailsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="no-pad-left">Notes </h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editNotesForm()" *ngIf="isNotesEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isNotesEdit">
                                <button type="button" (click)="cancelNotesEdit()" class="editbtn tbl-head-btn" *ngIf="isNotesEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveNotes()" *ngIf="isNotesEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea *ngIf="isNotesEdit==false" id="note-multitext" class="multitext" [readonly]="isEdit" [(ngModel)]="petitionDetails.notes"></textarea>
                            <span *ngIf="isNotesEdit==true" class="notes multitext">{{petitionDetails.notes}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tbl-head-btn" [hidden]="isNotesEdit">
                                <button type="button" (click)="cancelNotesEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isNotesEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveNotes()" *ngIf="isNotesEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="no-pad-left">LCA Information</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editLCAInfoForm()" *ngIf="isLCAInfoEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isLCAInfoEdit">
                                <button type="button" (click)="cancelLCAInfoEdit()" class="editbtn tbl-head-btn" *ngIf="isLCAInfoEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveLCAInforEidt()" *ngIf="isLCAInfoEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">LCA Number</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isLCAInfoEdit==false" [readonly]="isEdit" [(ngModel)]="lcaInfo.lcaNumber" />
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.lcaNumber}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Approved Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isLCAInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="lcaInfo.approvedDate" [selDate]="approvedDate"></my-date-picker>
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.approvedDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Valid Thru Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isLCAInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="lcaInfo.validThruDate" [selDate]="validThruDate"></my-date-picker>
                            <!--<span *ngIf="isLCAInfoEdit==true">{{lcaInfo.validThruDate}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Type</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isLCAInfoEdit==false" [readonly]="isEdit" [(ngModel)]="lcaInfo.type" />
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.type}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">LCA Group</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isLCAInfoEdit==false" [readonly]="isEdit" [(ngModel)]="lcaInfo.lcaGroup" />
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.lcaGroup}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Assigned Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isLCAInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="lcaInfo.assignedDate" [selDate]="assignedDate"></my-date-picker>
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.assignedDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Effective On</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isLCAInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="lcaInfo.effectiveOn" [selDate]="effectiveOn"></my-date-picker>
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.effectiveOn}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Effective Till</label></div>
                        <div class="col-md-8">
                            <my-date-picker *ngIf="isLCAInfoEdit==false" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="lcaInfo.effectiveTill" [selDate]="effectiveTill"></my-date-picker>
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.effectiveTill}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Comments</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isLCAInfoEdit==false" [readonly]="isEdit" [(ngModel)]="lcaInfo.comments" />
                            <span *ngIf="isLCAInfoEdit==true">{{lcaInfo.comments}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tbl-head-btn" [hidden]="isLCAInfoEdit">
                                <button type="button" (click)="cancelLCAInfoEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isLCAInfoEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveLCAInforEidt()" *ngIf="isLCAInfoEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="no-pad-left">Sponsor Information On Form</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editSponsorInfoForm()" *ngIf="isSponsorInfoEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isSponsorInfoEdit">
                                <button type="button" (click)="cancelSponsorInfoEdit()" class="editbtn tbl-head-btn" *ngIf="isSponsorInfoEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveSponsorInformation()" *ngIf="isSponsorInfoEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Name</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.name" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.name}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Name On Form</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.nameOnForm" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.nameOnForm}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Signing Person Name</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.signingPersonName" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.signingPersonName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Title</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.title" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.title}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Full Name</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.fullName" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.fullName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Email</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.email" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.email}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Country</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.country" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.country}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Street</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.street1" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.street1}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Apt./Ste./Flr./Door</label></div>
                        <div class="col-md-8">
                            <select *ngIf="isSponsorInfoEdit==false" [(ngModel)]="sponsorInfoAddress.aptType">
                                <option value="">Select</option>
                                <option value="Apt">Apt</option>
                                <option value="Ste">Ste</option>
                                <option value="Flr">Flr</option>
                                <option value="Door">Door</option>
                            </select>

                            <!--<input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.aptNo" />-->
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.aptType}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Apt/Suite/Door No</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.aptNo" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.aptNo}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">City/Twon</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.city" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.city}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">County</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.county" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.county}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">State/Province</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.state" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.state}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">ZIP Code/Postal Code</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.zipCode" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.zipCode}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Fax</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.fax" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.fax}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Mobile Number</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.mobile" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.mobile}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Telephone #1</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfo.phoneNumber" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfo.phoneNumber}}</span>
                        </div>
                    </div>
                  <!-- Not Needed -->
                    <!--<div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Telephone #2</label></div>
                        <div class="col-md-8">
                            <input type="text" *ngIf="isSponsorInfoEdit==false" [readonly]="isEdit" [(ngModel)]="sponsorInfoAddress.phoneNumber2" />
                            <span *ngIf="isSponsorInfoEdit==true">{{sponsorInfoAddress.phoneNumber2}}</span>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="isSponsorInfoEdit">
                                <button type="button" (click)="cancelSponsorInfoEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isSponsorInfoEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveSponsorInformation()" *ngIf="isSponsorInfoEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="no-pad-left">Delegated Orgs</h2>
                            <button type="submit" class="editbtn  no-marg-right" (click)="editNotesForm()" *ngIf="isDelegatedOrgsEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isNotesEdit">
                                <button type="button" (click)="cancelNotesEdit()" class="editbtn tbl-head-btn" *ngIf="isDelegatedOrgsEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveNotes()" *ngIf="isDelegatedOrgsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Delegated Org Name</label></div>
                        <div class="col-md-8">
                            <input type="checkbox" [(ngModel)]="petitionInformation.name" />
                            <!--<span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.name}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Delegated Org Name</label></div>
                        <div class="col-md-8">
                            <input type="checkbox" [(ngModel)]="petitionInformation.name" />
                            <!--<span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.name}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Delegated Org Name</label></div>
                        <div class="col-md-8">
                            <input type="checkbox" [(ngModel)]="petitionInformation.name" />
                            <!--<span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.name}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="pi-petitiondescription">Delegated Org Name</label></div>
                        <div class="col-md-8">
                            <input type="checkbox" [(ngModel)]="petitionInformation.name" />
                            <!--<span *ngIf="isPetitionInformationEdit==true">{{petitionInformation.name}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tbl-head-btn" [hidden]="isNotesEdit">
                                <button type="button" (click)="cancelNotesEdit()" class="editbtn tbl-head-btn bottombtns" *ngIf="isDelegatedOrgsEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveNotes()" *ngIf="isDelegatedOrgsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

