<div>
  <div *ngIf="quickFilters != null && quickFilters.length > 0">
    <smart-table-filter [quickFilters]="quickFilters" [smartTable]="this" ></smart-table-filter>
  </div>
  <div *ngIf="queryParameters.filter">
    <div class="clearfix"></div>
    <div class="filterheading"><span>Filters :</span></div>
    <div class="addedfilter" *ngFor="let x of queryParameters.filter let i=index">
      <span class="filtretype">{{x.fieldHeader}} :</span><span class="filtrename">{{x.fieldValue}}</span><span class="close" (click)="deleteFilter(i,x)">&times;</span>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="agtblOptions">
      <ag-grid-angular id="grid" #grid style="width: 100%;" class="ag-fresh" [gridOptions]="gridOptions" (cellClicked)="onCellClick($event)">
      </ag-grid-angular>
      <smart-table-pagination [smartTable]="this" [paginationMetadata]="paginationMetadata" ></smart-table-pagination>
  </div>
</div>
