<div>
    <button *ngIf="isAddButtonEnable" type="button" class="iportal-btn pull-right no-marg-right agridadd" (click)="addRecord()">ADD</button>
    <div *ngIf="queryParameters.filter">
        <div class="filterheading" ><span>Filters :</span></div>
        <div class="addedfilter" *ngFor="let x of queryParameters.filter let i=index">
            <span class="filtretype">{{x.fieldHeader}} :</span><span class="filtrename">{{x.fieldValue}}</span><span class="close"
                (click)="deleteFilter(i,x)">&times;</span>

        </div>
        <i style="font-size:27px" class="fa fa-plus-circle" aria-hidden="true" (click)="filterPopup()"></i>
        
    </div>
    <div class="clearfix"></div>
    <div class="agtblOptions">
        <ag-grid-angular id="grid" #grid style="width: 100%;" class="ag-fresh" [gridOptions]="gridOptions" (cellClicked)="onCellClick($event)">
        </ag-grid-angular>
        <div *ngIf="paginationTemplate">
            <div style="width:20%; float:left;"><span>{{itemStartIndex}} to {{endNumber}} of {{totalElements}}</span></div>

            <div class="ag-paging-page-summary-panel">
                <button [disabled]="pageNumber===0" (click)="firstPage()" class="ag-paging-button">First</button>
                <button [disabled]="pageNumber===0" (click)="previousPage()" class="ag-paging-button">Previous</button>
                <span>{{totalElements === 0? 0 : (pageNumber+1)}} of {{totalPages}}</span>
                <button [disabled]="totalPages == 0 || pageNumber===totalPages-1" (click)="nextPage()" class="ag-paging-button">Next</button>
                <button [disabled]="totalPages == 0 || pageNumber===totalPages-1" (click)="lastPage()" class="ag-paging-button">Last</button>
            </div>
            <div style="width:20%; float:right; text-align:right;">
                Page Size:
                <select #pages [disabled]=pageSelectionDisable (change)="onPageSizeChanged(pages.value)">
                <option value="20" [selected]>20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            </div>
        </div>


    </div>


</div>