
<button *ngIf="isAddButtonEnable" type="button" class="iportal-btn pull-right no-marg-right agridadd" (click)="addRecord()">ADD</button>
<div *ngIf="filterWholeArray">
<div class="addedfilter"*ngFor="let x of filterWholeArray let i=index">
            <span class="filtretype">{{x.headerName}} :</span><span class="filtrename">{{x.filterValue}}</span><span class="close" (click)="delete(i,x)">&times;</span>
</div>
</div>
<div class="clearfix"></div>
<div class="agtblOptions">
    <ag-grid-angular id="grid" #grid style="width: 100%;" class="ag-fresh" [gridOptions]="gridOptions" (cellClicked)="onCellClick($event)">
</ag-grid-angular>
    <div class="addandcount">
        
        <!--<div *ngIf="paginationTemplate" class="itemsperpage">
            Page Size:
            <select #pages (change)="onPageSizeChanged(pages.value)">
                <option value="10" [selected]>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>-->
        <div *ngIf="paginationTemplate">
            <span>{{itemStartIndex}} to {{endNumber}} of {{totalElements}}</span>
            <button [disabled]="pageNumber===0" (click)="firstPage()">First</button>
            <button [disabled]="pageNumber===0" (click)="previousPage()">Previous</button>
            <span>{{pageNumber+1}} of {{totalPages}}</span>
            <button [disabled]="pageNumber===totalPages-1" (click)="nextPage()">Next</button>
            <button [disabled]="pageNumber===totalPages-1" (click)="lastPage()">Last</button>
             Page Size:
            <select #pages [disabled]=pageSelectionDisable (change)="onPageSizeChanged(pages.value)">
                <option value="20" [selected]>20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
        </div>
        
    </div>
    </div>



