
<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
        <div class="row">
            <div class="col-md-12">
                <h2>Declaration, Signature, and Contact Information of Person Preparing Form, If Other Than Petitioner </h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="fieldsetheading">Preparer's Mailing Address</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Street Number and Name</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">Apt.<input type="checkbox" name="" value=""></div>
                                        <div class="col-md-4">Stc.<input type="checkbox" name="" value=""></div>
                                        <div class="col-md-4">Flr.<input type="checkbox" name="" value=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Number </div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">City or Town</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">State</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">ZIP Code</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Province</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Postal Code</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Email Address (if any)</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Preparer's Contact Information</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Daytime Telephone Number</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Fax Number</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Email Address (if any)</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Preparer's Declaration</p>
                            <p>By my signature, I certify, swear, or affirm, under penalty of perjury, that I prepared this petition on behalf of, at the request of, and with the express consent of the petitioner or authorized signatory.  The petitioner has reviewed this completed petition as prepared by me and informed me that all of the information in the form and in the supporting documents, is complete, true, and correct.</p>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Signature and Date</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Signature of Preparer</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Date of Signature (mm/dd/yyyy)</div>
                                <div class="col-md-8"><input type="text" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
