<div class="main-content">

    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <div class="clearfix"></div>
      <div class="col-md-12 addresbox box-shadow" style="padding:0px 2px 15px 18px !important;">
        <div class="col-md-6 col-sm-6 col-xs-12  no-pad-left" style="margin-top: 12px !important;">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Work Address</h2>
                <button type="submit" (click)="addressedit('WORK')" value="Edit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" id="ivClientAdrInfEdit" *ngIf="workedit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="workedit">
                  <button type="button" (click)="cancelEdit('WORK')" id="ivClientAdrInfCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="workedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" id="ivClientAdrInfSave1" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                </div>


              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.country}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfCountry" [(ngModel)]="WorkaddressinfoList.address.country" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.street1}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfStreet1" [(ngModel)]="WorkaddressinfoList.address.street1" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.street2}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfStreet2" [(ngModel)]="WorkaddressinfoList.address.street2" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.aptType}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfApt" [(ngModel)]="WorkaddressinfoList.address.aptType" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.city}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfCity" [(ngModel)]="WorkaddressinfoList.address.city" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.county}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfCounty" [(ngModel)]="WorkaddressinfoList.address.county" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.state}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.state" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.zipCode}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfZip" [(ngModel)]="WorkaddressinfoList.address.zipCode" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.telephone}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfTel" [(ngModel)]="WorkaddressinfoList.telephone" /></div>
            </div>

            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.fax}}</span></div>
              <div class="col-md-8" *ngIf="workedit==false"><input type="text" id="ivClientAdrInfFax" [(ngModel)]="WorkaddressinfoList.fax" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientAdrInfWorkingDate">Working Since</label></div>
              <div class="col-md-8">
                <my-date-picker *ngIf="workedit==false" [options]="myDatePickerOptions" id="ivClientAdrInfWorkingDate"
                                (dateChanged)="onDateChanged($event)"
                                [(ngModel)]="WorkaddressinfoList.residingSince"
                                [selDate]="workResidingSince"></my-date-picker>
                <span *ngIf="workedit==true">{{WorkaddressinfoList.residingSince}}</span>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="workedit">
                  <button type="button" (click)="cancelEdit('WORK')" id="ivClientAdrInfCancel2"class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px; margin-top: 0px!important;" *ngIf="workedit==false">Cancel</button>
                  <button type="submit" value="Save"class="editbtn tbl-head-btn iportal-btnIMclient" style="    margin-top: 0px!important;"  id="ivClientAdrInfSave2" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 12px !important;">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Residence Address</h2>
                <button type="submit" (click)="addressedit('RESIDENCE')" value="Edit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="residenceedit==true" id="ivClientAdrInfEdit2">Edit</button>
                <div class="tbl-head-btn" [hidden]="residenceedit">
                  <button type="button" (click)="cancelEdit('RESIDENCE')" id="ivClientAdrInfCancel3"class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="residenceedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" id="ivClientAdrInfSave3" (click)="saveClientAdress('RESIDENCE')" *ngIf="residenceedit==false">Save</button>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.country}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResCountry" [(ngModel)]="ResidenceaddressinfoList.address.country" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.street1}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResStreet1" [(ngModel)]="ResidenceaddressinfoList.address.street1" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.street2}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResStreet2" [(ngModel)]="ResidenceaddressinfoList.address.street2" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.aptType}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResApt" [(ngModel)]="ResidenceaddressinfoList.address.aptType" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.city}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResCity" [(ngModel)]="ResidenceaddressinfoList.address.city" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.county}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResCounty" [(ngModel)]="ResidenceaddressinfoList.address.county" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.state}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResState" [(ngModel)]="ResidenceaddressinfoList.address.state" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.zipCode}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResZip" [(ngModel)]="ResidenceaddressinfoList.address.zipCode" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.telephone}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResTel" [(ngModel)]="ResidenceaddressinfoList.telephone" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.fax}}</span></div>
              <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" id="ivClientAdrInfResFax" [(ngModel)]="ResidenceaddressinfoList.fax" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientAdrInfResDate">Residing Since</label></div>
              <div class="col-md-8">
                <my-date-picker *ngIf="residenceedit==false" [options]="myDatePickerOptions" id="ivClientAdrInfResDate"
                                (dateChanged)="onDateChanged($event)"
                                [(ngModel)]="ResidenceaddressinfoList.residingSince"
                                [selDate]="resiResidingSince"></my-date-picker>
                <span *ngIf="residenceedit==true">{{ResidenceaddressinfoList.residingSince}}</span>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4"><label>Use same for Mailing Address</label></div>
              <div class="col-md-8">
                <input type="checkbox" name="clientAddress" [(ngModel)]="checked" (change)="adressChange()" id="ivClientAdrInfResCheck" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="residenceedit">
                  <button type="button" (click)="cancelEdit('RESIDENCE')" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" id="ivClientAdrInfResCancel" *ngIf="residenceedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="    margin-top: 0px!important;" (click)="saveClientAdress('RESIDENCE')" id="ivClientAdrInfResSave" *ngIf="residenceedit==false">Save</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 no-pad-left">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Mailing Address</h2>
                <button type="submit" (click)="addressedit('MAILING')" value="Edit" id="ivClientAdrInfMailEdit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="mailingedit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="mailingedit">
                  <button type="button" (click)="cancelEdit('MAILING')" id="ivClientAdrInfMailCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="mailingedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" id="ivClientAdrInfMailSave" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.country}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailCountry" [(ngModel)]="MailingaddressinfoList.address.country" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.street1}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailStreet1" [(ngModel)]="MailingaddressinfoList.address.street1" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.street2}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailStreet2" [(ngModel)]="MailingaddressinfoList.address.street2" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.aptType}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailApt" [(ngModel)]="MailingaddressinfoList.address.aptType" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.city}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailCity" [(ngModel)]="MailingaddressinfoList.address.city" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.county}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailCounty" [(ngModel)]="MailingaddressinfoList.address.county" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.state}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailState" [(ngModel)]="MailingaddressinfoList.address.state" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.zipCode}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailZip" [(ngModel)]="MailingaddressinfoList.address.zipCode" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.telephone}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailTel" [(ngModel)]="MailingaddressinfoList.telephone" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.fax}}</span></div>
              <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" id="ivClientAdrInfMailFax" [(ngModel)]="MailingaddressinfoList.fax" /></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="mailingedit">
                  <button type="button" (click)="cancelEdit('MAILING')" id="ivClientAdrInfMailCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;"  *ngIf="mailingedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 0px!important;" id="ivClientAdrInfMailSave1" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow" style="    margin-top: 20px;">
            <div class="row">
              <div class="col-sm-12">
                <h2>Foreign Address</h2>
                <button type="submit" (click)="addressedit('FOREIGN')" value="Edit" id="ivClientAdrInfForEdit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="foreignedit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="foreignedit">
                  <button type="button" (click)="cancelEdit('FOREIGN')" id="ivClientAdrInfForCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="foreignedit==false">Cancel</button>
                  <button type="submit" value="Save"class="editbtn tbl-head-btn iportal-btnIMclient" id="ivClientAdrInfForSave" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.country}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForCountry" [(ngModel)]="ForiegnaddressinfoList.address.country" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.street1}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForStreet1" [(ngModel)]="ForiegnaddressinfoList.address.street1" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.street2}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForStreet2" [(ngModel)]="ForiegnaddressinfoList.address.street2" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.aptType}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForApt" [(ngModel)]="ForiegnaddressinfoList.address.aptType" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.city}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForCity" [(ngModel)]="ForiegnaddressinfoList.address.city" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.county}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForCounty" [(ngModel)]="ForiegnaddressinfoList.address.county" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.state}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForState" [(ngModel)]="ForiegnaddressinfoList.address.state" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.zipCode}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForZip" [(ngModel)]="ForiegnaddressinfoList.address.zipCode" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.telephone}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForTel" [(ngModel)]="ForiegnaddressinfoList.telephone" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.fax}}</span></div>
              <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" id="ivClientAdrInfForFax" [(ngModel)]="ForiegnaddressinfoList.fax" /></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="foreignedit">
                  <button type="button" (click)="cancelEdit('FOREIGN')" id="ivClientAdrInfForCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" *ngIf="foreignedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 0px!important;" id="ivClientAdrInfForSave1" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
</div>
