<div class="main-content">

    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">
            <img style="margin-bottom: 4px !important;" src="../../../../assets/images/Group984.png" />&nbsp;&nbsp;&nbsp;<span>{{appService.clientfirstName}} {{appService.clientlastName}}</span></h1>
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Address</h2>
      <!--<div class="col-md-12 addresbox box-shadow" style="padding:0px 2px 15px 18px !important;">-->
        <div class="col-md-12">
            <div class="col-md-6 col-sm-6 col-xs-12  no-pad-left" style="margin-top: 12px !important;">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Work Address</h2>
                            <button type="submit" (click)="addressedit('WORK')" value="Edit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" id="ivClientAdrInfEdit" *ngIf="workedit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="workedit">
                                <button type="button" (click)="cancelEdit('WORK')" id="ivClientAdrInfCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="workedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;" id="ivClientAdrInfSave1" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfCountry" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.country" /></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;">{{WorkaddressinfoList.address.country}}</span></div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;overflow: hidden; white-space: nowrap;" title="{{WorkaddressinfoList.address.street1}}">{{WorkaddressinfoList.address.street1}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" type="text" id="ivClientAdrInfStreet1" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;overflow: hidden; white-space: nowrap;" title="{{WorkaddressinfoList.address.street2}}">{{WorkaddressinfoList.address.street2}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfStreet2" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;">{{WorkaddressinfoList.address.aptType}}</span></div>-->
                        <div class="col-md-8">
                            <select style="border-radius: 4px;" [disabled]="workedit" id="ivClientAdrInfApt" [(ngModel)]="WorkaddressinfoList.address.aptType">
                                <option id="APT" value="APT">APT</option>
                                <option id="STE" value="STE">STE</option>
                                <option id="FLR" value="FLR">FLR</option>
                                <option id="DOOR" value="DOOR">DOOR</option>
                            </select>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-4"><label>Number</label></div>
                    <div class="col-md-8">
                      <input style="border-radius: 4px;" id="ivClientAdrInfAptNo" type="text" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.aptNo" />
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;">{{WorkaddressinfoList.address.city}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfCity" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;">{{WorkaddressinfoList.address.county}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfCounty" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;">{{WorkaddressinfoList.address.state}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfState" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;">{{WorkaddressinfoList.address.zipCode}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfZip" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Telephone</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.telephone}}</span></div>-->
                        <div class="col-md-8"><input type="text" id="ivClientAdrInfTel" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.telephone" /></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <!--<div class="col-md-8" *ngIf="workedit==true"><span style="border-radius: 4px;">{{WorkaddressinfoList.fax}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfFax" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientAdrInfWorkingDate">Working Since</label></div>
                        <div class="col-md-8">
                            <my-date-picker  [options]="myDatePickerOptions" id="ivClientAdrInfWorkingDate"
                                            [disabled]="workedit"
                                            [(ngModel)]="WorkaddressinfoList.residingSince"
                                            [selDate]="workResidingSince"></my-date-picker>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="workedit">
                                <button type="button" (click)="cancelEdit('WORK')" id="ivClientAdrInfCancel2" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px; margin-top: 0px!important;" *ngIf="workedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 0px!important;color: #008000 !important;" id="ivClientAdrInfSave2" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 12px !important;">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Residence Address</h2>
                            <button type="submit" (click)="addressedit('RESIDENCE')" value="Edit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="residenceedit==true" id="ivClientAdrInfEdit2">Edit</button>
                            <div class="tbl-head-btn" [hidden]="residenceedit">
                                <button type="button" (click)="cancelEdit('RESIDENCE')" id="ivClientAdrInfCancel3" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="residenceedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;" id="ivClientAdrInfSave3" (click)="saveClientAdress('RESIDENCE')" *ngIf="residenceedit==false">Save</button>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.country}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResCountry" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.country" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.street1}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResStreet1" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.street2}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResStreet2" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.aptType}}</span></div>-->
                        <div class="col-md-8">
                            <select style="border-radius: 4px;" id="ivClientResInfApt" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.aptType">
                                <option id="APT" value="APT">APT</option>
                                <option id="STE" value="STE">STE</option>
                                <option id="FLR" value="FLR">FLR</option>
                                <option id="DOOR" value="DOOR">DOOR</option>
                            </select>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-4"><label>Number</label></div>
                    <div class="col-md-8">
                      <input style="border-radius: 4px;" id="ivClientResInfAptNo" type="text" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.aptNo" />
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.city}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResCity" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.county}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResCounty" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.state}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResState" [disabled]="residenceedit"  [(ngModel)]="ResidenceaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.address.zipCode}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResZip" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Telephone</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.telephone}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResTel" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.telephone" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <!--<div class="col-md-8" *ngIf="residenceedit==true"><span style="border-radius: 4px;">{{ResidenceaddressinfoList.fax}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfResFax" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientAdrInfResDate">Residing Since</label></div>
                        <div class="col-md-8">
                            <my-date-picker  [options]="myDatePickerOptions" id="ivClientAdrInfResDate"
                                            [disabled]="residenceedit"
                                            [(ngModel)]="ResidenceaddressinfoList.residingSince"
                                            [selDate]="resiResidingSince"></my-date-picker>
                            <!--<span style="border-radius: 4px;" *ngIf="residenceedit==true">{{ResidenceaddressinfoList.residingSince}}</span>-->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Use same for Mailing Address</label></div>
                        <div class="col-md-8">
                            <input type="checkbox" name="clientAddress" [(ngModel)]="checked" (change)="adressChange()" id="ivClientAdrInfResCheck" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="residenceedit">
                                <button type="button" (click)="cancelEdit('RESIDENCE')" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" id="ivClientAdrInfResCancel" *ngIf="residenceedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 0px!important;color: #008000 !important;" (click)="saveClientAdress('RESIDENCE')" id="ivClientAdrInfResSave" *ngIf="residenceedit==false">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Mailing Address</h2>
                            <button type="submit" (click)="addressedit('MAILING')" value="Edit" id="ivClientAdrInfMailEdit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="mailingedit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="mailingedit">
                                <button type="button" (click)="cancelEdit('MAILING')" id="ivClientAdrInfMailCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="mailingedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;" id="ivClientAdrInfMailSave" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.country}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailCountry" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.country" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.street1}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailStreet1" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.street2}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailStreet2" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.aptType}}</span></div>-->
                        <div class="col-md-8">
                            <select style="border-radius: 4px;" id="ivClientAdrInfMailApt" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.aptType">
                                <option id="APT" value="APT">APT</option>
                                <option id="STE" value="STE">STE</option>
                                <option id="FLR" value="FLR">FLR</option>
                                <option id="DOOR" value="DOOR">DOOR</option>
                            </select>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-4"><label>Number</label></div>
                    <div class="col-md-8">
                      <input style="border-radius: 4px;" id="ivClientMailInfAptNo" type="text" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.aptNo" />
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.city}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailCity" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.county}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailCounty" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.state}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailState" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.address.zipCode}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailZip" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Telephone</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.telephone}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailTel" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.telephone" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <!--<div class="col-md-8" *ngIf="mailingedit==true"><span style="border-radius: 4px;">{{MailingaddressinfoList.fax}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfMailFax" [disabled]="mailingedit" [(ngModel)]="MailingaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="mailingedit">
                                <button type="button" (click)="cancelEdit('MAILING')" id="ivClientAdrInfMailCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" *ngIf="mailingedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 0px!important;color: #008000 !important;" id="ivClientAdrInfMailSave1" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Foreign Address</h2>
                            <button type="submit" (click)="addressedit('FOREIGN')" value="Edit" id="ivClientAdrInfForEdit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="foreignedit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="foreignedit">
                                <button type="button" (click)="cancelEdit('FOREIGN')" id="ivClientAdrInfForCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="foreignedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;" id="ivClientAdrInfForSave" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.country}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForCountry" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.country" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.street1}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForStreet1" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.street2}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForStreet2" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.aptType}}</span></div>-->
                        <div class="col-md-8">
                            <select style="border-radius: 4px;" id="ivClientAdrInfForApt" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.address.aptType">
                                <option id="APT" value="APT">APT</option>
                                <option id="STE" value="STE">STE</option>
                                <option id="FLR" value="FLR">FLR</option>
                                <option id="DOOR" value="DOOR">DOOR</option>
                            </select>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-4"><label>Number</label></div>
                    <div class="col-md-8">
                      <input style="border-radius: 4px;" id="ivClientAdrInfForAptNo" type="text" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.aptNo" />
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.city}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForCity" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.county}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForCounty" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.state}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForState" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.address.zipCode}}</span></div>-->
                        <div class="col-md-8"><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForZip" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Telephone</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.telephone}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForTel" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.telephone" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <!--<div class="col-md-8" *ngIf="foreignedit==true"><span style="border-radius: 4px;">{{ForiegnaddressinfoList.fax}}</span></div>-->
                        <div class="col-md-8" ><input style="border-radius: 4px;" type="text" id="ivClientAdrInfForFax" [disabled]="foreignedit"  [(ngModel)]="ForiegnaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="foreignedit">
                                <button type="button" (click)="cancelEdit('FOREIGN')" id="ivClientAdrInfForCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" *ngIf="foreignedit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 0px!important;color: #008000 !important;" id="ivClientAdrInfForSave1" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--</div>-->
      </div>
</div>
