<div class="main-content" *ngIf="getDocExpirations">

    <div class="table-data">
        <h2 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h2>
        <div class="clearfix"></div>
        <h2>Document Expirations</h2>
          <ih-smart-table [settings]="settings" [data]="data"
                     (onAddClick)="addNewDocExps($event)" (onRowClick)="editDocuments($event)" (onDeleteClick)="deleteDocuments($event)"></ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="addDocExpiration">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()" id="ivClientDtlsDocExpClose">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Document Type:</div>
                            <div class="col-md-7"><input type="text" id="ivClientDtlsDocExpDocType" [(ngModel)]="addNewDocExp.documentType" class="form-control"></div>
                            <div class="col-md-5">Valid From:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewDocExp.validFrom"
                                                [selDate]="validFrom" id="ivClientDtlsDocExpValidFrom"></my-date-picker>
                            </div>
                            <div class="col-md-5">Valid To:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewDocExp.validTo"
                                                [selDate]="validTo" id="ivClientDtlsDocExpValidTo"></my-date-picker>
                            </div>
                            <div class="col-md-5">Status:</div>
                            <div class="col-md-7"><input type="text" id="ivClientDtlsDocExpStatus" [(ngModel)]="addNewDocExp.status" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" id="ivClientDtlsDocExpSave" class="btn btn-primary" (click)="docExpSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" id="ivClientDtlsDocExpCancel" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
