<div class="main-content" *ngIf="getDocExpirations">

    <div class="table-data">
        <h2 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} <!--<button type="button" class="iportal-btn pull-right no-marg-right" (click)="addNewDocExps()">ADD</button>--></h2>
        <div class="clearfix"></div>
        <!--<h2>Document Expirations</h2>-->
          <smart-table [settings]="settings" [data]="data"
                     (onAddClick)="addDocuments($event)" (onRowClick)="editDocuments($event)" (onDeleteClick)="deleteDocuments($event)"></smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="addDocExpiration">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Document Type:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewDocExp.documentType" class="form-control"></div>
                            <div class="col-md-5">Valid From:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewDocExp.validFrom"
                                                [selDate]="validFrom"></my-date-picker>                        
                            </div>
                            <div class="col-md-5">Valid To:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewDocExp.validTo"
                                                [selDate]="validTo"></my-date-picker>  
                            </div>
                            <div class="col-md-5">Status:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addNewDocExp.status" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="docExpSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>