<div class="main-content" *ngIf="getData">
    <ul class="breadcrumb">
        <li><a href="#">Clients</a></li>
        <li><a href="#">Visas</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>Products</h2>
        <ih-smart-table class="acctabprodcatProducts" [settings]="settings" [data]="data"  [paginationData]="paginationData"
                     (onAddClick)="addProducts($event)" (onRowClick)="viewDetails($event)" (dataWithQueryParams)="dataWithParameters($event)"></ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>

<div *ngIf="viewPopup">
    <div class="modal-dialog"  style="margin-top:7% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>

                <button type="button" class="close" (click)="close()" id="svprodClose">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 addresbox box-shadow">
                                <div class="row">
                                    <div class="col-md-5">Name:</div>
                                    <div class="col-md-7">
                                        <input type="text" *ngIf="isEditProducts==false" id="svprodName" [disabled]="true" [(ngModel)]="product.name"
                                               class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.name}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Code:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodCode" *ngIf="isEditProducts==false" [disabled]="true" [(ngModel)]="product.code"
                                               class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.code}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Description:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodDes" *ngIf="isEditProducts==false" [(ngModel)]="product.description" class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.description}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Max Users:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodMaxUser" *ngIf="isEditProducts==false" [(ngModel)]="product.maxUsers" class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.maxUsers}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Max Clients/Month:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodMaxClients" *ngIf="isEditProducts==false" [(ngModel)]="product.maxClientsPerMonth"
                                               class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.maxClientsPerMonth}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Max Petitions/Month:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodMaxPet" *ngIf="isEditProducts==false" [(ngModel)]="product.maxPetitionsPerMonth"
                                               class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.maxPetitionsPerMonth}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Max S3 Storage:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodMaxStorage" *ngIf="isEditProducts==false" [(ngModel)]="product.maxS3Storage" class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.maxS3Storage}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Cost:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodCost" *ngIf="isEditProducts==false" [(ngModel)]="product.cost" class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.cost}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Type:</div>
                                    <div class="col-md-7">
                                        <select *ngIf="isEditProducts==false" [disabled]="true" [(ngModel)]="product.productType" class="form-control">
                                            <option [value]="x.value" *ngFor="let x of typeValues" id="{{x.name}}">{{x.name}}</option>
                                        </select>
                                        <span *ngIf="isEditProducts==true">{{product.productType}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5">Validation Type:</div>
                                  <div class="col-md-7">
                                    <select *ngIf="isEditProducts==false" [(ngModel)]="product.validationType" class="form-control">
                                      <option [value]="x.value" *ngFor="let x of validationTypeValues" id="{{x.name}}">{{x.name}}</option>
                                    </select>
                                    <span *ngIf="isEditProducts==true">{{product.validationType}}</span>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Status:</div>
                                    <div class="col-md-7">
                                        <select *ngIf="isEditProducts==false" [(ngModel)]="product.status" class="form-control">
                                            <option value="Active" id="svprodStatusAct">Active</option>
                                            <option value="Inactive" id="svprodStatusInAct">Inactive</option>
                                        </select>
                                        <span *ngIf="isEditProducts==true">{{product.status}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Created On:</div>
                                    <div class="col-md-7">
                                        <input type="text" id="svprodCreatedOn" *ngIf="isEditProducts==false" [disabled]="true" [(ngModel)]="product.createdOn"
                                               class="form-control">
                                        <span *ngIf="isEditProducts==true">{{product.createdOn}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row sfm" *ngIf="warningMessage">
                                            <div class="col-md-12">
                                                <span class="redstar">* Fields are Mandatory.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <button type="submit" class="btn btn-primary" id="svprodEdit" (click)="editProductInfo()" *ngIf="isEditProducts==true">Edit</button>


                                                    <button type="submit" value="Save" class="btn btn-primary" id="svprodSave" (click)="saveProductInfo()" *ngIf="isEditProducts==false">Save</button>

                                            </div>
                                            <div class="col-md-6"><button type="button" class="btn btn-default" id="svprodCancel" (click)="cancel()">Cancel</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div *ngIf="addPopup">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()" id="svprodPopClose">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Name:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="svprodPopName" [(ngModel)]="addProduct.name" class="form-control"></div>
                            <div class="col-md-5">Code:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="svprodPopCode" [(ngModel)]="addProduct.code" class="form-control"></div>
                            <div class="col-md-5">Cost:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text"  id="svprodPopCost" [(ngModel)]="addProduct.cost" class="form-control"></div>
                          <div class="col-md-5">Max Orgs:<span class="redstar">*</span></div>
                          <div class="col-md-7"><input type="text"  id="svprodPopMaxOrgs" [(ngModel)]="addProduct.maxOrgs" class="form-control"></div>
                            <div class="col-md-5">Type:<span class="redstar">*</span></div>
                            <div class="col-md-7">
                                <select [(ngModel)]="addProduct.productType" class="form-control">
                                    <option [value]="x.value" *ngFor="let x of typeValues" id="{{x.name}}">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="btn btn-primary" id="svprodPopSave" (click)="saveProduct()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="btn btn-default" id="svprodPopCancel" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
