<div class="main-content" *ngIf="getChecklist">
  <ul class="breadcrumb">
    <li><a href="#">Checklist</a></li>
  </ul>
  <div class="clearfix"></div>
  <div class="table-data">
    <h2>
      <span>Checklist</span>

    </h2>
    <smart-table [settings]="settings" [data]="data"  (onAddClick)="addList($event)">
    </smart-table>
    <div class="clearfix"></div>
  </div>
</div>
<div *ngIf="addChecklists">
  <div class="modal-dialog" ngDraggable>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5">Petition Type:</div>
              <div class="col-md-7">
                  <select class="form-control" [(ngModel)]="addChecklist.petitiontype">
                      <option *ngFor="let petition of petitionTypes" [value]="petition.petitionTypeId">{{petition.petitiontype}}</option>
                  </select>
              </div>
              <div class="col-md-5">Doc Name:</div>
              <div class="col-md-7"><input type="text" [(ngModel)]="addChecklist.docName" class="form-control"></div>
              <div class="col-md-5">Upload:</div>
              <div class="col-md-7 fileUpload btn btn-primary">                              
                    <input type="file" class="upload" name="file" (change)="fileUpload($event)" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6"><button type="button" class="btn btn-primary" (click)="save()">Save</button></div>
                  <div class="col-md-6"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>