<div class="main-content" *ngIf="viewUsers">

    <ul class="breadcrumb">
        <li><a href="#">Account Managers</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2>
            <span>Account Managers</span>

        </h2>
        <ih-smart-table class="superUserViewAccountManagers" [settings]="settings" [data]="data" (onAddClick)="addFunction($event)"
            (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)">
        </ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="addPopups">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">First Name:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addUsers.firstName" class="form-control"></div>
                            <div class="col-md-4">Last Name:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addUsers.lastName" class="form-control"></div>
                            <div class="col-md-4">Email:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="addUsers.emailId" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailId="ngModel"></div>
                            <div class="col-md-4">Role:<span class="redstar">*</span></div>
                            <div class="col-md-8">
                                <select [(ngModel)]="addUsers.role" class="form-control">
                                    <option value="Immigration Officer">Immigration Officer</option>
                                    <option value="Immigration Manager">Immigration Manager</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                </div>
                <div class="row sfm" *ngIf="warningMessage">
                    <div class="col-md-12">
                        <span class="redstar">* Fields are Mandatory.</span>
                    </div>
                </div>
                <div class="row sfm" [hidden]="emailId.valid || emailId.untouched">
                    <div class="col-md-12">
                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.required">
                            * Email is required
                        </div>
                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.pattern">
                            * Email is invalid
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="accountmanagersSave(emailId.errors)">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
