    <div class="main-content">
        <!--<h1>{{user.lastName}} {{user.firstName}}</h1>-->
        <ul class="breadcrumb">
            <li><a href="#">Users</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="table-data">
            <h2>
                <span>Users</span>
                <!--<button type="submit" value="Edit" class="iportal-btn pull-right no-marg-right">Add User</button>-->
            </h2>
            <!--<form [formGroup]="addUser" (ngSubmit)="addUserSubmit(addUser.value, addUser.valid)">-->
                <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm) = "onDeleteConfirm($event)" (editConfirm) = "onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>

                <!--<table class="smarttable" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td class="actions">Action</td>
                            <td><span>First Name</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span></td>
                            <td>
                                <span>Last Name</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                            </td>
                            <td>
                                <span>Email ID</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                            </td>
                            <td>
                                <span>User ID</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                            </td>
                            <td>
                                <span>Account ID</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                            </td>
                            <td>
                                <span>Role</span> <span class="pull-right"><a href="#"><i class="fa fa-sort" aria-hidden="true"></i></a></span>
                            </td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            <td class="actions">
                                <ul class="add">
                                    <li>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td><input type="text" name="" /></td>
                            <td><input type="text" name="" /></td>
                            <td><input type="text" name="" /></td>
                            <td><input type="text" name="" /></td>
                            <td><input type="text" name="" /></td>
                            <td>
                                <select>
                                    <option value="Select">Select</option>
                                    <option value="Immigration Officer">Immigration Officer</option>
                                    <option value="Immigration Manager">Immigration Manager</option>
                                    <option value="Client">Client</option>
                                    <option value="User">User</option>
                                </select>

                            </td>

                        </tr>
                        <tr>


                            <td class="actions">
                                <ul class="add">
                        <li>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>
                            </td>
                            <td><input type="text" name="firstName" formControlName="firstName" /></td>
                            <td><input type="text" name="lastName" formControlName="lastName" /></td>
                            <td><input type="text" name="email" formControlName="emailId" /></td>
                            <td><input type="text" name="title" formControlName="title" /></td>
                            <td><input type="text" name="accountId" formControlName="accountId" /></td>

                            <td>
                                <select name="roleId" formControlName="roleId">
                                    <option value="Select">Select</option>
                                    <option value="Immigration Officer">Immigration Officer</option>
                                    <option value="Immigration Manager">Immigration Manager</option>
                                    <option value="Client">Client</option>
                                    <option value="User">User</option>
                                </select>

                        </tr>


                        <tr *ngFor="let user of manageaccountuserList">
                            <td class="actions">
                                <ul class="edit-delete">
                                    <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                                </ul>
                            </td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.emailId}}</td>
                            <td>{{user.userId}}</td>
                            <td>{{user.accountId}}</td>
                            <td>{{user.role}}</td>
                        </tr>
                    </tbody>
                </table>
            </form>-->
            <ul class="pagenation">
                <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#" class="act">4</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>


    </div>
