
<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
        <div class="row">
            <div class="col-md-12">
                <h2> Information About This Petition <span>(See instructions for fee information)</span></h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Requested Nonimmigrant Classification  (Write classification symbol):</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><input type="checkbox" name="" value=""> New employment.</div>
                                <div class="col-md-6"><input type="checkbox" name="" value=""> Continuation of previously approved employment without change with the same employer.</div>
                                <div class="col-md-3"><input type="checkbox" name="" value=""> Change in previously approved employment.</div>
                                <div class="col-md-3"><input type="checkbox" name="" value=""> New concurrent employment.</div>
                                <div class="col-md-6"><input type="checkbox" name="" value=""> Change of employer.</div>
                                <div class="col-md-3"><input type="checkbox" name="" value=""> Amended petition.</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8"> Provide the most recent petition/application receipt number for the beneficiary.  If none exists, indicate "None."</div>
                                <div class="col-md-4"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p class="fieldsetheading">Requested Action (select only one box):</p>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6"><input type="checkbox" name="" value=""> New employment.</div>
                                <div class="col-md-6"><input type="checkbox" name="" value=""> Continuation of previously approved employment without change with the same employer.</div>
                                <div class="col-md-6"><input type="checkbox" name="" value=""> Change in previously approved employment.</div>
                                <div class="col-md-6"><input type="checkbox" name="" value=""> New concurrent employment.</div>
                                <div class="col-md-6"><input type="checkbox" name="" value=""> Change of employer.</div>
                                <div class="col-md-6"><input type="checkbox" name="" value=""> Amended petition.</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">Total number of workers included in this petition. (See instructions relating to when more than one worker can be included.)</div>
                                <div class="col-md-4"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <h2>Beneficiary Information <span>(Information about the beneficiary/beneficiaries you are filing for.  Complete the blocks below.  Use the Attachment-1 sheet to name each beneficiary included in this petition.)</span></h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">If an Entertainment Group, Provide the Group Name</div>
                                <div class="col-md-8"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Provide Name of Beneficiary</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Family Name (Last Name)</div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Given Name (First Name)</div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Middle Name </div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Provide all other names the beneficiary has used. Include nicknames, aliases, maiden name, and names from all previous marriages </p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Family Name (Last Name)</div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Given Name (First Name)</div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Middle Name </div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Other Information</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Date of birth (mm/dd/yyyy)</div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">Gender </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> Male.</div>
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> Female.</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">U.S.SocialSecurityNumber(ifany)</div>
                                <div class="col-md-7"><input type="text" [(ngModel)]="petitonerInfo.orgName" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
