<div class="container-fluid login-bg no-pad">
    <div class="login_side">
        <form action="" class="login-form" [formGroup]="login" (ngSubmit)="loginSubmit(login.value, login.valid)">
            <h2>Reset Your Password</h2>
            
            <div class="form-group">

                <div class="password">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email">
                </div>
                <div class="password">
                    <label>Old Password</label>
                    <input type="password" class="form-control" placeholder="Old Password" formControlName="oldPassword">
                </div>
                <div class="password">
                    <label>New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
                </div>
                <div class="password">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                </div>
                <div class="sign_in">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
