<div class="container-fluid login-bg no-pad">
    <div class="login_side">
        <form action="" class="login-form" [formGroup]="login" (ngSubmit)="loginSubmit(login.value, login.valid)">
            <h2>Reset Your Password</h2>

            <div class="form-group">

                <div class="password">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </div>
                <div class="password">
                    <label>Old Password</label>
                    <input type="password" class="form-control" placeholder="Old Password" formControlName="oldPassword" required>
                </div>
                <div class="row sfm" *ngIf="login.controls['oldPassword'].hasError('oldSameAsNew')">
                    <div class="col-md-12">

                        <div class="redstar">
                            Old Password cannot be same as New Password
                        </div>
                    </div>
                </div>
                <div class="password">
                    <label>New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" required>
                </div>
                <div class="row sfm" *ngIf="login.controls['newPassword'].hasError('pattern')">
                    <div class="col-md-12">

                        <div class="redstar">
                            Password should contain atleast one alphabet,1 number and 1 special character
                        </div>
                    </div>
                </div>
                
                <div class="password">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required>
                </div>
                <div class="row sfm" *ngIf="login.controls['confirmPassword'].hasError('matchPassword')">
                    <div class="col-md-12">

                        <div class="redstar">
                            Password and Confirm Password should be same
                        </div>
                    </div>
                </div>
                <div class="sign_in">
                    <button type="submit" class="btn btn-primary" [disabled]="!login.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


