<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <!--<a (click)="gotoPrev()" class="prevbtn">Back</a>-->
                    </div>
                    <div class="col-md-4 pagenoof36">Page 13 of 36</div>
                    <div class="col-md-4">
                        <a (click)="gotoNext()" class="nextbtn">Save & Continue</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h">
                   <div *ngIf="appService.applicationViewMode == 'Immigration'">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">Name of the Petitioner</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage1.petitonerName"/></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="fieldsetheading">Name of the beneficiary or if this petition includes multiple beneficiaries, the total number of beneficiaries</p>
                    </div>
                   </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">Name of the Beneficiary</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage1.beneficiaryName"/></div>
                        </div>
                    </div>
                  <div *ngIf="appService.applicationViewMode == 'Immigration'">
                    <div class="col-md-12">
                        <p class="fieldsetheading">Or</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">Provide the total number of beneficiaries</div>
                            <div class="col-md-8"><input type="text" [(ngModel)]="I129Hpage1.totalNumberOfBeneficiaries"/></div>
                        </div>
                    </div>
                  </div>
                    <div class="col-md-12">
                        <p>List each beneficiary's prior periods of stay in H or L classification in the United States for the last six years (beneficiaries requesting H-2A or H-2B classification need only list the last three years). Be sure to only list those periods in which each beneficiary was actually in the United States in an H or L classification. Do not include periods in which the beneficiary was in a dependent status, for example, H-4 or L-2 status.</p>
                        <p>NOTE:  Submit photocopies of Forms I-94, I-797, and/or other USCIS issued documents noting these periods of stay in the H or L classification. (If more space is needed, attach an additional sheet.)</p>
                        <table width='100%' border="1" cellpadding="3" cellspacing="0">
                            <tr>
                                <td width="70%" align="center" valign="middle">Subject's Name</td>
                                <td width="30%;" colspan="2">
                                    <table width='100%'>
                                        <tr>
                                            <td colspan="2" align="center" valign="middle">Period of Stay (mm/dd/yyyy)</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" align="center" valign="middle">From</td>
                                            <td width="50%" align="center" valign="middle">To</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="70%" align="left" valign="middle">Surya Prakash</td>
                                <td width="15%" align="left" valign="middle">10-10-1987</td>
                                <td width="15%" align="left" valign="middle">17-08-2017</td>
                            </tr>
                            <tr>
                                <td width="70%" align="left" valign="middle">Surya Prakash</td>
                                <td width="15%" align="left" valign="middle">10-10-1987</td>
                                <td width="15%" align="left" valign="middle">17-08-2017</td>
                            </tr>
                            <tr>
                                <td width="70%" align="left" valign="middle">Surya Prakash</td>
                                <td width="15%" align="left" valign="middle">10-10-1987</td>
                                <td width="15%" align="left" valign="middle">17-08-2017</td>
                            </tr>
                            <tr>
                                <td width="70%" align="left" valign="middle">Surya Prakash</td>
                                <td width="15%" align="left" valign="middle">10-10-1987</td>
                                <td width="15%" align="left" valign="middle">17-08-2017</td>
                            </tr>
                        </table>
                    </div>
                  <div *ngIf="appService.applicationViewMode == 'Immigration'">
                    <div class="col-md-12">
                        <p class="fieldsetheading">Classification sought (select only one box)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-1B Specialty Occupation
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-1B1 Chile and Singapore
                            </div>
                            <div class="col-md-12">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-1B2 Exceptional services relating to a cooperative research and development project administered by the U.S. Department of Defense (DOD)
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-1B3 Fashion model of distinguished merit and ability
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-2A Agricultural worker
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-2B Non-agricultural worker
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-3 Trainee
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-3 Special education exchange visitor progra
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" [(ngModel)]="I129Hpage1.sought"/> H-3 Trainee
                            </div>
                            <div class="col-md-8">Are you filing this petition on behalf of a beneficiary subject to the Guam-CNMI cap exemption under Public Law 110-229? </div>
                            <div class="col-md-4">
                                <div class="row" *ngFor="let x of I129Hpage1questions">
                                    <label for="">
                                        <input type="radio" name="petitionfiledonbehalf" [value]="x.value" [(ngModel)]="I129Hpage1.petitionFiledOnBehalfOfBeneficiary" />
                                        {{x.display}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">Are you requesting a change of employer and was the beneficiary previously subject to the Guam-CNMI cap exemption under Public Law 110-229?</div>
                            <div class="col-md-4">
                                <div class="row" *ngFor="let x of I129Hpage1questions">
                                    <label for="">
                                        <input type="radio" name="changeemployer" [value]="x.value" [(ngModel)]="I129Hpage1.changeOfEmployer" />
                                        {{x.display}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">Does any beneficiary in this petition have ownership interest in the petitioning organization?</div>
                            <div class="col-md-4">

                                <div class="row" *ngFor="let x of I129Hpage1questions">
                                    <label for="">
                                        <input type="radio" name="ownership" [value]="x.value" [(ngModel)]="I129Hpage1.doesBeneficiaryHaveOwnership" />
                                        {{x.display}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            </div>
</div>
