
  <div class="navbar navbar-inverse navbar-fixed-left">

      <ul class="nav navbar-nav" *ngIf="sideBarMenu=='immigrationview-petition'">

          <li>
              <a id="testone" (click)="appservice.moveToPage('immigrationview-petition-details');highlightSBLink('Petition Details')" [ngClass]="[checkForCurrentSBLink('Petition Details') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-client-details"></span>
                  <span>Petition Details</span>
              </a>
          </li>
              <li ngbDropdown class="dropdown">
                  <a (click)="appservice.moveToPage('immigrationview-questionnaire');highlightSBLink('Questionnaire')" [ngClass]="[checkForCurrentSBLink('Questionnaire') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" id="immigrationview-questionnaires" routerLinkActive="active">
                      <span class="ico-questionnaire"></span>
                      <span>Questionnaire</span>
                      <span class="ico-arrow"></span>
                  </a>
                  <ul class="listsidemenu" role="menu" aria-labelledby="immigrationview-questionnaires" ngDefaultControl *ngIf="appservice.questionnaireName&&immiQstnre" [(ngModel)]="appservice.questionnaireName" >
                      <li *ngFor="let value of appservice.questionnaireName" routerLinkActive="active"><a (click)="appservice.moveToQuestionnaire(value);highlightSBLink(value.questionnaireName)" [ngClass]="[checkForCurrentSBLink(value.questionnaireName) ? 'active': '']">{{value.questionnaireName}}</a></li>
                  </ul>
              </li>

              <li>
                  <a (click)="appservice.moveToPage('immigrationview-forms');highlightSBLink('Forms')" [ngClass]="[checkForCurrentSBLink('Forms') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-questionnaire"></span>
                      <span>Forms</span>
                  </a>
              </li>
              <li ngbDropdown class="dropdown">
                  <a ngbDropdownToggle (click)="immiPetDoc();highlightSBLink(Documents)" [ngClass]="[checkForCurrentSBLink(Documents) ? 'active': '']" class="dropdown-toggle" id="petition-documents" data-toggle="dropdown">
                      <span class="ico-dependents"></span>
                      <span>Documents</span>
                      <span class="ico-arrow"></span>
                  </a>
                  <ul class="listsidemenu" role="menu" *ngIf="immipetitiondoc" aria-labelledby="petition-documents">
                      <li>
                          <a (click)="appservice.moveToPage('immigrationview-petition-document-repository');highlightSBLink('Doc Repository')" [ngClass]="[checkForCurrentSBLink('Doc Repository') ? 'active': '']" routerLinkActive="active">Doc Repository</a>
                      </li>
                      <li>
                          <a (click)="appservice.moveToPage('immigrationview-document-management');highlightSBLink('Doc Management')" [ngClass]="[checkForCurrentSBLink('Doc Management') ? 'active': '']" routerLinkActive="active">Doc Management</a>
                      </li>
                  </ul>
              </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-petition-notes');highlightSBLink('Notes')" [ngClass]="[checkForCurrentSBLink('Notes') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-questionnaire"></span>
                  <span>Notes</span>
              </a>
          </li>
          </ul>

      <ul class="nav navbar-nav" *ngIf="sideBarMenu=='immigrationview-client'">
          <li>
              <a (click)="appservice.moveToPage('immigrationview-client-details');highlightSBLink('Client Details')" [ngClass]="[checkForCurrentSBLink('Client Details') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-client-details"></span>
                  <span>Client Details</span>
              </a>
          </li>
          <li>
            <a (click)="appservice.moveToPage('immigrationview-petitions');highlightSBLink('Petitions')" [ngClass]="[checkForCurrentSBLink('Petitions') ? 'active': '']" routerLinkActive="active">
              <span class="ico-history"></span>
              <span>Petitions</span>
            </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-addressinfo');highlightSBLink('Address')" [ngClass]="[checkForCurrentSBLink('Address') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-address"></span>
                  <span>Address</span>
              </a>
          </li>
          <li ngbDropdown class="dropdown">
              <a (click)="appservice.moveToPage('immigrationview-dependents');highlightSBLink('Dependents')" [ngClass]="[checkForCurrentSBLink('Dependents') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" id="dependents" data-toggle="dropdown">
                  <span class="ico-dependents"></span>
                  <span>Dependents</span>
                  <span class="ico-arrow"></span>
              </a>
              <ul class="listsidemenu" role="menu" aria-labelledby="dependents" name="dependents-list" ngDefaultControl *ngIf="appservice.dependents&&immidependents" [(ngModel)]="appservice.dependents">
                  <li *ngFor='let value of appservice.dependents'><a (click)="appservice.moveToPageWithParams('dependentDetails',value.dependentId);highlightSBLink(value.firstName)" [ngClass]="[checkForCurrentSBLink(value.firstName) ? 'active': '']" routerLinkActive="active">{{value.firstName}}</a></li>
              </ul>

          </li>
          <li ngbDropdown class="dropdown">
              <a (click)="appservice.moveToPage('immigrationview-client-document-repository');highlightSBLink('Documents')" [ngClass]="[checkForCurrentSBLink('Documents') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" id="documents" data-toggle="dropdown">
                  <span class="ico-dependents"></span>
                  Documents
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-document-expirations');highlightSBLink('Documents Expirations')" [ngClass]="[checkForCurrentSBLink('Documents Expirations') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-documents-expirations"></span>
                  <span>Document Expirations</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-passport-info');highlightSBLink('Passport Info')" [ngClass]="[checkForCurrentSBLink('Passport Info') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-passport-info"></span>
                  <span>Passport Info</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-job-details');highlightSBLink('Job Details')" [ngClass]="[checkForCurrentSBLink('Job Details') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-job-details"></span>
                  <span>Job Details</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-arrival-departure-info');highlightSBLink('Arrival Desparture Inf')" [ngClass]="[checkForCurrentSBLink('Arrival Desparture Inf') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-arrival-desparture-info"></span>
                  <span>Arrival Departure Info</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-visas');highlightSBLink('Visas')" [ngClass]="[checkForCurrentSBLink('Visas') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-arrival-desparture-info"></span>
                  <span>Visas</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('immigrationview-I-797-history');highlightSBLink('I -797 History')" [ngClass]="[checkForCurrentSBLink('I -797 History') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-history"></span>
                  <span>I -797 History</span>
              </a>
          </li>
           <li>
              <a (click)="appservice.moveToPage('smarttable-i797');highlightSBLink('smarttable-i797')" [ngClass]="[checkForCurrentSBLink('smarttable-i797') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-history"></span>
                  <span>I -797 History Smarttable</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('smarttable-visas');highlightSBLink('smarttable-visas')" [ngClass]="[checkForCurrentSBLink('smarttable-visas') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-history"></span>
                  <span>Smart Table Visas</span>
              </a>
          </li>

      </ul>

      <ul class="nav navbar-nav" *ngIf="sideBarMenu=='manageaccount'">
          <li ngbDropdown class="dropdown">
              <a (click)="appservice.moveToPage('manageaccount-user');highlightSBLink('User')" [ngClass]="[checkForCurrentSBLink('User') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                  <span class="ico-users"></span>
                  <span>User</span>
                  <span class="ico-arrow"></span>
              </a>
              <ul class="listsidemenu" role="menu" aria-labelledby="users" name="users" ngDefaultControl *ngIf="appservice.usersList&&manageuser" [(ngModel)]="appservice.usersList">
                  <li *ngFor='let value of appservice.usersList'><a (click)="appservice.moveToPageWithParams('user-details',value);highlightSBLink(value.firstName);" [ngClass]="[checkForCurrentSBLink(value.firstName) ? 'active': '']" routerLinkActive="active">{{value.firstName}}</a></li>
              </ul>
          </li>
          <li>
              <a (click)="appservice.moveToPage('manageaccount-organizations');highlightSBLink('Organizations')" [ngClass]="[checkForCurrentSBLink('Organizations') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-flight"></span>
                  <span>Organizations</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('manageaccount-petitiontypestages');highlightSBLink('Petition Type Stages')" [ngClass]="[checkForCurrentSBLink('Petition Type Stages') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-flight"></span>
                  <span>Petition Type Stages</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('manageaccount-shippingaddress');highlightSBLink('Shipping Address')" [ngClass]="[checkForCurrentSBLink('Shipping Address') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-flight"></span>
                  <span>Shipping Address</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('manageaccount-preferences');highlightSBLink('Account Preferences')" [ngClass]="[checkForCurrentSBLink('Account Preferences') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-flight"></span>
                  <span>Account Preferences</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('manageaccount-invoices');highlightSBLink('Invoices')" [ngClass]="[checkForCurrentSBLink('Invoices') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-flight"></span>
                  <span>Invoices</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('manageaccount-payments');highlightSBLink('Payments')" [ngClass]="[checkForCurrentSBLink('Payments') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-flight"></span>
                  <span>Payments</span>
              </a>
          </li>
          <li>
              <a (click)="appservice.moveToPage('manageaccount-markfordeletion');highlightSBLink('markfordeletion')" [ngClass]="[checkForCurrentSBLink('markfordeletion') ? 'active': '']" routerLinkActive="active">
                  <span class="ico-flight"></span>
                  <span>Mark For Deletion</span>
              </a>
          </li>
      </ul>

      <ul class="nav navbar-nav" *ngIf="sideBarMenu=='immiview-reports'">
          <li ngbDropdown class="dropdown">
              <a (click)="appservice.moveToPage('immiview-petitionreports');highlightSBLink('immiview-petitionreports')" [ngClass]="[checkForCurrentSBLink('immiview-petitionreports') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                  <span class="ico-users"></span>
                  <span>Petitions</span>
                  <span class="ico-arrow"></span>
              </a>
              <ul class="listsidemenu" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                  <li>
                      <a (click)="appservice.moveToPage('immiview-petitionreports');highlightSBLink('immiview-petitionreports')" [ngClass]="[checkForCurrentSBLink('immiview-petitionreports') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Staus</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="appservice.moveToPage('immiview-petiontypes');highlightSBLink('immiview-petiontypes')" [ngClass]="[checkForCurrentSBLink('immiview-petiontypes') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Types</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="appservice.moveToPage('immiview-petionstagereports');highlightSBLink('immiview-petionstagereports')" [ngClass]="[checkForCurrentSBLink('immiview-petionstagereports') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Stage</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="appservice.moveToPage('manageaccount-invoices');highlightSBLink('Invoices')" [ngClass]="[checkForCurrentSBLink('Invoices') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Final Action</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="appservice.moveToPage('immiview-petiontagreports');highlightSBLink('immiview-petiontagreports')" [ngClass]="[checkForCurrentSBLink('immiview-petiontagreports') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Tag</span>
                      </a>
                  </li>
                  <!--<li>
                      <a (click)="appservice.moveToPage('manageaccount-invoices');highlightSBLink('Invoices')" [ngClass]="[checkForCurrentSBLink('Invoices') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Timeline</span>
                      </a>
                  </li>-->
              </ul>
          </li>
          <li ngbDropdown class="dropdown">
              <a (click)="appservice.moveToPage('immiview-clientstatusreports');highlightSBLink('immiview-clientstatusreports')" [ngClass]="[checkForCurrentSBLink('immiview-clientstatusreports') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                  <span class="ico-users"></span>
                  <span>Clients</span>
                  <span class="ico-arrow"></span>
              </a>
              <ul class="listsidemenu" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                  <li>
                      <a (click)="appservice.moveToPage('immiview-clientstatusreports');highlightSBLink('immiview-clientstatusreports')" [ngClass]="[checkForCurrentSBLink('immiview-clientstatusreports') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Staus</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="appservice.moveToPage('immiview-clientscreated');highlightSBLink('immiview-clientscreated')" [ngClass]="[checkForCurrentSBLink('immiview-clientscreated') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Created</span>
                      </a>
                  </li>
              </ul>
          </li>
          <li ngbDropdown class="dropdown">
              <a (click)="appservice.moveToPage('manageaccount-user');highlightSBLink('User')" [ngClass]="[checkForCurrentSBLink('User') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                  <span class="ico-users"></span>
                  <span>Users</span>
                  <span class="ico-arrow"></span>
              </a>
              <ul class="listsidemenu" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                  <li>
                      <a (click)="appservice.moveToPage('manageaccount-invoices');highlightSBLink('Invoices')" [ngClass]="[checkForCurrentSBLink('Invoices') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Total Petitions</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="appservice.moveToPage('manageaccount-invoices');highlightSBLink('Invoices')" [ngClass]="[checkForCurrentSBLink('Invoices') ? 'active': '']" routerLinkActive="active">
                          <span class="ico-flight"></span>
                          <span>Open petitions</span>
                      </a>
                  </li>
              </ul>
          </li>
          </ul>

          <ul class="nav navbar-nav" *ngIf="sideBarMenu=='organization'">
              <li>
                  <a (click)="appservice.moveToPage('organization');highlightSBLink('Org Details')" [ngClass]="[checkForCurrentSBLink('Org Details') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-flight"></span>
                      <span>Org Details</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('immigrationview-organization-document-repository');highlightSBLink('Documents')" [ngClass]="[checkForCurrentSBLink('Documents') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-flight"></span>
                      <span>Documents</span>
                  </a>
              </li>
          </ul>

          <ul class="nav navbar-nav" *ngIf="sideBarMenu=='clientView-client'">
              <li>
                  <a (click)="appservice.moveToPage('clientview-client-details');highlightSBLink('ClientDetails')" [ngClass]="[checkForCurrentSBLink('ClientDetails') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-client-details"></span>
                      <span>Client Details</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('clientview-addressinfo');highlightSBLink('Address')" [ngClass]="[checkForCurrentSBLink('Address') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-address"></span>
                      <span>Address</span>
                  </a>
              </li>
              <li ngbDropdown class="dropdown">
                  <a (click)="appservice.moveToPage('clientview-dependents');highlightSBLink('Dependents')" [ngClass]="[checkForCurrentSBLink('Dependents') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" id="clientView-dependents">
                      <span class="ico-dependents"></span>
                      <span>Dependents</span>
                      <span class="ico-arrow"></span>
                  </a>
                  <ul class="listsidemenu" role="menu" aria-labelledby="dependents" name="dependents-list" ngDefaultControl *ngIf="appservice.dependents&&clientdependents" [(ngModel)]="appservice.dependents">
                      <li *ngFor='let value of appservice.dependents'><a (click)="appservice.moveToPageWithParams('dependentDetails',value.dependentId);highlightSBLink(value.firstName)" [ngClass]="[checkForCurrentSBLink(value.firstName) ? 'active': '']" routerLinkActive="active">{{value.firstName}}</a></li>
                  </ul>
              </li>
              <!--<li ngbDropdown class="dropdown">
                <a (click)="clientDocClick();highlightSBLink('Documents')" [ngClass]="[checkForCurrentSBLink('Documents') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" id="clientView-documents" routerLinkActive="active">
                    <span class="ico-documents"></span>
                    <span>Documents</span>
                    <span class="ico-arrow"></span>
                </a>
                <ul class="listsidemenu" *ngIf="clientdoctrue" role="menu" aria-labelledby="dependents" name="dependents-list" ngDefaultControl>
                    <li (click)="appservice.selectedOrgClienttId=value.clientId;appservice.moveToPage('clientview-documents');highlightSBLink(value.orgName)" [ngClass]="[checkForCurrentSBLink(value.orgName) ? 'active': '']" *ngFor='let value of docsideBarMenu'><a routerLinkActive="active">{{value.orgName}}</a></li>

                </ul>
            </li>-->
              <li>
                  <a (click)="appservice.moveToPage('clientview-document-expirations');highlightSBLink('Documents Expirations')" [ngClass]="[checkForCurrentSBLink('Documents Expirations') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-documents-expirations"></span>
                      <span>Document Expirations</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('clientview-passport-info');highlightSBLink('Passport Info')" [ngClass]="[checkForCurrentSBLink('Passport Info') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-passport-info"></span>
                      <span>Passport Info</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('clientview-job-details');highlightSBLink('Job Details')" [ngClass]="[checkForCurrentSBLink('Job Details') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-job-details"></span>
                      <span>Job Details</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('clientview-arrival-desparture-info');highlightSBLink('Arrival Desparture Info')" [ngClass]="[checkForCurrentSBLink('Arrival Desparture Info') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-arrival-desparture-info"></span>
                      <span>Arrival Departure Info</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('clientview-visas');highlightSBLink('Visas')" [ngClass]="[checkForCurrentSBLink('Visas') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-visas"></span>
                      <span>Visas</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('clientview-I-797-history');highlightSBLink('I -797 History')" [ngClass]="[checkForCurrentSBLink('I -797 History') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-history"></span>
                      <span>I -797 History</span>
                  </a>
              </li>
          </ul>
          <ul class="nav navbar-nav" *ngIf="sideBarMenu=='clientview-document'">
              <li *ngFor='let value of docsideBarMenu'>
                  <a (click)="appservice.selectedOrgClienttId=value.clientId;appservice.moveToPageWithParams('clientview-documents',value.clientId);highlightSBLink(value.orgName)" [ngClass]="[checkForCurrentSBLink(value.orgName) ? 'active': '']" routerLinkActive="active">{{value.orgName}}</a>
              </li>

          </ul>
          <ul class="nav navbar-nav" *ngIf="sideBarMenu=='clientview-Questionnaire'">
              <li ngbDropdown class="dropdown">
                  <a (click)="appservice.moveToPage('clientview-Questionnaries');highlightSBLink('Questionnaires')" [ngClass]="[checkForCurrentSBLink('Questionnaires') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" id="clientView-questionnaires" routerLinkActive="active">
                      <span class="ico-flight"></span>
                      <span>Questionnaires</span>
                      <span class="ico-arrow"></span>
                  </a>
                  <ul class="listsidemenu" *ngIf="clientQuest" role="menu" aria-labelledby="clientView-questionnaires">
                    
                      <li *ngFor='let value of appservice.dependentsname'><a (click)="appservice.questionaryName=value.questionnaireId;appservice.moveToQuestionnaire(value);highlightSBLink(value.questionnaireName)" [ngClass]="[checkForCurrentSBLink(value.questionnaireName) ? 'active': '']" routerLinkActive="active">{{value.questionnaireName}}</a></li>
                  </ul>
              </li>
          </ul>

          <ul class="nav navbar-nav" *ngIf="sideBarMenu=='superuser-accounts'">
              <li>
                  <a (click)="appservice.moveToPage('account-details');highlightSBLink('Account Details')" [ngClass]="[checkForCurrentSBLink('Account Details') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-history"></span>
                      <span>Account Details</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('superuserview-accountmanagers');highlightSBLink('Account Managers')" [ngClass]="[checkForCurrentSBLink('Account Managers') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-history"></span>
                      <span>Account Managers</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('superuserview-preference');highlightSBLink('superuserview-preference')" [ngClass]="[checkForCurrentSBLink('superuserview-preference') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-history"></span>
                      <span>Account Preferences</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('accountdetails-invoice');highlightSBLink('Account Details Invoices')" [ngClass]="[checkForCurrentSBLink('Account Details Invoices') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-history"></span>
                      <span>Invoices</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('accountdetails-payments');highlightSBLink('Payments')" [ngClass]="[checkForCurrentSBLink('Payments') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-flight"></span>
                      <span>Payments</span>
                  </a>
              </li>

          </ul>

          <ul class="nav navbar-nav" *ngIf="sideBarMenu=='superuserview-product'">
              <li>
                  <a (click)="appservice.moveToPage('superuserview-productcatalog');highlightSBLink('Products')" [ngClass]="[checkForCurrentSBLink('Products') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-history"></span>
                      <span>Products</span>
                  </a>
              </li>
              <li>
                  <a (click)="appservice.moveToPage('superuserview-productcatalog-discounts');highlightSBLink('Discounts')" [ngClass]="[checkForCurrentSBLink('Discounts') ? 'active': '']" routerLinkActive="active">
                      <span class="ico-history"></span>
                      <span>Discounts</span>
                  </a>
              </li>
          </ul>
</div>

