<!DOCTYPE html>
<html>
<head>
    <title>The Immigration Hub</title>
  
</head>
<body>
    <div id='toTop'>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <div class="container-fluid" *ngIf="getloginpage">
        <div class="row">
            <div class="top-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 no-pad"><img src="../../../../../assets/images/web/logo.png" class="logo img-responsive"><a (click)="loginPopup()" class="login">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="contact">
                    <a href="mailto:info@immigrationhub.com" class="email"><img src="../../../../../assets/images/web/mail@2x.png"> Info@immigrationhub.com</a>
                    <a href="#" class="phone"><img src="../../../../../assets/images/web/phone-call@2x.png"> +1-203-444-0170</a>
                    <nav class="navbar navbar-inverse navbar-static-top main-nav" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navitems">
                                <li><a (click)="appService.moveToPage('login')">Home</a></li>
                                <li><a (click)="appService.moveToPage('web-immigration-services')" class="active">Immigration Services</a></li>
                                <li><a (click)="appService.moveToPage('web-pricing')">Pricing</a></li>
                                <li><a (click)="appService.moveToPage('web-aboutus')">About Us</a></li>
                                <li><a (click)="appService.moveToPage('web-features')">Features</a></li>
                                <li><a (click)="appService.moveToPage('web-getintouch')">Get In Touch</a></li>
                                <li><a href="#" class="req-demo">Request Demo</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blueHeader">Immigration Management Software</div>

            <div class="container">
                <div class="row">
                    <h1 class="iph">Firms</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bhoechie-tab-menu">
                        <div class="list-group">
                            <a (click)="showConctent = 'i9-eVerify'" class="list-group-item active">I-9 and E-Verify Compliance Solution</a>
                            <a (click)="showConctent = 'h1h2Visas'" class="list-group-item">H1 and H2 Visas</a>
                            <a class="list-group-item">B1 and B2</a>
                            <a class="list-group-item">Immigration Software Serveces</a>
                            <a class="list-group-item">I-9 and E-Verify Compliance Solution</a>
                            <div class="clicktocall">
                                <h3>Contact Us</h3>
                                <span>+1-203-444-1528</span>
                                <a href="mailto:info@immigrationhub.com">info@immigrationhub.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bhoechie-tab">
                        <!-- flight section -->
                        <div *ngIf="showConctent == 'i9-eVerify'" class="bhoechie-tab-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="contentheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <img src="../../../../../assets/images/web/cnt-img.jpg" class="img-responsive">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                </div>
                            </div>
                        </div>
                        <!-- train section -->
                        <div  *ngIf="showConctent == 'h1h2Visas'" class="bhoechie-tab-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="contentheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <img src="../../../../../assets/images/web/cnt-img.jpg" class="img-responsive">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                </div>
                            </div>
                        </div>

                        <!-- hotel search -->
                        <div class="bhoechie-tab-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="contentheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <img src="../../../../../assets/images/web/cnt-img.jpg" class="img-responsive">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                </div>
                            </div>
                        </div>
                        <div class="bhoechie-tab-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="contentheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <img src="../../../../../assets/images/web/cnt-img.jpg" class="img-responsive">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                </div>
                            </div>
                        </div>
                        <div class="bhoechie-tab-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="contentheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <img src="../../../../../assets/images/web/cnt-img.jpg" class="img-responsive">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-links">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h1>Immigration Hub</h1>
                            <a href="mailto:info@immigrationhub.com" class="email"><img src="../../../../../assets/images/web/mail@2x.png"> Info@immigrationhub.com</a>
                            <a href="#" class="phone" style="margin: 0px;"><img src="../../../../../assets/images/web/phone-call@2x.png"> +1-203-444-0170</a><br>
                            610 Overlook Circle Suite 323<br>
                            Kalamazoo, MI 49009
                        </div>
                        <div class="col-md-4">
                            <h4>Explore</h4>
                            <ul class="flinks">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Immigration Services</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                            <ul class="flinks">
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Get In Touch</a></li>
                                <li><a href="#">Doc Storage</a></li>
                                <li><a href="#">Saas Application</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>Social</h4>
                            <ul class="slinks">
                                <li><a href="#" class="fb"></a></li>
                                <li><a href="#" class="twitter"></a></li>
                                <li><a href="#" class="insta"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            CopyRights @ Immigration Hub
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--<script type="text/javascript">
         $(document).ready(function() {
             $("div.bhoechie-tab-menu>div.list-group>a.list-group-item").click(function (e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
    </script>-->
    <script type="text/javascript">
         $(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('#toTop').fadeIn();
    } else {
        $('#toTop').fadeOut();
    }
});

         $('#toTop').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
 });
    </script>
</body>
</html>
