<div class="container-fluid login-bg no-pad" *ngIf="getloginpage">
	<div class="login_side">
		<div class="login_text">
			<h4>Welcome to Immigration Hub</h4>
			<p>Next gen case management, automation and document management
				application for your immigration needs</p>
		</div>
	</div>
	<div class="login_main">
		<div class="col-md-7 pull-right">
			<a (click)="loginPopup()" class="loginbtn">Login</a>
			<div class="login_maintext">
				<h4>Welcome to Immigration Hub</h4>
				<p>Next gen case management, automation and document management
					application for your immigration needs</p>
			</div>
		</div>
	</div>
</div>

<div *ngIf="loginPopupForm">
	<div class="modal-dialog loginpopup" ngDraggable style="margin-top:5% !important;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<img src="../../../assets/images/logo.png" />
				</h4>

				<button type="button" class="close" (click)="close()" style="margin-top: -50px;margin-right: 10px;">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<form action="" [formGroup]="login"
									(ngSubmit)="onSubmitClick(login.value, login.valid)"
									autocomplete="off">
									<!--<h2>Immigration Hub</h2>-->
									<div class="form-group row" [hidden]="!message">
										{{message}}</div>
									<div class="form-group" *ngIf="forgotPwd==true">
										<div class="user_id">
											<!--<label>Email</label>-->
											<div class="emailicon"></div>
											<input type="email" class="form-control" id="userId"
												placeholder="Email Address" formControlName="emailId" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    required />
										</div>
										<div class="password">
											<!--<label>PASSWORD</label>-->
											<div class="pwdicon"></div>
											<input type="password" class="form-control"
												id="inputPassword3" placeholder="Password"
												formControlName="password" required />
										</div>
										<div class="sign_in">
											<button type="submit" class="btn newlogbtn" [disabled]="!login.valid">Sign in</button>
										</div>
										<div class="forgot_password">
											<a (click)="frgtPwd(login.valid)">Forgot Password?</a>
										</div>
									</div>
									<div class="form-group" *ngIf="forgotPwd==false">
										<div class="user_id">
											<!--<label>Enter Registered Email Id</label>-->
											<div class="emailicon"></div>
											<input type="email" class="form-control" id="forgetPassword" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    required placeholder="Email" formControlName="emailId">
										</div>
										<div class="sign_in">
											<button type="submit" class="btn newlogbtn" [disabled]="!login.valid">Submit</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div *ngIf="selectrole">
	<div class="modal-dialog orgnamebox" ngDraggable>
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{title}}</h4>
				<button type="button" class="close" (click)="multiRolepopupClose()">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li *ngFor="let user of userRoles" (click)="selectedRole(user)">
								{{getRoleName(user)}}</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
