<div class="main-content">
    <h1>{{appService.firstName}} {{appService.lastName}}</h1>
    <ul class="breadcrumb">
        <li><a href="#">Clients</a></li>
        <li><a href="#">Visas</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data-forms">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="no-pad-left">Work Address</h2>
                            <button type="submit" (click)="addressedit('WORK')" value="Edit" class="editbtn  no-marg-right" *ngIf="workedit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="workedit">
                                <button type="button" (click)="cancelEdit('WORK')" class="editbtn tbl-head-btn" *ngIf="workedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.country}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.country" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.street1}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.street2}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.aptType}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.aptType" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.city}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.county}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.state}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.address.zipCode}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Tele Phone</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.telephone}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.telephone" /></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.fax}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Working Since</label></div>
                        <div class="col-md-8" *ngIf="workedit==true"><span>{{WorkaddressinfoList.residingSince}}</span></div>
                        <div class="col-md-8" *ngIf="workedit==false"><input type="text" [(ngModel)]="WorkaddressinfoList.residingSince" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="workedit">
                                <button type="button" (click)="cancelEdit('WORK')" class="editbtn tbl-head-btn bottombtns" *ngIf="workedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="no-pad-left">Residence Address</h2>
                            <button type="submit" (click)="addressedit('RESIDENCE')" value="Edit" class="editbtn  no-marg-right" *ngIf="residenceedit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="residenceedit">
                                <button type="button" (click)="cancelEdit('RESIDENCE')" class="editbtn tbl-head-btn" *ngIf="residenceedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveClientAdress('RESIDENCE')" *ngIf="residenceedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.country}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.country" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.street1}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.street2}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.aptType}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.aptType" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.city}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.county}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.state}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.address.zipCode}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Tele Phone</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.telephone}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.telephone" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.fax}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Residing Since</label></div>
                        <div class="col-md-8" *ngIf="residenceedit==true"><span>{{ResidenceaddressinfoList.residingSince}}</span></div>
                        <div class="col-md-8" *ngIf="residenceedit==false"><input type="text" [(ngModel)]="ResidenceaddressinfoList.residingSince" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="residenceedit">
                                <button type="button" (click)="cancelEdit('RESIDENCE')" class="editbtn tbl-head-btn bottombtns" *ngIf="residenceedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveClientAdress('RESIDENCE')" *ngIf="residenceedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="no-pad-left">Mailing Address</h2>
                            <button type="submit" (click)="addressedit('MAILING')" value="Edit" class="editbtn  no-marg-right" *ngIf="mailingedit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="mailingedit">
                                <button type="button" (click)="cancelEdit('MAILING')" class="editbtn tbl-head-btn" *ngIf="mailingedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.country}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.country" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.street1}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.street2}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.aptType}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.aptType" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.city}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.county}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.state}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.address.zipCode}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Tele Phone</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.telephone}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.telephone" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <div class="col-md-8" *ngIf="mailingedit==true"><span>{{MailingaddressinfoList.fax}}</span></div>
                        <div class="col-md-8" *ngIf="mailingedit==false"><input type="text" [(ngModel)]="MailingaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="mailingedit">
                                <button type="button" (click)="cancelEdit('MAILING')" class="editbtn tbl-head-btn bottombtns" *ngIf="mailingedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="no-pad-left">Foreign Address</h2>
                            <button type="submit" (click)="addressedit('FOREIGN')" value="Edit" class="editbtn  no-marg-right" *ngIf="foreignedit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="foreignedit">
                                <button type="button" (click)="cancelEdit('FOREIGN')" class="editbtn tbl-head-btn" *ngIf="foreignedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Country</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.country}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.country" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 1</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.street1}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.street1" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Street 2</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.street2}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.street2" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.aptType}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.aptType" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>City</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.city}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.city" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>County</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.county}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.county" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>State</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.state}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.state" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Zip Code</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.address.zipCode}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.address.zipCode" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Tele Phone</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.telephone}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.telephone" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Fax</label></div>
                        <div class="col-md-8" *ngIf="foreignedit==true"><span>{{ForiegnaddressinfoList.fax}}</span></div>
                        <div class="col-md-8" *ngIf="foreignedit==false"><input type="text" [(ngModel)]="ForiegnaddressinfoList.fax" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="foreignedit">
                                <button type="button" (click)="cancelEdit('FOREIGN')" class="editbtn tbl-head-btn bottombtns" *ngIf="foreignedit==false">Cancel</button>
                                <button type="submit" value="Save" class="savebtn bottombtns" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
