<div class="main-content">
    <div class="clearfix"></div>
    <div class="table-data-forms">
        <div class="row">
            <div class="col-md-12 addresbox box-shadow">
                <div class="row">
                    <div class="col-md-3"><label for="fname">Current password</label></div>
                    <div class="col-md-4">
                        <input type="password" placeholder="current password" [(ngModel)]="profilechange.currentpwd"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label for="fname">New password</label></div>
                    <div class="col-md-4">
                        <input type="password" placeholder="New password" [(ngModel)]="profilechange.newpwd"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label for="fname">Retype New password</label></div>
                    <div class="col-md-4">
                        <input type="password" placeholder="Retype New password" [(ngModel)]="profilechange.retypenewpwd"/>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary" (click)="changepwd()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
