<!--<div>
            <div style="display:inline" *ngFor="let x of filterWholeArray let i=index">
                <span style="margin-left:10px;">{{x.headingName}}</span>:<span>{{x.filterValue}}</span><span style="position:absolute;top: 118px;" class="close" (click)="delete(i,x)">&times;</span>
            </div>
            
</div>

<smart-table [settings]="settings" [data]="data" [pagination]="true" [paginationPageSize]="10" [paginationRandomPage]="false" [addButton]="false"></smart-table>
-->